Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/explorer, services/omnirpc, services/scribe, tools

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  agents:
    paths:
      - agents/*
    carryforward: true
  contrib/git-changes-action:
    paths:
      - contrib/git-changes-action/*
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/*
    carryforward: true
  contrib/terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/*
    carryforward: true
  contrib/terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/*
    carryforward: true
  contrib/terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/*
    carryforward: true
  contrib/tfcore:
    paths:
      - contrib/tfcore/*
    carryforward: true
  core:
    paths:
      - core/*
    carryforward: true
  ethergo:
    paths:
      - ethergo/*
    carryforward: true
  services/explorer:
    paths:
      - services/explorer/*
    carryforward: true
  services/omnirpc:
    paths:
      - services/omnirpc/*
    carryforward: true
  services/scribe:
    paths:
      - services/scribe/*
    carryforward: true
  tools:
    paths:
      - tools/*
    carryforward: true



ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '*/test/*.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/test/*.sol'
  - 'services/scribe/grpc/client/*'

Fixing deployers to only have summit deployed on chain id 10
  agents/testutil/simulated_backends_suite.go
  agents/testutil/suite_test.go
  ethergo/backends/preset/presets.go
Due: none

[][]byte to []string for proof
  agents/agents/executor/db/datastore/sql/base/model.go
  agents/agents/executor/db/datastore/sql/base/state.go
  agents/agents/executor/db/datastore/sql/base/state_test.go
  agents/agents/executor/types/db_state.go
Due: none

fixing dupl lint error
  agents/testutil/deployers.go
Due: none

trying another lint fix
  agents/testutil/deployers.go
Due: none

another lint error, argh
  agents/testutil/deployers.go
Due: none

use json for proof in db
  agents/agents/executor/db/datastore/sql/base/model.go
  agents/agents/executor/db/datastore/sql/base/state.go
  agents/agents/executor/db/datastore/sql/base/state_test.go
  agents/agents/executor/db/executor_db.go
  agents/agents/executor/executor.go
  agents/agents/executor/types/db_state.go
Due: none

state type and executor use (#628)
  agents/agents/executor/config/config.go
  agents/agents/executor/db/datastore/sql/base/base_store.go
  agents/agents/executor/db/datastore/sql/base/model.go
  agents/agents/executor/db/datastore/sql/base/state.go
  agents/agents/executor/db/datastore/sql/base/state_test.go
  agents/agents/executor/db/executor_db.go
  agents/agents/executor/executor.go
  agents/agents/executor/executor_utils.go
  agents/agents/executor/types/db_state.go
  agents/contracts/summit/generate.go
  agents/contracts/summit/helpers.go
  agents/contracts/summit/parser.go
  agents/types/snapshot.go
Due: none

up
  packages/synapse-interface/components/misc/CoinSlideOver.tsx
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/bridge/BridgeCard.tsx
  packages/synapse-interface/pages/bridge/BridgeInputContainer/ChainLabel.tsx
  packages/synapse-interface/pages/bridge/BridgeInputContainer/index.tsx
  packages/synapse-interface/pages/bridge/TokenMenuItem.tsx
  packages/synapse-interface/pages/bridge/index.tsx
  packages/synapse-interface/tailwind.config.js
  yarn.lock
Due: none

first pass on work changes
  agents/go.mod
  contrib/git-changes-action/go.mod
  contrib/release-copier-action/go.mod
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-kubeproxy/go.mod
  ethergo/go.mod
  go.work.sum
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/scribe/go.mod
  tools/go.mod
Due: agents, contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, ethergo, services/explorer, services/omnirpc, services/scribe, tools

second pass
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  ethergo/go.mod
  ethergo/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, ethergo, services/explorer, services/omnirpc, services/scribe, tools

first pass at make tidy
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Due: contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/omnirpc, services/scribe, tools

commit again
  make/repo.Makefile
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Due: services/omnirpc, services/scribe, tools

cleanup
  services/scribe/go.sum
Due: services/scribe

fix reomte includes
  contrib/git-changes-action/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.sum
  core/go.sum
  ethergo/go.sum
  services/omnirpc/go.sum
  tools/go.sum
Due: contrib/git-changes-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/omnirpc, tools

use go work
  .github/workflows/go.yml
Due: none

Fix go workspace
  .github/workflows/go.yml
Due: none

check if latest golangci-lint works
  .github/workflows/go.yml
Due: none

lint fix
  .github/workflows/go.yml
Due: none

bump deps
  agents/go.mod
  agents/go.sum
  agents/script.sh
  go.work.sum
Due: agents

Revert "bump deps"
  agents/go.mod
  agents/go.sum
  agents/script.sh
  go.work.sum
Due: agents

correct address
  packages/sdk-router/src/constants/index.ts
Due: none

bulk dependency update
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  make/go.Makefile
  make/repo.Makefile
  make/scripts/bump-deps.sh
  make/scripts/go-lint.sh
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/explorer, services/omnirpc, services/scribe, tools

update addresses (#624)
  packages/sdk-router/src/constants/index.ts
Due: none

Publish
  packages/contracts-core/CHANGELOG.md
  packages/contracts-core/package.json
  packages/coverage-aggregator/CHANGELOG.md
  packages/coverage-aggregator/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package-lock.json
  packages/explorer-ui/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
Due: none

Adding messaging 2 guard basic logs, no testing
  agents/agents/agentsintegration/agentsintegration_test.go
  agents/agents/guard/cmd/commands.go
  agents/agents/guard/guard.go
  agents/agents/guard/guard_test.go
  agents/agents/notary/cmd/commands.go
  agents/agents/notary/notary.go
  agents/agents/notary/notary_test.go
  agents/config/agent_config.go
  agents/config/config.go
  agents/config/domain.go
  agents/config/guard.go
  agents/config/notary.go
  agents/domains/domain.go
  agents/domains/evm/destination.go
  agents/domains/evm/origin.go
  agents/domains/evm/summit.go
  agents/types/snapshot.go
  charts/agents/values.yaml
Due: none

Bumping helm version after changing config
  charts/agents/Chart.yaml
Due: none

fixing lint errors
  agents/agents/guard/guard.go
  agents/agents/notary/notary.go
  agents/domains/domain.go
  agents/domains/evm/origin.go
Due: none

backup
  ethergo/backends/simulated/multibackend/chainid.go
  ethergo/backends/simulated/multibackend/simulated_gen.go
  ethergo/backends/simulated/multibackend/simulated_gen_test.go
  ethergo/chain/client/config.go
  ethergo/chain/gas/london/oracle_backend.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
Due: ethergo

fixing another lint error
  agents/agents/guard/guard.go
Due: none

Fixing domains test error
  agents/config/config.go
  agents/config/domain_test.go
  agents/config/guard.go
  agents/config/notary.go
Due: none

Script for complex forge flatten routine
  packages/contracts-core/script/sh/flatten.sh
Due: none

Update package.json
  packages/contracts-core/package.json
Due: none

Install foundry in Go workflows with flattening
  .github/workflows/go.yml
Due: none

Fix: lint
  packages/contracts-core/script/sh/flatten.sh
Due: none

attestation and executor marking message timestamp logic. need to do verify logic
  agents/agents/executor/db/attestation_test.go
  agents/agents/executor/db/datastore/sql/base/attestation.go
  agents/agents/executor/db/datastore/sql/base/attestation_test.go
  agents/agents/executor/db/datastore/sql/base/message.go
  agents/agents/executor/db/datastore/sql/base/model.go
  agents/agents/executor/db/datastore/sql/base/state.go
  agents/agents/executor/db/executor_db.go
  agents/agents/executor/executor.go
  agents/agents/executor/executor_utils.go
  agents/agents/executor/types/db_attestation.go
  agents/contracts/destination/parser.go
  agents/contracts/test/attestationharness/attestationharness.abigen.go
  agents/contracts/test/attestationharness/attestationharness.contractinfo.json
  agents/contracts/test/attestationharness/attestationharness.metadata.go
  agents/contracts/test/attestationharness/doc.go
  agents/contracts/test/attestationharness/generate.go
  agents/contracts/test/attestationharness/helpers.go
  agents/db/message.go
  agents/domains/domain.go
  agents/domains/evm/destination.go
  agents/testutil/contracttype.go
  agents/testutil/contracttypeimpl_string.go
  agents/testutil/harness.go
  agents/testutil/manager.go
  agents/testutil/typecast.go
  agents/types/attestation.go
  agents/types/encoder.go
  agents/types/encoder_test.go
  agents/types/parity_test.go
Due: none
