Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

version 7
  packages/synapse-constants/constants/assets/chains/index.ts
  packages/synapse-constants/constants/assets/explorer/index.ts
  packages/synapse-constants/constants/assets/icons/index.ts
  packages/synapse-constants/constants/assets/index.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
Due: none

another one
  packages/synapse-constants/constants/index.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/tsconfig.json
  packages/synapse-constants/webpack.config.js
Due: none

hail mary
  packages/synapse-constants/package.json
  packages/synapse-constants/tsconfig.json
Due: none

Log unexecuted txes
  tools/testnet/main.go
Due: tools

Validate agents on each iter
  tools/testnet/main.go
Due: tools

Cleanup: remove unused funcs
  tools/testnet/main.go
Due: tools

Fix: TestUpdateAgentStatusOnRemote
  agents/agents/executor/executor.go
  agents/agents/guard/fraud_test.go
  agents/agents/guard/suite_test.go
Due: agents

Fix: build
  agents/agents/guard/fraud_test.go
Due: agents

custom colors v1
  examples/with-react/public/synapse-logo.svg
  examples/with-react/src/App.tsx
  examples/with-react/src/index.css
  src/index.tsx
Due: none

Removes unused fields
  examples/with-react/src/App.tsx
  src/constants/index.ts
  src/hooks/useCustomTheme.ts
  src/index.css
  src/index.tsx
  tailwind.config.js
Due: none

Removes unused type
  src/constants/index.ts
  src/index.tsx
  src/types/index.d.ts
Due: none

Feat/wallet provider (#24)
  .prettierrc.json
  examples/with-react/src/App.tsx
  examples/with-react/src/hooks/useEthereumWallet.tsx
  package.json
  src/components/DoubleDownArrow.tsx
  src/components/DoubleUpArrow.tsx
  src/components/DownArrow.tsx
  src/components/Widget.tsx
  src/constants/index.ts
  src/index.css
  src/index.tsx
  src/providers/Web3Provider.tsx
  src/types/index.d.ts
  src/utils/cleanNumberInput.ts
  src/utils/fetchBridgeQuote.ts
  src/utils/formatBigIntToString.ts
  src/utils/formatRgb.ts
  src/utils/stringToBigInt.ts
  yarn.lock
Due: none

Add settings (#25)
  .vscode/settings.json
Due: none

Fix: remove AnvilGuardSuite, add shouldUseAnvil()
  agents/agents/executor/executor_test.go
  agents/agents/guard/fraud_test.go
  agents/agents/guard/suite_test.go
  agents/testutil/simulated_backends_suite.go
Due: agents

Use errgroup in runRoutes()
  tools/testnet/main.go
Due: tools

adding webpack bundling
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
Due: none

properly configured webpack with the necessary builds
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
Due: none

adding a js loader
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
Due: none

changing the compile script
  packages/synapse-constants/package.json
Due: none

even more edits to structure here
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
Due: none

trying something new
  packages/synapse-constants/index.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/tsconfig.json
  packages/synapse-constants/webpack.config.mjs
Due: none

Fix: do getProof() in submitTransaction func
  agents/agents/executor/executor.go
  agents/agents/guard/fraud.go
  agents/agents/guard/fraud_test.go
Due: agents

Fix: only do completeSlashing() for nonzero domain
  agents/agents/guard/fraud.go
  agents/agents/guard/fraud_test.go
Due: agents

Cleanup: remove logs
  agents/agents/executor/executor.go
  agents/agents/guard/fraud.go
  agents/agents/guard/fraud_test.go
Due: agents

Tailwind refinements (#26)
  examples/with-react/src/App.tsx
  examples/with-react/src/index.css
  src/components/Receipt.tsx
  src/components/Widget.tsx
  src/constants/index.ts
  src/index.css
  src/index.tsx
  src/types/index.d.ts
Due: none

Tailwind refinements (#27)
  examples/with-react/src/App.tsx
Due: none

fixed merge error
  examples/with-react/src/App.tsx
Due: none

Adds react-redux & rtk, base state/store (#28)
  package.json
  src/components/Widget.tsx
  src/index.tsx
  src/state/slices/bridge/reducer.ts
  src/state/store.ts
  src/types/index.d.ts
  tsconfig.json
  yarn.lock
Due: none

Custom theme variables (#29)
  examples/with-react/src/App.tsx
  src/components/DoubleDownArrow.tsx
  src/components/DoubleUpArrow.tsx
  src/components/DownArrow.tsx
  src/components/Receipt.tsx
  src/components/Widget.tsx
  src/constants/index.ts
  src/types/index.d.ts
Due: none

Adds Token & Chain selectors (#30)
  src/components/Receipt.tsx
  src/components/Widget.tsx
  src/components/icons/DoubleDownArrow.tsx
  src/components/icons/DoubleUpArrow.tsx
  src/components/icons/DownArrow.tsx
  src/components/ui/ChainPopoverSelect.tsx
  src/components/ui/ChainSelect.tsx
  src/components/ui/TokenPopoverSelect.tsx
  src/components/ui/TokenSelect.tsx
  src/hooks/usePopoverRef.ts
  src/state/hooks.ts
  src/state/slices/bridge/hooks.ts
  src/state/slices/bridge/reducer.ts
  src/types/index.d.ts
Due: none

update bl
  packages/contracts-core/Dest.sol
  packages/contracts-core/classDiagram.svg
  packages/synapse-interface/constants/blacklist.ts
Due: solidity

update bl (#1597)
  packages/contracts-core/Dest.sol
  packages/contracts-core/classDiagram.svg
  packages/synapse-interface/constants/blacklist.ts
Due: solidity

Publish
  packages/contracts-core/CHANGELOG.md
  packages/contracts-core/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: solidity

[goreleaser] Fix: don't return error on unexpected nonce
  agents/agents/executor/executor_utils.go
Due: agents

Config: update load config with bsc testnet
  tools/testnet/load-config.yaml
Due: tools

fix eth codename in constants and RPCs
  packages/synapse-interface/constants/chains/master.tsx
Due: none

fix eth codename in constants and RPCs (#1598)
  packages/synapse-interface/constants/chains/master.tsx
Due: none
