Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Feat: add commitPendingBalance
  services/rfq/relayer/service/handlers.go
Due: rfq

Canto upgrade maintenance
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

Canto upgrade maintenance
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

fix: banner date
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

lint fix
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/internal/const.go
  core/metrics/rookout.go
Due: screener-api, core

style: adjust placement of switch button
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/SwitchButton.tsx
Due: packages

fix: dropdown height shift on switch
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
Due: packages

feat(widget): switch button (#2993)
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/SwitchButton.tsx
Due: packages

feat(synapse-interface): canto upgrade maintenance (#2998)
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

add note about flags
  core/metrics/README.md
Due: core

more doc cleanup
  core/metrics/README.md
  core/metrics/internal/const.go
  core/metrics/rookout.go
Due: core

spell issue [goreleaser]
  core/metrics/README.md
  core/metrics/rookout.go
Due: core

clean up
  core/metrics/README.md
Due: core

first pass
  docs/bridge/docs/rfq/API/API.md
  docs/bridge/docs/rfq/Contracts.md
  docs/bridge/docs/rfq/Relayer/Relayer.md
Due: none

extra comments
  docs/bridge/docs/rfq/Relayer/Relayer.md
Due: none

Feat: add pending rebalance tracking in otel recorder
  services/rfq/relayer/service/otel.go
Due: rfq

Feat: getPendingRebalances() allows for no chainID filtering
  services/rfq/relayer/reldb/base/rebalance.go
Due: rfq

Fix: build
  services/rfq/relayer/service/relayer.go
Due: rfq

Cleanup: naming
  services/rfq/relayer/service/otel.go
Due: rfq

Fix: use proper gauge
  services/rfq/relayer/service/otel.go
Due: rfq

Cleanup: test flake
  services/rfq/e2e/setup_test.go
Due: rfq

Cleanup: lint
  services/rfq/e2e/setup_test.go
Due: rfq

Feat: check log address before verifying
  services/rfq/guard/service/handlers.go
Due: rfq

addressed @dwasse comments
  services/rfq/relayer/limiter/limiter.go
  services/rfq/relayer/limiter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/service/statushandler.go
Due: rfq

Feat: add tracing
  services/rfq/guard/service/handlers.go
Due: rfq

oops
  services/rfq/e2e/setup_test.go
Due: rfq

go.mod
  services/rfq/go.mod
  services/rfq/go.sum
Due: rfq

chain util ethaddressthing
  contrib/screener-api/go.mod
  ethergo/go.mod
  services/rfq/relayer/limiter/limiter_test.go
  services/rfq/relayer/limiter/suite_test.go
Due: screener-api, ethergo, rfq

Feat: add RelayerAddress to PendingProven model
  services/rfq/guard/guarddb/base/model.go
  services/rfq/guard/guarddb/db.go
Due: rfq

Feat: check relayer address
  services/rfq/guard/service/handlers.go
Due: rfq
