Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

feat: update InterchainDB
  packages/contracts-communication/contracts/InterchainDB.sol
Due: none

cleanup: remove entryIndex from DB
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
Due: none

feat: update ClientV1
  packages/contracts-communication/contracts/InterchainClientV1.sol
Due: none

test: update SynapseModule tests
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Due: none

cleanup: ClientV1
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
Due: none

cleanup: DB
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
Due: none

cleanup: Module
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/events/SynapseModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Due: none

cleanup: remove batch lib
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/test/harnesses/InterchainBatchLibHarness.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
Due: none

relaying
  docs/bridge/docs/CCTP/Relayer.md
  docs/bridge/docs/Observability.md
  docs/bridge/docs/rfq/Contracts.md
  docs/bridge/docs/rfq/RFQ.md
  docs/bridge/docs/rfq/Relayer/Relayer.md
Due: none

docs: smol fixes
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
Due: none

update bl
  packages/synapse-interface/public/blacklist.json
Due: none

Revert "update bl"
  packages/synapse-interface/public/blacklist.json
Due: none

feat(webhook): add webhook (#2538)
  .vscode/settings.json
  contrib/screener-api/client/client.go
  contrib/screener-api/config/config.go
  contrib/screener-api/db/db.go
  contrib/screener-api/db/db_test.go
  contrib/screener-api/db/models.go
  contrib/screener-api/db/sql/base/base.go
  contrib/screener-api/db/sql/base/namer.go
  contrib/screener-api/db/sql/mysql/store.go
  contrib/screener-api/db/sql/store.go
  contrib/screener-api/db/suite_test.go
  contrib/screener-api/docs/docs.go
  contrib/screener-api/docs/swagger.json
  contrib/screener-api/docs/swagger.yaml
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/screener-api/main.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
  ethergo/go.mod
  services/rfq/go.mod
  services/rfq/go.sum
Due: screener-api, ethergo, rfq

rfq api cache (#2562)
  services/rfq/api/rest/server.go
Due: rfq

screen cctp relayer [goreleaser]
  services/cctp-relayer/config/config.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/synapse.go
  services/cctp-relayer/types/state.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/quoter/quoter.go
Due: cctp-relayer, rfq

Typing, example env
  packages/interchain-explorer-api/.env.example
  packages/interchain-explorer-api/db/public.db
  packages/interchain-explorer-api/src/schema.ts
  packages/interchain-explorer-api/types.ts
Due: none

Adjust dates
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Due: none

fix screener [goreleaser]
  contrib/screener-api/screener/screener.go
Due: screener-api

cleanup
  contrib/screener-api/screener/screener.go
Due: screener-api

allow use of mustache templates
  charts/screener/Chart.yaml
  charts/screener/templates/configmap.yaml
Due: none

add trace to sync (#2601)
  charts/screener/Chart.yaml
  charts/screener/templates/configmap.yaml
  contrib/screener-api/screener/screener.go
Due: screener-api

remove iconfig file
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
Due: rfq

remove iconfig file (#2602)
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
Due: rfq

final touches
  docs/bridge/docs/CCTP/Relayer.md
  docs/bridge/docs/Services/Finality Considerations.md
  docs/bridge/docs/Services/Omnirpc.md
  docs/bridge/docs/Services/Screener.md
  docs/bridge/docs/Services/Scribe.md
  docs/bridge/docs/rfq/Relayer/Getting Started.md
  docs/bridge/docs/rfq/Relayer/Relayer.md
Due: none

feat: remove dbNonce from Module interface
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Due: none

cleanup: update Module interface references
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
Due: none

stage docs
  .github/workflows/ui-preview.yaml
Due: none

Publish
  packages/contracts-communication/CHANGELOG.md
  packages/contracts-communication/package.json
Due: none

nix deploy docs
  docs/bridge/README.md
Due: none

yarn
  docs/bridge/yarn.lock
Due: none

cleanup
  docs/bridge/README.md
Due: none

package update
  CODEOWNERS
  docs/bridge/package.json
Due: none

optional screener for cctp relayer (#2600)
  services/cctp-relayer/config/config.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/cctp-relayer/relayer/circle.go
  services/cctp-relayer/relayer/synapse.go
  services/cctp-relayer/types/state.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/quoter/quoter.go
Due: cctp-relayer, rfq

Remove line
  packages/widget/examples/landing-page/src/app/page.tsx
Due: packages

lock
  docs/bridge/package.json
  package.json
  yarn.lock
Due: none

doc fix
  yarn.lock
Due: none

cleaner
  docs/bridge/static/img/undraw_docusaurus_mountain.svg
Due: none
