Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Regenerate `committee`
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  committee/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
Due: committee

Fix committee E2E test
  committee/node/e2e_test.go
Due: committee

Cleanup unused/deprecated functions
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/contracts/libs/ModuleBatch.sol
  packages/contracts-communication/test/harnesses/InterchainBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/harnesses/ModuleBatchLibHarness.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
  packages/contracts-communication/test/libs/ModuleBatchLib.t.sol
Due: none

Regenerate `sin-executor`
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
Due: sin-executor

Fix broken casts in `sin-executor`
  sin-executor/db/base/transaction.go
  sin-executor/executor/executor.go
Due: sin-executor

Fix sin-executor tests
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
Due: sin-executor

Replaces input with AmountInput, additional mobile support
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapOutputContainer.tsx
Due: none

Conditions for showing max button
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

Add dfk provided fallback rpc
  packages/synapse-interface/constants/chains/master.tsx
Due: none

showMaxOption to determine display
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

Disable max button if gas fees more than gas balance
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

Clean jsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

content blocks
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/graphic/PlatformAnimation.tsx
  packages/synapse-interface/pages/teaser/graphic/index copy 2.tsx
  packages/synapse-interface/pages/teaser/graphic/index copy.tsx
  packages/synapse-interface/pages/teaser/graphic/index.tsx
  packages/synapse-interface/pages/teaser/graphic/keyframes.module.css
Due: none

move /graphic to /teaser
  packages/synapse-interface/pages/teaser/PlatformAnimation.tsx
  packages/synapse-interface/pages/teaser/graphic/index.tsx
  packages/synapse-interface/pages/teaser/index.tsx
  packages/synapse-interface/pages/teaser/index_old.tsx
Due: none

AvailableBalance component to track subscript detail in bridge origin input
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

Unify jest version
  packages/coverage-aggregator/package.json
  packages/synapse-interface/package.json
  yarn.lock
Due: packages

Go changes for #2453 (#2454)
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  committee/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  committee/node/e2e_test.go
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
  sin-executor/db/base/transaction.go
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
Due: committee, sin-executor

Fix: check for eip1559 before flooring GasTipCap
  ethergo/submitter/submitter.go
Due: ethergo

Removes jest
  packages/synapse-interface/package.json
  yarn.lock
Due: none

Removes jest (#2457)
  packages/synapse-interface/package.json
  yarn.lock
Due: none

responsive support
  packages/synapse-interface/components/WipWrapperComponents/NavMenu.tsx
  packages/synapse-interface/components/WipWrapperComponents/Ticker.tsx
  packages/synapse-interface/components/WipWrapperComponents/Wrapper.tsx
  packages/synapse-interface/pages/teaser/PlatformAnimation.tsx
  packages/synapse-interface/pages/teaser/index.tsx
Due: none

Improve Dependency Resolution for Workflow Optimization (#2355)
  contrib/git-changes-action/README.md
  contrib/git-changes-action/detector/doc.go
  contrib/git-changes-action/detector/export_test.go
  contrib/git-changes-action/detector/git/doc.go
  contrib/git-changes-action/detector/git/eventtype_string.go
  contrib/git-changes-action/detector/git/git.go
  contrib/git-changes-action/detector/git/ref.go
  contrib/git-changes-action/detector/module/depgraph.go
  contrib/git-changes-action/detector/module/detector.go
  contrib/git-changes-action/detector/module/detector_test.go
  contrib/git-changes-action/detector/module/doc.go
  contrib/git-changes-action/detector/module/export_test.go
  contrib/git-changes-action/detector/module/suite_test.go
  contrib/git-changes-action/detector/package/depgraph.go
  contrib/git-changes-action/detector/package/detector.go
  contrib/git-changes-action/detector/package/doc.go
  contrib/git-changes-action/main.go
Due: git-changes-action

Port `SynMessagingReceiver`
  packages/contracts-communication/contracts/legacy/LegacyReceiver.sol
  packages/contracts-communication/contracts/legacy/events/LegacyReceiverEvents.sol
Due: none

Port `PingPongApp`
  packages/contracts-communication/contracts/legacy/LegacyPingPong.sol
Due: none

working returntomonke page
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/returntomonke/ImageUploader.tsx
  packages/synapse-interface/pages/returntomonke/PfpGeneratorCard.tsx
  packages/synapse-interface/pages/returntomonke/index.tsx
  packages/synapse-interface/public/synpfpborder.png
Due: none

adding return to monke
  packages/synapse-interface/pages/returntomonke/ImageUploader.tsx
  packages/synapse-interface/pages/returntomonke/PfpGeneratorCard.tsx
  packages/synapse-interface/pages/returntomonke/index.tsx
  packages/synapse-interface/public/synpfpborder.png
Due: none

Added BL addresse
  packages/synapse-interface/public/blacklist.json
Due: none

Added BL addresse (#2461)
  packages/synapse-interface/public/blacklist.json
Due: none
