Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

fix lint [goreleaser]
  core/bytes.go
Due: core

test(explorer): fix the amount in withdraw parity test
  services/explorer/backfill/chain_test.go
Due: explorer

test(explorer): fix the amount in withdraw parity test (#3370)
  services/explorer/backfill/chain_test.go
Due: explorer

Revert "test(explorer): fix the amount in withdraw parity test (#3370)"
  services/explorer/backfill/chain_test.go
Due: explorer

bridge endpoint and swap endpoint consolidation for swap data
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/swapController.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/swapRoute.test.ts
  packages/rest-api/swagger.json
Due: none

test probe - revert guard listener label
  services/rfq/guard/service/guard.go
Due: rfq

restore legacy listener "guard" label. Establish "guardV2" for new version
  ethergo/backends/anvil/anvil.go
  services/rfq/guard/service/guard.go
Due: ethergo, rfq

poke to rerun w/o explorer check
  services/rfq/guard/service/guard.go
Due: rfq

removing dev comments
  ethergo/backends/anvil/anvil.go
  services/rfq/guard/service/guard.go
Due: ethergo, rfq

proposed mods for feat/guard-v2 [SLT-422] (#3364)
  services/rfq/guard/guardconfig/config.go
  services/rfq/guard/guarddb/base/model.go
  services/rfq/guard/guarddb/db.go
  services/rfq/guard/service/guard.go
  services/rfq/guard/service/handlers.go
Due: rfq

feat: scaffold `getBestRFQQuote`
  packages/sdk-router/src/rfq/api.ts
Due: packages

test: add coverage for getBestRFQQuote
  packages/sdk-router/src/rfq/api.integration.test.ts
  packages/sdk-router/src/rfq/api.test.ts
Due: packages

add DepositAmount to QuoteInput, incorporate into getOriginAmount
  services/rfq/relayer/quoter/quoter.go
Due: rfq

feat: initial impl for `getBestRFQQuote`
  packages/sdk-router/src/rfq/api.ts
Due: packages

fix redundant declaration
  services/rfq/relayer/quoter/quoter.go
Due: rfq

add tx hash command
  contrib/opbot/botmd/commands.go
  contrib/opbot/config/signer.txt
Due: none

update moonbeam / moonriver svg
  packages/synapse-interface/assets/chains/moonbeam.svg
  packages/synapse-interface/assets/chains/moonriver.svg
Due: none

update moonbeam / moonriver svg (#3374)
  packages/synapse-interface/assets/chains/moonbeam.svg
  packages/synapse-interface/assets/chains/moonriver.svg
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

update widget / constants
  packages/synapse-constants/src/constants/chains/master.ts
  packages/widget/src/constants/chains.ts
Due: packages

revert quoter test
  services/rfq/relayer/quoter/quoter_test.go
Due: rfq

update token/chain icons
  packages/synapse-interface/assets/chains/moonbeam.svg
  packages/synapse-interface/assets/chains/moonriver.svg
  packages/synapse-interface/assets/icons/movr.svg
Due: none

update constants/widget
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Due: packages

update button colors
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-interface/constants/chains/master.tsx
Due: none

update movr token border color
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/widget/src/constants/bridgeable.ts
Due: packages

fix lint
  contrib/opbot/botmd/commands.go
Due: none

[SLT-315] refactor(opbot): use gql api (#3260)
  contrib/opbot/botmd/botmd.go
  contrib/opbot/botmd/commands.go
  contrib/opbot/botmd/commands_test.go
  contrib/opbot/botmd/export_test.go
  contrib/opbot/config/config.go
  contrib/opbot/internal/client.go
  contrib/opbot/internal/model.go
  ethergo/chaindata/chaindata.go
Due: ethergo

update moonbeam assets for constants / sdk (#3376)
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/synapse-interface/assets/chains/moonbeam.svg
  packages/synapse-interface/assets/chains/moonriver.svg
  packages/synapse-interface/assets/icons/movr.svg
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Due: packages

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

decimals truncation
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/bridgeTxInfoController.ts
  packages/rest-api/src/utils/formatAmounts.ts
Due: none

return errors on improper decimals
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/bridgeTxInfoController.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/utils/formatAmounts.ts
  packages/rest-api/src/utils/validateAmountDecimals.ts
  packages/rest-api/src/validations/validateDecimals.ts
Due: none

removing file
  packages/rest-api/src/utils/validateAmountDecimals.ts
Due: none

adding tests
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/bridgeTxInfoRoute.test.ts
  packages/rest-api/src/tests/swapRoute.test.ts
  packages/rest-api/src/tests/swapTxInfoRoute.test.ts
Due: none

lint
  packages/rest-api/src/routes/swapRoute.ts
Due: none

test: ignore console.error in negative API cases
  packages/sdk-router/src/rfq/api.test.ts
Due: packages

test: better fetch mock to simulate empty list of quotes
  packages/sdk-router/src/sdk.test.ts
Due: packages

test: partially apply Rabbit suggestion
  packages/sdk-router/src/rfq/api.test.ts
Due: packages

format [goreleaser]
  contrib/opbot/botmd/commands.go
Due: none

test: retry for flaky tests
  packages/sdk-router/src/rfq/api.integration.test.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages
