Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

fix(contracts-rfq): skip version to unbrick lerna (#3348)
  packages/contracts-rfq/package.json
Due: solidity-rfq

Publish
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: solidity-rfq, packages

build(contracts-rfq): increase optimizer runs to 1M
  packages/contracts-rfq/foundry.toml
Due: solidity-rfq

fix build and update docs
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/bridgeTxStatusRoute.ts
  packages/rest-api/src/routes/destinationTokensRoute.ts
  packages/rest-api/src/routes/destinationTxRoute.ts
  packages/rest-api/src/routes/index.ts
  packages/rest-api/src/routes/indexRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/routes/synapseTxIdRoute.ts
  packages/rest-api/src/routes/tokenListRoute.ts
  packages/rfq-indexer/README.md
  packages/rfq-indexer/api/README.md
  services/rfq/api/README.md
Due: rfq

adding eth to bnb chain
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/constants/bridgeable.ts
  packages/rest-api/src/tests/indexRoute.test.ts
  packages/rest-api/src/tests/tokenListRoute.test.ts
  packages/synapse-constants/src/constants/bridgeMap.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
Due: packages

ci: use `branches-ignore` in Solidity workflow
  .github/workflows/solidity.yml
Due: none

fe docs fix
  docs/bridge/docs/04-Routers/RFQ/API/index.md
  docs/bridge/docs/06-Services/06-RFQ-Indexer-API.md
Due: none

organize routes into respective APIs
  packages/rest-api/swagger.json
Due: none

feat: scaffold `ZapData` library
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
Due: solidity-rfq

moving dependencies around
  packages/synapse-constants/package.json
Due: none

test: define expected behavior for ZapDataV1
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
Due: solidity-rfq

Adds cspell & fixes typos, updates packages.yml for CI integration
  .github/workflows/packages.yml
  cspell.json
  docs/bridge/README.md
  docs/bridge/docs/02-Bridge/01-SDK.md
  docs/bridge/docs/02-Bridge/02-REST-API.md
  docs/bridge/docs/04-Routers/01-Synapse-Router/index.md
  docs/bridge/docs/04-Routers/RFQ/01-Relayer.md
  docs/bridge/docs/04-Routers/RFQ/API/index.md
  docs/bridge/docs/06-Services/04-Submitter.md
  docs/bridge/package.json
  packages/contracts-core/package.json
  packages/contracts-rfq/package.json
  packages/coverage-aggregator/package.json
  packages/explorer-ui/components/misc/CopyTitle.tsx
  packages/explorer-ui/package.json
  packages/rest-api/package.json
  packages/rfq-indexer/api/package.json
  packages/rfq-indexer/indexer/package.json
  packages/rfq-loadtest/package.json
  packages/sdk-router/package.json
  packages/solidity-devops/package.json
  packages/synapse-constants/package.json
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/constants/urls/uriToHttp.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/widget/package.json
  yarn.lock
Due: solidity-core, solidity-rfq, packages

Fix build issue by moving codecov/rollup-plugin into deps
  packages/synapse-constants/package.json
Due: none

Types for fix
  packages/synapse-interface/components/Activity/Transaction/TransactionOptions.tsx
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Due: none

feat: encoding, validation
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
Due: solidity-rfq

feat: decoding
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
Due: solidity-rfq

feat: scaffold `TokenZap`
  packages/contracts-rfq/contracts/zaps/TokenZap.sol
Due: solidity-rfq

feat: expose encoding/decoding
  packages/contracts-rfq/contracts/zaps/TokenZap.sol
Due: solidity-rfq

test: add coverage for TokenZap
  packages/contracts-rfq/test/mocks/VaultManyArguments.sol
  packages/contracts-rfq/test/mocks/VaultMock.sol
  packages/contracts-rfq/test/zaps/TokenZap.t.sol
Due: solidity-rfq

feat: implement `zap`
  packages/contracts-rfq/contracts/zaps/TokenZap.sol
Due: solidity-rfq

last push
  SECURITY.md
Due: none

--if-present flag to run spellcheck only if in package.json script
  .github/workflows/packages.yml
  docs/bridge/package.json
  packages/contracts-core/package.json
  packages/contracts-rfq/package.json
  packages/coverage-aggregator/package.json
  packages/explorer-ui/package.json
  packages/rest-api/package.json
  packages/rfq-indexer/api/package.json
  packages/rfq-indexer/indexer/package.json
  packages/rfq-loadtest/package.json
  packages/sdk-router/package.json
  packages/solidity-devops/package.json
  packages/synapse-constants/package.json
  packages/synapse-interface/package.json
  packages/widget/package.json
Due: solidity-core, solidity-rfq, packages

Remove untouched formatting diff
  .github/workflows/packages.yml
Due: none

feat(rest-api): API gateway for rfq-indexer API and rfq API + swagger merge [SLT-339] (#3323)
  .vscode/settings.json
  docs/bridge/docs/04-Routers/RFQ/API/index.md
  docs/bridge/docs/06-Services/06-RFQ-Indexer-API.md
  package.json
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/bridgeTxStatusRoute.ts
  packages/rest-api/src/routes/destinationTokensRoute.ts
  packages/rest-api/src/routes/destinationTxRoute.ts
  packages/rest-api/src/routes/index.ts
  packages/rest-api/src/routes/indexRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/routes/synapseTxIdRoute.ts
  packages/rest-api/src/routes/tokenListRoute.ts
  packages/rest-api/src/swagger.ts
  packages/rest-api/src/utils/isGatewayRoute.ts
  packages/rest-api/swagger.json
  packages/rfq-indexer/README.md
  packages/rfq-indexer/api/README.md
  services/rfq/api/README.md
  services/rfq/api/docs/swagger.json
  yarn.lock
Due: rfq

first pass at security.md [SLT-250] (#3205)
  SECURITY.md
Due: none

fix(rfq-relayer): skip cache when fetching committable balances [SLT-386] (#3328)
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/service/handlers.go
Due: rfq

fix route [goreleaser]
  contrib/opbot/internal/client.go
Due: none

Adding ETH on BNB Chain [SLT-398] (#3338)
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/constants/bridgeable.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/src/constants/bridgeMap.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/synapse-interface/assets/icons/bnb.svg
  packages/synapse-interface/components/Activity/Transaction/TransactionOptions.tsx
  packages/synapse-interface/components/Pools/PoolActionOptions.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/widget/src/constants/bridgeMap.ts
Due: packages

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

linting fixes
  packages/rfq-indexer/indexer/abis/FastBridgeV2.ts
  packages/rfq-indexer/indexer/src/index.ts
  packages/rfq-indexer/indexer/src/utils/formatAmount.ts
Due: none

Automated spellchecking with `cspell` [SLT-408] (#3350)
  .github/workflows/packages.yml
  cspell.json
  docs/bridge/README.md
  docs/bridge/docs/02-Bridge/01-SDK.md
  docs/bridge/docs/02-Bridge/02-REST-API.md
  docs/bridge/docs/04-Routers/01-Synapse-Router/index.md
  docs/bridge/docs/04-Routers/RFQ/01-Relayer.md
  docs/bridge/docs/04-Routers/RFQ/API/index.md
  docs/bridge/docs/06-Services/04-Submitter.md
  docs/bridge/package.json
  packages/explorer-ui/components/misc/CopyTitle.tsx
  packages/explorer-ui/package.json
  packages/sdk-router/package.json
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/example/EcotoneForkUpgrade.tsx
  packages/synapse-interface/constants/urls/uriToHttp.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  yarn.lock
Due: packages

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

add linea explorer
  ethergo/chaindata/chaindata.go
Due: ethergo

remove slash
  ethergo/chaindata/chaindata.go
Due: ethergo

add worldchain explorer
  ethergo/chaindata/chaindata.go
Due: ethergo

fix lint
  contrib/opbot/botmd/commands.go
Due: none

fixing irrelavent files
  services/rfq/relayer/quoter/quoter_test.go
Due: rfq

worldchain explorer updates (#3351)
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/rfq-indexer/api/src/constants/networkConfig.ts
  packages/rfq-indexer/api/src/controllers/conflictingProofsController.ts
  packages/rfq-indexer/api/src/controllers/disputesController.ts
  packages/rfq-indexer/api/src/controllers/pendingTransactionsController.ts
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/graphql/resolvers.ts
  packages/rfq-indexer/api/src/graphql/types/events.graphql
  packages/rfq-indexer/api/src/queries/depositsQueries.ts
  packages/rfq-indexer/api/src/routes/conflictingProofsRoute.ts
  packages/rfq-indexer/api/src/routes/disputesRoute.ts
  packages/rfq-indexer/api/src/routes/invalidRelaysRoute.ts
  packages/rfq-indexer/api/src/routes/pendingTransactionsRoute.ts
  packages/rfq-indexer/api/src/routes/refundedAndRelayedRoute.ts
  packages/rfq-indexer/api/src/routes/transactionIdRoute.ts
  packages/rfq-indexer/api/src/types/index.ts
  packages/rfq-indexer/indexer/.env.example
  packages/rfq-indexer/indexer/abis/FastBridgeV2.ts
  packages/rfq-indexer/indexer/ponder.config.ts
  packages/rfq-indexer/indexer/ponder.schema.ts
  packages/rfq-indexer/indexer/src/index.ts
  packages/rfq-indexer/indexer/src/utils/chains.ts
  packages/rfq-indexer/indexer/src/utils/formatAmount.ts
  services/explorer/api/server_test.go
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/chainIDs.yaml
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Due: explorer, packages

fix: noAmount test, slight refactor
  packages/contracts-rfq/test/zaps/TokenZap.t.sol
Due: solidity-rfq
