Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

feat: add more options to /rfq requests
  packages/sdk-router/src/rfq/api.integration.test.ts
  packages/sdk-router/src/rfq/api.test.ts
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

refactor: isolate zapData manipulation
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/zapData.ts
Due: packages

feat: save decoded destination chain ZapData
  packages/sdk-router/src/rfq/paramsV2.test.ts
  packages/sdk-router/src/rfq/paramsV2.ts
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

refactor: simplify `getBridgeRoutes`
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

feat: zap data encoding/decoding
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/zapData.test.ts
  packages/sdk-router/src/rfq/zapData.ts
Due: packages

fix(contracts-rfq): FastBridge V2 prove race condition (#3435)
  packages/contracts-rfq/contracts/AdminV2.sol
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IAdminV2.sol
  packages/contracts-rfq/contracts/interfaces/IAdminV2Errors.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/test/FastBridgeV2.Management.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
Due: solidity-rfq

Publish
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
Due: solidity-rfq

fix(contracts-rfq): add `forwardTo` to ZapData for Zap Actions that don't forward assets to the user (#3451)
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

fix(contracts-rfq): configurable `deployBlock` (#3437)
  packages/contracts-rfq/contracts/AdminV2.sol
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IAdminV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Management.t.sol
Due: solidity-rfq

feat(contracts-rfq): Synapse Intent Router (#3433)
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouter.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouterErrors.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IDefaultExtendedPool.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IDefaultPool.sol
  packages/contracts-rfq/contracts/legacy/router/interfaces/IWETH9.sol
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/router/SynapseIntentRouter.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
  packages/contracts-rfq/script/DeploySIR.s.sol
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/mocks/DefaultPoolMock.sol
  packages/contracts-rfq/test/mocks/PoolMock.sol
  packages/contracts-rfq/test/mocks/SwapQuoterMock.sol
  packages/contracts-rfq/test/mocks/WETHMock.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

test: add TokenZapV1 uncovered cases
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

test: remove test contracts from the coverage report
  packages/contracts-rfq/test/FastBridgeV2.Src.RefundV1.t.sol
  packages/contracts-rfq/test/harnesses/BridgeTransactionV2Harness.sol
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/integration/FastBridge.MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/mocks/MockRevertingRecipient.sol
  packages/contracts-rfq/test/mocks/VaultMock.sol
Due: solidity-rfq

fix(contracts-rfq): increase coverage (#3453)
  packages/contracts-rfq/test/FastBridgeV2.Src.RefundV1.t.sol
  packages/contracts-rfq/test/harnesses/BridgeTransactionV2Harness.sol
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/integration/FastBridge.MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/FastBridgeV2.MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/mocks/MockRevertingRecipient.sol
  packages/contracts-rfq/test/mocks/VaultMock.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

feat: update saved params, extract zap data from steps
  packages/sdk-router/src/rfq/paramsV2.test.ts
  packages/sdk-router/src/rfq/paramsV2.ts
  packages/sdk-router/src/rfq/steps.test.ts
  packages/sdk-router/src/rfq/steps.ts
Due: packages

feat: quoting for destination swaps
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/sirSet.ts
  packages/sdk-router/src/rfq/zapData.ts
Due: packages

feat(abigen): Add solc binary fallback for Apple Silicon
  tools/abigen/README.md
  tools/abigen/internal/generate.go
  tools/abigen/internal/solc/binary.go
  tools/abigen/internal/solc/binary_test.go
Due: tools

fix: packages/contracts-core/package.json to reduce vulnerabilities
  packages/contracts-core/package.json
Due: solidity-core

fix(abigen): Fix error handling in solc binary manager
  tools/abigen/internal/solc/binary.go
Due: tools

test(abigen): Add comprehensive test cases for solc binary manager
  tools/abigen/internal/solc/binary_test.go
Due: tools

refactor(abigen): Extract platform validation logic in solc binary manager
  tools/abigen/internal/solc/binary.go
Due: tools

fix(abigen): Improve path handling and validation in generate.go
  tools/abigen/internal/generate.go
  tools/abigen/internal/generate_test.go
Due: tools

test(abigen): Update test cases for platform validation in solc binary manager
  tools/abigen/internal/solc/binary_test.go
Due: tools

feat: add golangci-lint version manager
  .github/workflows/go.yml
  .golangci-version
  CONTRIBUTING.md
  README.md
  contrib/golang-ci-lint/README.md
  contrib/golang-ci-lint/go.mod
  contrib/golang-ci-lint/main.go
  go.work
  make/go.Makefile
Due: none

refactor(abigen): Reduce cyclomatic complexity in downloadAndVerify
  tools/abigen/internal/generate.go
  tools/abigen/internal/generate_test.go
  tools/abigen/internal/solc/binary.go
  tools/abigen/internal/solc/binary_test.go
Due: tools

chore: update golangci-lint version to 1.61.0 and fix linter naming
  .golangci-version
  .golangci.yml
  contrib/golang-ci-lint/main.go
  make/go.Makefile
Due: none

[goreleaser] add debugging
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

[goreleaser] span switch
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

[goreleaser] switch to console prints
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

[goreleaser] more debugggggg
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

[goreleaser] debug
  services/rfq/relayer/quoter/quoter.go
Due: rfq

[goreleaser] refactor: improve module handling and working directory detection
  contrib/golang-ci-lint/go.mod
  contrib/golang-ci-lint/main.go
Due: none

[goreleaser] feat: add goreleaser configuration
  contrib/golang-ci-lint/.goreleaser.yml
  contrib/golang-ci-lint/main.go
Due: none

[goreleaser] feat: add Docker configuration for golang-ci-lint
  docker/golang-ci-lint.Dockerfile
Due: none

quote data logging
  services/rfq/api/model/request.go
  services/rfq/api/rest/rfq.go
  services/rfq/api/rest/ws.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

fixing support link
  packages/synapse-interface/constants/urls/index.tsx
  packages/widget/src/constants/index.ts
Due: packages

[goreleaser] more debug
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

Fix: use hexutil.Decode() for str -> byte
  services/rfq/relayer/quoter/quoter.go
Due: rfq
