Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

Add tests for FastBridgeSet
  packages/sdk-router/src/rfq/fastBridgeSet.test.ts
Due: packages

Fix: properly implement quote filtering
  packages/sdk-router/src/rfq/fastBridgeSet.ts
Due: packages

Removes unused attrs (#104)
  examples/with-next/app/App.tsx
  examples/with-react/src/App.tsx
  package.json
  src/components/Widget.tsx
  src/index.tsx
  src/types/index.d.ts
Due: none

Revert "[goreleaser] remove unnecessary spans"
  agents/agents/executor/executor.go
  agents/agents/guard/guard.go
  ethergo/submitter/chain_queue.go
Due: agents, ethergo

[goreleaser] set message leaf upon witnessing Sent event
  agents/agents/executor/executor_utils.go
Due: agents

Fix: attempt to fix v+27
  agents/types/utils.go
Due: agents

Fix: attempt to fix v+27 (#1720)
  agents/types/utils.go
Due: agents

Add some units tests for FastBridge class
  packages/sdk-router/package.json
  packages/sdk-router/src/rfq/fastBridge.test.ts
  yarn.lock
Due: packages

Mainnet API URL
  packages/sdk-router/src/rfq/api.ts
Due: packages

Draw the rest of the owl
  packages/sdk-router/src/rfq/fastBridgeSet.ts
  packages/sdk-router/src/utils/deadlines.ts
Due: packages

Fix: incorrect invariant
  packages/sdk-router/src/rfq/fastBridge.ts
Due: packages

Temp FE fix: don't apply slippage to RFQ
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/actions/fetchBridgeQuotes.tsx
Due: none

[DROP IN PROD] Use local SDK for build
  packages/synapse-interface/package.json
  yarn.lock
Due: none

Revert "Publish"
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: packages

Revert "Sdk: expose bridge tx status (#1658)"
  packages/sdk-router/src/abi/SynapseCCTP.json
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/utils/logs.ts
Due: packages

Revert "Publish"
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Revert "Temp remove Harmony from integration tests"
  packages/synapse-interface/cypress/fixtures/bridge.json
Due: none

Add new section, general workflow
  README.md
Due: none

Docs: contributing for a new feature
  README.md
Due: none

Docs: releasing the new front-end build
  README.md
Due: none

Docs: hotfixing the FE
  README.md
Due: none

Use an advanced AI tool to enhance the author's presentation of intelligence
  README.md
Due: none

Add tests for expected `bridge()` behavior
  packages/sdk-router/src/rfq/fastBridge.test.ts
  packages/sdk-router/src/rfq/fastBridge.ts
Due: packages

Use correct tx.value
  packages/sdk-router/src/rfq/fastBridge.ts
Due: packages

Feat: add BaseGasPrice to submitter config
  ethergo/submitter/config/config.go
  ethergo/submitter/config/iconfig_generated.go
  ethergo/submitter/submitter.go
  ethergo/submitter/submitter_test.go
Due: ethergo

Cleanup: test TODOs
  ethergo/submitter/submitter_test.go
Due: ethergo

upd addr
  packages/synapse-interface/constants/blacklist.ts
Due: none

[goreleaser] pass 1
  services/rfq/relayer/service/statushandler.go
Due: none

[goreleaser] rewrite handler
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
Due: none

[goreleaser] more span
  services/rfq/relayer/service/handlers.go
Due: none

[goreleaser] metadata fix
  services/rfq/api/metadata/metadata.go
  services/rfq/relayer/metadata/metadata.go
Due: none

Fix: reset nonces, increase execution timeout
  agents/domains/evm/pingpongtestclient.go
  tools/testnet/main.go
Due: agents, tools

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
