Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/explorer, services/omnirpc, services/scribe, tools

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  agents:
    paths:
      - agents/*
    carryforward: true
  contrib/git-changes-action:
    paths:
      - contrib/git-changes-action/*
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/*
    carryforward: true
  contrib/terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/*
    carryforward: true
  contrib/terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/*
    carryforward: true
  contrib/terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/*
    carryforward: true
  contrib/tfcore:
    paths:
      - contrib/tfcore/*
    carryforward: true
  core:
    paths:
      - core/*
    carryforward: true
  ethergo:
    paths:
      - ethergo/*
    carryforward: true
  services/explorer:
    paths:
      - services/explorer/*
    carryforward: true
  services/omnirpc:
    paths:
      - services/omnirpc/*
    carryforward: true
  services/scribe:
    paths:
      - services/scribe/*
    carryforward: true
  tools:
    paths:
      - tools/*
    carryforward: true



ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '*/test/*.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/test/*.sol'
  - 'services/scribe/grpc/client/*'

Don't Require Test Handler on deployed contract helper (#677)
  .github/workflows/docs.yaml
  ethergo/backends/anvil/suite_test.go
  ethergo/deployer/deployed_contract.go
  ethergo/deployer/deployed_contract_test.go
  ethergo/deployer/suite_test.go
  ethergo/example/counter/helpers.go
  ethergo/example/counter_test.go
  ethergo/example/deployer.go
  ethergo/forker/.gitignore
  ethergo/forker/fork_test.go
  make/go.Makefile
Due: none

Resetting nonce for address if getting nonce too low error
  agents/domains/evm/summit.go
  ethergo/signer/nonce/nonce.go
Due: none

fixing comment
  ethergo/signer/nonce/nonce.go
Due: none

making this ready for [goreleaser]
  ethergo/signer/nonce/nonce.go
Due: none

Updating tag in values.yaml
  charts/agents/values.yaml
Due: none

Resetting nonce in nonce manager if nonce is too low keeps happening (#678)
  agents/domains/evm/summit.go
  charts/agents/values.yaml
  ethergo/signer/nonce/nonce.go
Due: none

Split test helper "format" functions into: - Format "raw struct" - Wrap payload into typed mem view
  packages/contracts-core/test/utils/libs/SynapseStructs.t.sol
Due: none

Update existing tests with formatter changes
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/suite/Origin.t.sol
  packages/contracts-core/test/suite/Summit.t.sol
  packages/contracts-core/test/suite/libs/AttestationReport.t.sol
  packages/contracts-core/test/suite/libs/StateReport.t.sol
  packages/contracts-core/test/utils/proof/AttestationProofGeneratorTest.t.sol
Due: none

Move Agents-related stuff to separate contract
  packages/contracts-core/test/utils/SynapseAgents.t.sol
  packages/contracts-core/test/utils/SynapseTest.t.sol
Due: none

Signing utils for "raw structs"
  packages/contracts-core/test/utils/SynapseAgents.t.sol
Due: none

Use new signing utils
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/suite/Origin.t.sol
  packages/contracts-core/test/suite/Summit.t.sol
Due: none

Use RawState in Summit test
  packages/contracts-core/test/suite/Summit.t.sol
  packages/contracts-core/test/utils/libs/Random.t.sol
Due: none

Fix: incorrect signing method
  packages/contracts-core/test/utils/SynapseAgents.t.sol
Due: none

Decrease fuzz runs to speed up Foundry tests
  packages/contracts-core/foundry.toml
Due: none

Chore: small test improvements (#679)
  packages/contracts-core/foundry.toml
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/suite/Origin.t.sol
  packages/contracts-core/test/suite/Summit.t.sol
  packages/contracts-core/test/suite/libs/AttestationReport.t.sol
  packages/contracts-core/test/suite/libs/StateReport.t.sol
  packages/contracts-core/test/utils/SynapseAgents.t.sol
  packages/contracts-core/test/utils/SynapseTest.t.sol
  packages/contracts-core/test/utils/libs/Random.t.sol
  packages/contracts-core/test/utils/libs/SynapseStructs.t.sol
  packages/contracts-core/test/utils/proof/AttestationProofGeneratorTest.t.sol
Due: none

Abstract layer to deal with Disputes
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/hubs/DisputeHub.sol
  packages/contracts-core/contracts/interfaces/IDisputeHub.sol
  packages/contracts-core/test/mocks/DestinationMock.t.sol
  packages/contracts-core/test/mocks/hubs/DisputeHubMock.t.sol
Due: none

Move _openDispute to DisputeHub
  packages/contracts-core/contracts/events/AgentRegistryEvents.sol
  packages/contracts-core/contracts/events/DisputeHubEvents.sol
  packages/contracts-core/contracts/hubs/DisputeHub.sol
  packages/contracts-core/contracts/system/AgentRegistry.sol
  packages/contracts-core/test/utils/events/ProductionEvents.t.sol
Due: none

Comparator for States
  packages/contracts-core/contracts/libs/State.sol
  packages/contracts-core/test/harnesses/libs/StateHarness.t.sol
  packages/contracts-core/test/suite/libs/State.t.sol
Due: none

Chore: clarify why dispute was opened
  packages/contracts-core/contracts/Destination.sol
Due: none

DisputeHub: handling State reports
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/hubs/DisputeHub.sol
  packages/contracts-core/contracts/hubs/StatementHub.sol
Due: none

Test: Destination state Report
  packages/contracts-core/test/suite/Destination.t.sol
Due: none

Dispute hub (#680)
  packages/contracts-core/contracts/Destination.sol
  packages/contracts-core/contracts/Origin.sol
  packages/contracts-core/contracts/events/AgentRegistryEvents.sol
  packages/contracts-core/contracts/events/DisputeHubEvents.sol
  packages/contracts-core/contracts/hubs/DisputeHub.sol
  packages/contracts-core/contracts/hubs/StatementHub.sol
  packages/contracts-core/contracts/interfaces/IDisputeHub.sol
  packages/contracts-core/contracts/libs/State.sol
  packages/contracts-core/contracts/system/AgentRegistry.sol
  packages/contracts-core/test/harnesses/libs/StateHarness.t.sol
  packages/contracts-core/test/mocks/DestinationMock.t.sol
  packages/contracts-core/test/mocks/hubs/DisputeHubMock.t.sol
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/suite/libs/State.t.sol
  packages/contracts-core/test/utils/events/ProductionEvents.t.sol
Due: none

[goreleaser]
  agents/agents/executor/db/datastore/sql/base/message.go
Due: none

change executed to be set on insert if in executed mapping [goreleaser]
  agents/agents/executor/db/datastore/sql/base/message.go
  agents/agents/executor/db/executor_db.go
  agents/agents/executor/db/message_test.go
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  charts/agents/values.yaml
Due: none

add git-changes-action
  .github/workflows/goreleaser-actions.yml
  ethergo/README.md
Due: ethergo

test [goreleaser]
  ethergo/README.md
  services/explorer/README.md
Due: ethergo, services/explorer

update bash command [goreleaser]
  .github/workflows/goreleaser-actions.yml
  ethergo/README.md
  services/explorer/README.md
Due: ethergo, services/explorer

update readmes [goreleaser]
  .github/workflows/goreleaser-actions.yml
  ethergo/README.md
  services/explorer/README.md
Due: ethergo, services/explorer

processLogs while getting them for markAsExecuted [goreleaser]
  agents/agents/executor/executor.go
  charts/agents/values.yaml
Due: none

rework workflow, add ethergo docks [goreleaser]
  .github/workflows/goreleaser-actions.yml
  ethergo/README.md
  services/explorer/README.md
Due: ethergo, services/explorer

cache docker images on releases
  .github/workflows/goreleaser-actions.yml
Due: none

Remove Superflous Goreleaser Runs/Add Ethergo readme (#682)
  .github/workflows/goreleaser-actions.yml
  ethergo/README.md
  services/explorer/README.md
Due: ethergo, services/explorer

fix goreleaser
  .github/workflows/goreleaser-actions.yml
  ethergo/README.md
Due: ethergo

testing w executed [goreleaser]
  agents/agents/executor/executor.go
  charts/agents/values.yaml
Due: none
