Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

Revert "27 fix"
  agents/types/utils.go
Due: agents

27
  agents/types/utils.go
Due: agents

Sdk: expose bridge tx status (#1658)
  packages/sdk-router/src/abi/SynapseCCTP.json
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/utils/logs.ts
Due: packages

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: packages

Update polling time
  packages/synapse-interface/slices/transactions/updater.tsx
Due: none

Add constant for polling interval duration
  packages/synapse-interface/slices/transactions/updater.tsx
Due: none

Preflight false (#72)
  src/components/BridgeButton.tsx
  src/components/Receipt.tsx
  src/components/Tooltip.tsx
  src/components/Transaction.tsx
  src/components/Widget.tsx
  src/components/ui/ChainPopoverSelect.tsx
  src/components/ui/TokenPopoverSelect.tsx
  tailwind.config.js
Due: none

bridge tx origin, dest gas rebates
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/contracts/libs/UniversalToken.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  packages/contracts-rfq/test/UniversalTokenLib.t.sol
Due: none

lint
  packages/synapse-interface/constants/blacklist.ts
Due: none

fix/transaction-polling (#1673)
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/sdk-router/src/abi/SynapseCCTP.json
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/utils/logs.ts
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/synapse-interface/slices/transactions/updater.tsx
Due: packages

New branch (#74)
  src/components/BridgeButton.tsx
  src/components/Tooltip.tsx
  src/components/Widget.tsx
Due: none

Show to Address text in Transaction only when destination address is valid and available
  packages/synapse-interface/components/Portfolio/Transaction/components/Completed.tsx
Due: none

Fire off fallback txn slightly before isDelayed turns true
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
Due: none

Add eslint react hooks
  .eslintrc.js
  package.json
  packages/synapse-interface/.eslintrc.js
  yarn.lock
Due: none

Add react hooks plugin
  .eslintrc.js
  packages/synapse-interface/.eslintrc.js
Due: none

updating yarn file to fix linting tests
  yarn.lock
Due: none

State refactor (#75)
  src/components/AvailableBalance.tsx
  src/components/BridgeButton.tsx
  src/components/Widget.tsx
  src/hooks/useAllowance.tsx
  src/hooks/useApproveCallback.tsx
  src/hooks/useBridgeCallback.tsx
  src/hooks/useBridgeQuote.tsx
  src/hooks/useValidations.tsx
  src/state/slices/approveTransaction/hooks.ts
  src/state/slices/approveTransaction/reducer.ts
  src/state/slices/bridge/reducer.ts
  src/state/slices/bridgeQuote/hooks.ts
  src/state/slices/bridgeQuote/reducer.ts
  src/state/slices/bridgeTransaction/hooks.ts
  src/state/slices/bridgeTransaction/reducer.ts
  src/state/slices/wallet/hooks.ts
  src/state/slices/wallet/reducer.ts
  src/state/store.ts
  src/utils/actions/fetchBridgeQuote.ts
  src/utils/actions/fetchTokenBalances.ts
  src/utils/calculateExchangeRate.ts
  src/utils/powBigInt.ts
  src/utils/slippage.ts
Due: none

Add aurora notary to load config
  tools/testnet/load-config.yaml
Due: tools

revert viem
  yarn.lock
Due: none

Fix: catch client err
  tools/testnet/main.go
Due: tools

yarn
  yarn.lock
Due: none

Use Chain from viem
  packages/synapse-interface/contexts/UserProvider.tsx
Due: none

Adds peerDepsExternal (#77)
  package.json
  rollup.config.js
  yarn.lock
Due: none

Feat: remove Price and add FixedFee params to quote schema
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/db/api_db.go
  services/rfq/api/db/api_db_test.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
Due: none

Fix: quoter build
  services/rfq/relayer/quoter/quoter.go
Due: none

Chore: bump go.mod to 1.21
  agents/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/release-copier-action/go.mod
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/tfcore/go.mod
  core/go.mod
  ethergo/go.mod
  go.work
  services/cctp-relayer/go.mod
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/rfq/go.mod
  services/scribe/go.mod
  services/sinner/go.mod
  tools/go.mod
Due: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, tools

Simplify PendingTransaction, remove unnecessary useMemo
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
Due: none

style adjustments (#76)
  src/components/AvailableBalance.tsx
  src/components/BridgeButton.tsx
  src/components/Receipt.tsx
  src/components/Tooltip.tsx
  src/components/Transaction.tsx
  src/components/icons/DoubleDownArrow.tsx
  src/components/ui/ChainPopoverSelect.tsx
  src/components/ui/TokenPopoverSelect.tsx
Due: none

Simplify
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
Due: none

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
