Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Fix: build
  services/rfq/guard/service/handlers.go
Due: rfq

Revert "WIP: add logs for panic"
  services/rfq/relayer/inventory/scroll.go
  services/rfq/relayer/service/relayer.go
Due: rfq

WIP: dispute logs
  services/rfq/guard/service/otel.go
Due: rfq

Revert "WIP: dispute logs"
  services/rfq/guard/service/otel.go
Due: rfq

feat: implement uuid per `BridgeQuote`
  packages/sdk-router/package.json
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  yarn.lock
Due: packages

feat: validateUUID + tests
  packages/sdk-router/src/utils/validateUUID.test.ts
  packages/sdk-router/src/utils/validateUUID.ts
Due: packages

test: add sdk test for uuid
  packages/sdk-router/src/sdk.test.ts
Due: packages

Update blacklist.json
  packages/synapse-interface/public/blacklist.json
Due: none

better
  contrib/screener-api/chainalysis/chainalysisapi.go
Due: screener-api

build: add bnb testnet
  packages/contracts-rfq/.env.example
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/script/testnet-fb-config.sh
  packages/contracts-rfq/script/testnet-fb-deploy.sh
Due: solidity-rfq

deploy: FastBridge on bnb testnet
  packages/contracts-rfq/deployments/bnb_testnet/.chainId
  packages/contracts-rfq/deployments/bnb_testnet/FastBridge.json
Due: solidity-rfq

regenearte
  services/rfq/relayer/service/otel_generated.go
Due: none

namespace default [goreleaser]
  .github/workflows/goreleaser-actions.yml
Due: none

Fix/generate (#2897)
  .github/workflows/goreleaser-actions.yml
  services/rfq/relayer/service/otel_generated.go
Due: none

[goreleaser] disable cache build
  .github/workflows/goreleaser-actions.yml
Due: none

[goreleaser] use correct image
  .github/workflows/goreleaser-actions.yml
Due: none

update dest tx hash before status/improve obversability (#2888)
  core/go.mod
  core/metrics/spanutils.go
  core/retry/retry.go
  services/rfq/relayer/service/handlers.go
Due: core, rfq

fix hang goroutine [goreleaser]
  ethergo/backends/anvil/anvil.go
  services/rfq/e2e/setup_test.go
Due: ethergo, rfq

[goreleaser] add premature call
  services/rfq/e2e/setup_test.go
Due: rfq

install sudo [goreleaser]
  .github/workflows/goreleaser-actions.yml
  docker/goreleaser/Dockerfile
Due: none

faster builds (#2898)
  .github/workflows/goreleaser-actions.yml
  docker/goreleaser/Dockerfile
  ethergo/backends/anvil/anvil.go
  services/rfq/e2e/setup_test.go
Due: ethergo, rfq

Feat: extra bridge status and proof relayer checking
  services/rfq/relayer/service/handlers.go
Due: rfq

Feat: add tracing for dest tx hash setting
  services/rfq/relayer/service/handlers.go
Due: rfq

Add `id` field to `type BridgeQuote` for UUID
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/types/index.tsx
Due: none

don't latest on explorer
  .github/workflows/go.yml
Due: none

feat(opbot): transaction age textblock (#2890)
  contrib/opbot/botmd/commands.go
  contrib/opbot/go.mod
Due: none

merge master
  core/ginhelper/server.go
Due: core

chore(ginhelper): bump uuid to v8 (#2895)
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/ginhelper/server.go
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
Due: agents, screener-api, git-changes-action, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, tools

Deploy `FastBridge` on testnets (#2884)
  packages/contracts-rfq/.env.example
  packages/contracts-rfq/configs/global/testnet/FastBridge.json
  packages/contracts-rfq/deployments/arb_sepolia/.chainId
  packages/contracts-rfq/deployments/arb_sepolia/FastBridge.json
  packages/contracts-rfq/deployments/base_sepolia/.chainId
  packages/contracts-rfq/deployments/base_sepolia/FastBridge.json
  packages/contracts-rfq/deployments/bnb_testnet/.chainId
  packages/contracts-rfq/deployments/bnb_testnet/FastBridge.json
  packages/contracts-rfq/deployments/eth_sepolia/.chainId
  packages/contracts-rfq/deployments/eth_sepolia/FastBridge.json
  packages/contracts-rfq/deployments/op_sepolia/.chainId
  packages/contracts-rfq/deployments/op_sepolia/FastBridge.json
  packages/contracts-rfq/deployments/scroll_sepolia/.chainId
  packages/contracts-rfq/deployments/scroll_sepolia/FastBridge.json
  packages/contracts-rfq/devops.json
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/script/ConfigureFastBridge.s.sol
  packages/contracts-rfq/script/DeployFastBridge.CREATE2.s.sol
  packages/contracts-rfq/script/testnet-fb-config.sh
  packages/contracts-rfq/script/testnet-fb-deploy.sh
Due: solidity-rfq

Publish
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
Due: solidity-rfq

Track uuid in analytics
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

fix
  contrib/promexporter/config/prometheus.yaml
  contrib/promexporter/docker-compose.monitoring.yml
  contrib/promexporter/exporters/otel.go
  contrib/promexporter/exporters/submitter.go
Due: none

fixed
  contrib/promexporter/exporters/bridge.go
  contrib/promexporter/exporters/otel.go
Due: none

get rid of local testing env
  contrib/promexporter/config/prometheus.yaml
  contrib/promexporter/docker-compose.monitoring.yml
Due: none
