Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

Fix: build
  ethergo/sdks/arbitrum/contracts/nodeinterface/suite_test.go
Due: ethergo

WIP: add NativeGasEstimation flag
  ethergo/submitter/config/config.go
Due: ethergo

Feat: add GasEstimationMethod enum
  ethergo/submitter/config/estimation.go
Due: ethergo

Feat: cfg generate
  ethergo/submitter/config/config.go
  ethergo/submitter/config/iconfig_generated.go
Due: ethergo

Feat: add isArbitrumChain helper
  ethergo/submitter/config/estimation.go
Due: ethergo

Feat: add getGasEstimate() with GasEstimationMethod
  ethergo/submitter/config/estimation.go
  ethergo/submitter/submitter.go
Due: ethergo

Cleanup: typo
  ethergo/sdks/arbitrum/contracts/nodeinterface/suite_test.go
Due: ethergo

Check tx is not finalized for showTransactionSupport
  packages/widget/src/components/Transaction.tsx
Due: none

Fix: arbitrum sdk build
  ethergo/sdks/arbitrum/sdk.go
Due: ethergo

Cleanup: lint
  ethergo/sdks/arbitrum/contracts/nodeinterface/suite_test.go
  ethergo/sdks/arbitrum/sdk.go
Due: ethergo

Cleanup: lint
  ethergo/sdks/arbitrum/sdk.go
Due: ethergo

JS console errors
  packages/widget/src/components/BridgeButton.tsx
  packages/widget/src/components/Transactions.tsx
Due: none

Check tx is not finalized for showTransactionSupport (#1999)
  packages/widget/src/components/BridgeButton.tsx
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Transactions.tsx
Due: none

Reset each quote and denests origin/destQuery
  packages/widget/src/components/Widget.tsx
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
  packages/widget/src/state/slices/bridgeTransaction/hooks.ts
Due: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: none

Feat: add GetGasEstimateComponents to arbitrum SDK
  ethergo/sdks/arbitrum/sdk.go
Due: ethergo

Feat: use arbitrum SDK in submitter
  ethergo/submitter/submitter.go
Due: ethergo

coderabbit spec
  .coderabbit.yaml
Due: none

single quote
  .coderabbit.yaml
Due: none

Refactor transactions as list instead of obj
  packages/widget/src/hooks/useTransactionListener.ts
Due: none

Reset each quote and denests origin/destQuery (#1998)
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useTransactionListener.ts
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
  packages/widget/src/state/slices/bridgeTransaction/hooks.ts
Due: none

Feat: only run anvil tests when CI is false
  agents/agents/executor/executor_test.go
  agents/agents/guard/fraud_test.go
  ethergo/backends/anvil/suite_test.go
Due: agents, ethergo

Fixes typos
  packages/widget/README.md
Due: none

Fixes typos (#2001)
  packages/widget/README.md
Due: none

tx detail visual updates
  packages/synapse-interface/components/Portfolio/Transaction/Transaction.tsx
  packages/synapse-interface/components/Portfolio/Transaction/components/TransactionPayloadDetail.tsx
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/DropdownMenu.tsx
  packages/synapse-interface/components/_Transaction/components/MenuItem.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionStatus.tsx
  packages/synapse-interface/components/icons/DownArrow.tsx
Due: none

remove test code that shows historic txns as 'Pending'
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
Due: none

hide progress bar on complete
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/components/_Transaction/components/TestProgressBar.tsx
Due: none

f
  .coderabbit.yaml
Due: none

qodona fix
  .coderabbit.yaml
  .github/workflows/scan.yml
Due: none

scan
  .github/workflows/scan.yml
Due: none

Fix/coderabbit settings (#2000)
  .coderabbit.yaml
  .github/workflows/scan.yml
Due: none

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
