Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Upgrade .nvmrc Node version to 18.17.0 (#2427)
  .nvmrc
  packages/contracts-core/package.json
  packages/docs/package.json
  packages/explorer-ui/.nvmrc
  packages/explorer-ui/package.json
  packages/rest-api/package.json
  packages/sdk-router/package.json
  packages/synapse-interface/README.md
  packages/synapse-interface/package.json
  packages/widget/.nvmrc
  yarn.lock
Due: solidity, packages

all types for RFQ
  services/explorer/types/rfq/doc.go
  services/explorer/types/rfq/eventtype.go
  services/explorer/types/rfq/eventtype_string.go
Due: explorer

adding RFQ request and updating naming
  services/explorer/contracts/rfq/request.go
  services/explorer/db/sql/model.go
  services/explorer/types/rfq/event.go
Due: explorer

fix: lint issues
  contrib/git-changes-action/main.go
Due: git-changes-action

version
  packages/contracts-core/package.json
Due: solidity

Test autobump to new version
  packages/docs/package.json
Due: none

0.0.4
  packages/docs/package.json
Due: none

Differentiate max balance vs max bridgeable balance
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

platform tags v1
  packages/synapse-interface/pages/teaser/Hero.tsx
  packages/synapse-interface/pages/teaser/ValueProps.tsx
  packages/synapse-interface/pages/teaser/graphic/index.tsx
Due: none

fix: update variable names
  contrib/git-changes-action/main.go
Due: git-changes-action

Add error toaster for when max balance less than bridge fee
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

Test autobump to new version (#2436)
  packages/docs/package.json
Due: none

refactor; calculateGasFeeInGwei()
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

Publish
  packages/contracts-core/CHANGELOG.md
  packages/contracts-core/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: solidity, packages

Move to util
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/utils/calculateGasFeeInGwei.ts
Due: none

Upgrades viem/wagmi/rk versions
  packages/synapse-interface/package.json
  yarn.lock
Due: none

Fix lint error
  packages/synapse-interface/utils/calculateGasFeeInGwei.ts
Due: none

Adds wagmi/connectors
  packages/synapse-interface/components/Portfolio/Portfolio.tsx
  packages/synapse-interface/package.json
  yarn.lock
Due: none

Fetch gas when fromChainId on bridge card changes
  packages/synapse-interface/utils/hooks/useFetchGasDataOnInterval.ts
Due: none

Use exact token balance when calculate max bridgeable amount
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

Apply Rabbit suggestions
  packages/solidity-devops/js/forgeVerifyContract.js
  packages/solidity-devops/js/utils/etherscan.js
  packages/solidity-devops/js/verifyProxy.js
Due: none

Fix: lint
  packages/solidity-devops/js/utils/etherscan.js
Due: none

Fix some smol errors
  packages/solidity-devops/js/forgeVerifyContract.js
  packages/solidity-devops/js/utils/cast.js
  packages/solidity-devops/js/utils/chain.js
  packages/solidity-devops/js/utils/etherscan.js
  packages/solidity-devops/js/verifyProxy.js
Due: none

Some logging
  packages/explorer-ui/package.json
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/utils/sortTokens.ts
  packages/synapse-interface/wagmiConfig.ts
  yarn.lock
Due: packages

feat(solidity-devops): gas pricing, verification and deployment utils (#2439)
  packages/solidity-devops/.env.example
  packages/solidity-devops/README.md
  packages/solidity-devops/deployments/eth_sepolia/.chainId
  packages/solidity-devops/deployments/eth_sepolia/BasicContract.json
  packages/solidity-devops/devops.json
  packages/solidity-devops/foundry.toml
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/forgeVerifyContract.js
  packages/solidity-devops/js/saveDeployment.js
  packages/solidity-devops/js/utils/cast.js
  packages/solidity-devops/js/utils/chain.js
  packages/solidity-devops/js/utils/deployments.js
  packages/solidity-devops/js/utils/etherscan.js
  packages/solidity-devops/js/utils/logger.js
  packages/solidity-devops/js/utils/utils.js
  packages/solidity-devops/js/verifyProxy.js
  packages/solidity-devops/package.json
  packages/solidity-devops/script/DeployBasicContract.s.sol
  packages/solidity-devops/script/Script.s.sol
  packages/solidity-devops/src/deploy/DeploymentSaver.sol
  packages/solidity-devops/src/writer/ChainAwareWriter.sol
  packages/solidity-devops/src/writer/DataWriter.sol
Due: none

Replaces with correct config
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/wagmiConfig.ts
Due: none

Lint fix
  packages/synapse-interface/wagmiConfig.ts
Due: none

fix(solidity-devops): skip 0.2.0
  packages/solidity-devops/package.json
Due: none

fix(solidity-devops): skip 0.2.0 (#2440)
  packages/solidity-devops/package.json
Due: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Due: none

Fix: check for approval to zero address
  services/rfq/relayer/inventory/manager.go
Due: none

Cleanup: remove IsL2() from submitter config
  ethergo/submitter/config/config.go
  ethergo/submitter/config/iconfig_generated.go
Due: ethergo

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
