Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

fix: packages/explorer-ui/package.json to reduce vulnerabilities
  packages/explorer-ui/package.json
Due: packages

refactor: isolate slippage from route search
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/engine/noOpEngine.ts
  packages/sdk-router/src/rfq/engine/odosEngine.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
  packages/sdk-router/src/rfq/engine/response.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

refactor: rm ParaSwap for the time being
  packages/sdk-router/src/rfq/engine/paraSwapEngine.test.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
Due: packages

update bl
  packages/synapse-interface/public/blacklist.json
Due: none

refactor: split findRoute -> getQuote + generateRoute
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/engine/noOpEngine.ts
  packages/sdk-router/src/rfq/engine/odosEngine.test.ts
  packages/sdk-router/src/rfq/engine/odosEngine.ts
  packages/sdk-router/src/rfq/engine/response.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
Due: packages

refactor: SIR quotes wokrflow
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

fix: move encoding checks to ZapData library
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

fix: minForwardAmount in Previewer
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
Due: solidity-rfq

deploy: redpeloy SIP, TokenZap
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
Due: solidity-rfq

chore: rm unused interface
  packages/contracts-rfq/contracts/legacy/router/interfaces/IDefaultActions.sol
Due: solidity-rfq

fix: forwards params for external engines
  packages/sdk-router/src/rfq/engine/response.ts
Due: packages

chore: improve error/info logging
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/engine/odosEngine.ts
Due: packages

chore: clean up API fetching
  packages/sdk-router/src/rfq/api.ts
Due: packages

feat: update to latest SIP, TokenZap
  packages/sdk-router/src/abi/SynapseIntentPreviewer.json
  packages/sdk-router/src/constants/addresses.ts
Due: packages

Revert "feat: use temporary V2 routers [REVERT IN PROD]"
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
Due: packages

fix: separate set of chains for intents
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
Due: packages

Revert "feat: prioritize SIN quotes on the FE [REVERT IN PROD]"
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
Due: none

Revert "fix(synapse-interface): non-RFQ quotes"
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
Due: none

Revert "chore: add a staging log in the SDK"
  packages/sdk-router/src/sdk.ts
Due: packages

feat: disable RFQ V1 in staging
  packages/sdk-router/src/constants/chainIds.ts
Due: packages

feat: prioritize SIN quotes in staging
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
Due: none

refactor: isolate logging utils for easier staging
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/noOpEngine.ts
  packages/sdk-router/src/rfq/engine/odosEngine.ts
  packages/sdk-router/src/rfq/sirSet.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/utils/RouterCache.ts
  packages/sdk-router/src/utils/logger.ts
Due: packages

feat: use pino for logging in staging
  package.json
  packages/sdk-router/package.json
  packages/sdk-router/src/utils/logger.ts
  yarn.lock
Due: packages

feat: expand bridge map connections in staging
  packages/rest-api/src/constants/bridgeMap.ts
  packages/synapse-interface/constants/bridgeMap.ts
Due: none

Cleanup: lint
  services/rfq/contracts/fastbridgev2/parser.go
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/guard/service/guard.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Adds staking syn for cx link (#3480)
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

feat: different timeouts for quote and generate
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/engine/odosEngine.test.ts
  packages/sdk-router/src/rfq/engine/odosEngine.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

feat: increase API timeout to 5s in staging
  packages/sdk-router/src/rfq/api.ts
Due: packages

fix: minFwdAmount -> minFinalBalance
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
Due: solidity-rfq

fix: update TokenZap with minFinalBalance
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

fix: update SIP, SIR tests
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.HighSlippage.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.NoSlippage.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.WithSlippage.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
Due: solidity-rfq

feat: remove minLastStepAmountIn (replaced by Zap final balance checks)
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouter.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouterErrors.sol
  packages/contracts-rfq/contracts/router/SynapseIntentRouter.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
Due: solidity-rfq

deploy: latest versions
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentRouter.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
Due: solidity-rfq

Cleanup: lint
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

fix: optional forwarding
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

deploy: TokenZap
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
Due: solidity-rfq

feat: update to latest SIP, SIR, TokenZap
  packages/sdk-router/src/abi/SynapseIntentPreviewer.json
  packages/sdk-router/src/abi/SynapseIntentRouter.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/sirSet.ts
  packages/sdk-router/src/rfq/zapData.test.ts
  packages/sdk-router/src/rfq/zapData.ts
  packages/sdk-router/src/typechain/SynapseIntentRouter.ts
Due: packages

fix: origin slippage
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

fix: error logging
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages
