Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

cleanup
  .github/workflows/go.yml
Due: none

add all modules output [goreleaser]
  contrib/git-changes-action/main.go
Due: git-changes-action

lint all packages
  .github/workflows/go.yml
Due: none

restore og package
  .github/workflows/go.yml
Due: none

final change
  .github/workflows/go.yml
Due: none

add all modules output [goreleaser] (#3083)
  contrib/git-changes-action/main.go
Due: git-changes-action

switch back to latest since #3083 was merged
  .github/workflows/go.yml
Due: none

use correct workflow.
  .github/workflows/go.yml
Due: none

skip resetting quote at beginning of fetch
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

feat(rfq-relayer): wait for finality before proving (#3062)
  services/rfq/guard/guardconfig/config.go
  services/rfq/guard/guarddb/base/model.go
  services/rfq/guard/guarddb/db.go
  services/rfq/guard/service/handlers.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
Due: rfq

bridge button requests user to confirm new bridge price when detected
  .vscode/settings.json
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeValidations.ts
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
Due: none

conditions for displaying confirm price
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
Due: none

Fix: set TokenName when storing rebalances
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/scroll.go
  services/rfq/relayer/inventory/synapse.go
Due: rfq

Feat: check rebalance contents in e2e test
  services/rfq/e2e/rfq_test.go
Due: rfq

confirm prices based on initial triggered ref
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
  packages/synapse-interface/components/buttons/TransactionButton.tsx
Due: none

nit
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
  packages/synapse-interface/components/buttons/TransactionButton.tsx
Due: none

Feat: add tracing
  services/rfq/relayer/inventory/rebalance.go
Due: rfq

Feat: add tracing
  services/rfq/relayer/inventory/manager.go
Due: rfq

get tx hash of refund
  contrib/opbot/botmd/commands.go
Due: none

fix(opbot): fix refund forever (#3082)
  contrib/opbot/botmd/commands.go
Due: none

Tailwind intellisense sensitivity
  .vscode/settings.json
Due: none

Apply className changes to objects for legibility
  packages/synapse-interface/components/ConnectionIndicators.tsx
  packages/synapse-interface/components/StateManagedBridge/AvailableBalance.tsx
  packages/synapse-interface/components/StateManagedBridge/MaxButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/buttons/SwitchButton.tsx
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/components/ui/AmountInput.tsx
  packages/synapse-interface/components/ui/BridgeAmountContainer.tsx
  packages/synapse-interface/components/ui/BridgeCard.tsx
  packages/synapse-interface/components/ui/BridgeSectionContainer.tsx
  packages/synapse-interface/components/ui/NewTag.tsx
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/ui/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
  packages/synapse-interface/components/ui/SlideSearchBox.tsx
Due: none

parse within arrays
  .vscode/settings.json
Due: none

enable formatOnSave
  .vscode/settings.json
Due: none

small bug fix [goreleaser]
  contrib/opbot/botmd/commands.go
  contrib/opbot/config/config.go
Due: none

small bug fix [goreleaser] (#3086)
  contrib/opbot/botmd/commands.go
  contrib/opbot/config/config.go
Due: none

print explorer link as well
  contrib/opbot/botmd/commands.go
Due: none

better error message
  contrib/opbot/botmd/commands.go
Due: none

Feat: approval tracing
  services/rfq/relayer/inventory/manager.go
Due: rfq

Fix: approve gateway router for scroll rebalances
  services/rfq/relayer/inventory/manager.go
Due: rfq

Fix: get current block from dest when checking relay confirmations
  services/rfq/relayer/service/handlers.go
Due: rfq
