Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Revert polling interval
  packages/synapse-interface/slices/transactions/updater.tsx
Due: none

Add back fallback hooks
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
Due: none

.
  packages/synapse-interface/utils/hooks/useBridgeTxStatus.tsx
Due: none

Update isCompleted state with order of importance between props
  packages/synapse-interface/components/Portfolio/Transaction/PendingTransaction.tsx
Due: none

Check returned message value
  packages/sdk-router/src/constants/testValues.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages

Add tests for bridging native gas tokens
  packages/sdk-router/src/sdk.test.ts
Due: packages

Fix: correct tx.value in `bridge()` and `swap()`
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/utils/handleNativeToken.ts
Due: packages

Chore: cleanup
  packages/sdk-router/src/sdk.test.ts
Due: packages

fix tests
  ethergo/submitter/export_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/suite_test.go
Due: ethergo

fix submitter [goreleaser] test
  ethergo/submitter/export_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/suite_test.go
Due: ethergo

back to the basics
  packages/synapse-constants/.babelrc
  packages/synapse-constants/constants/assets/chains/custom.d.ts
  packages/synapse-constants/constants/assets/explorer/custom.d.ts
  packages/synapse-constants/constants/assets/icons/custom.d.ts
  packages/synapse-constants/index.d.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/tsconfig.json
  packages/synapse-constants/webpack.config.js
  yarn.lock
Due: none

WIP: remove coingecko price fetching for now; add TokenConfig with USD price param
  services/rfq/relayer/quoter/fee_pricer.go
  services/rfq/relayer/relconfig/config.go
Due: none

WIP: add caching logic for gas price
  services/rfq/relayer/quoter/fee_pricer.go
Due: none

WIP: fee_pricer_test setup
  services/rfq/relayer/quoter/fee_pricer_test.go
Due: none

WIP: move pricer to its own package, replace omniClient with clientFetcher
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/fee_pricer_test.go
Due: none

WIP: getNativeToken() impl
  services/rfq/relayer/pricer/fee_pricer.go
Due: none

WIP: getTokenDecimals() impl
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/relconfig/config.go
Due: none

fix https://github.com/synapsecns/sanguine/pull/1671/files#r1430370201
  ethergo/submitter/chain_queue.go
Due: ethergo

Updates Submitter w/ Oracle fallback (#1671)
  agents/go.mod
  agents/go.sum
  agents/types/utils.go
  contrib/promexporter/config/config.go
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  ethergo/backends/anvil/anvil.go
  ethergo/backends/base/base.go
  ethergo/backends/simulated/chain.go
  ethergo/chain/chain_impl.go
  ethergo/client/client.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/submitter/chain_queue.go
  ethergo/submitter/export_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/suite_test.go
  ethergo/submitter/util.go
  ethergo/submitter/util_test.go
  ethergo/util/export_test.go
  ethergo/util/transactor.go
  ethergo/util/transactor_test.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
Due: agents, terraform-provider-helmproxy, ethergo, cctp-relayer, omnirpc, scribe, sinner

Feat: working TestGetOriginFee
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
Due: none

Feat: working TestGetDestinationFee
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
Due: none

Cleanup: move redundant logic into getFee()
  services/rfq/relayer/pricer/fee_pricer.go
Due: none

Feat: add TestGetTotalFee
  services/rfq/relayer/pricer/fee_pricer_test.go
Due: none

generateTheme bug fix (#80)
  src/components/AvailableBalance.tsx
  src/components/Widget.tsx
  src/components/ui/ChainPopoverSelect.tsx
  src/components/ui/TokenPopoverSelect.tsx
  src/utils/generateTheme.ts
Due: none

Feat: add TestGetGasPrice
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
Due: none

Cleanup: TTL -> TTLSeconds
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/relconfig/config.go
Due: none

Moves themeVariables to hook (#81)
  src/components/Widget.tsx
  src/hooks/useThemeVariables.ts
Due: none

token popover layout (#82)
  src/components/Widget.tsx
Due: none

Feat: set FixedFee in GenerateQuotes() func
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Due: none

Feat: consider fees in ShouldProcess() logic
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
Due: none

Feat: add TestGenerateQuotes
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
Due: none

Feat: add TestShouldProcess
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Due: none

Cleanup: usage of TokenID -> TokenName to avoid confusion
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/quoter.go
Due: none

[goreleaser] Updated explorer indexer for migration
  services/explorer/config/indexer/config.go
  services/explorer/consumer/parser/cctpparser.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Due: explorer

Cleanup: typo
  services/rfq/relayer/inventory/manager.go
Due: none
