Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

feat(opbot): print explorer refund tx link (#3087)
  contrib/opbot/botmd/commands.go
Due: none

[goreleaser] this is what the commit does
  packages/contracts-rfq/contracts/FastBridge.sol
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/test/main.go
  tools/gciversion/main.go
Due: rfq, solidity-rfq, tools

Reduces FastBridge deadline to two hours
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
Due: packages

Fix: add build:go directive in package.json
  packages/rest-api/package.json
Due: none

remove regex setting
  .vscode/settings.json
Due: none

descending timestamp support
  contrib/opbot/botmd/commands.go
Due: none

better code
  contrib/opbot/botmd/commands.go
Due: none

Fix: retry setting up anvil backends
  ethergo/backends/anvil/anvil.go
  services/rfq/e2e/setup_test.go
Due: ethergo, rfq

Fix: build
  agents/testutil/simulated_backends_suite.go
Due: agents

Fix: build
  ethergo/submitter/suite_test.go
Due: ethergo

Fix: build
  ethergo/backends/anvil/suite_test.go
Due: ethergo

Fix: check for nil err
  ethergo/backends/anvil/anvil.go
Due: ethergo

ignore on go 1.23
  core/metrics/rookout.go
Due: core

update bl
  packages/synapse-interface/public/blacklist.json
Due: none

Fix: verify sender in relapi test
  services/rfq/relayer/relapi/server_test.go
Due: rfq

chore(synapse-interface): tailwind intellisense setting (#3085)
  .vscode/settings.json
  packages/synapse-interface/components/ConnectionIndicators.tsx
  packages/synapse-interface/components/StateManagedBridge/AvailableBalance.tsx
  packages/synapse-interface/components/StateManagedBridge/MaxButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/buttons/SwitchButton.tsx
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/components/ui/AmountInput.tsx
  packages/synapse-interface/components/ui/BridgeAmountContainer.tsx
  packages/synapse-interface/components/ui/BridgeCard.tsx
  packages/synapse-interface/components/ui/BridgeSectionContainer.tsx
  packages/synapse-interface/components/ui/NewTag.tsx
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/ui/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
  packages/synapse-interface/components/ui/SlideSearchBox.tsx
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

request User confirm price if change greater than 1 bps
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
Due: none

Fix: retry times
  ethergo/backends/anvil/anvil.go
  services/rfq/e2e/setup_test.go
Due: ethergo, rfq

Cleanup: remove logs
  ethergo/backends/anvil/anvil.go
Due: ethergo

fix(rfq-relayer): e2e test flakes (#3075)
  agents/testutil/simulated_backends_suite.go
  ethergo/backends/anvil/anvil.go
  ethergo/backends/anvil/suite_test.go
  ethergo/submitter/suite_test.go
  packages/rest-api/package.json
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/relapi/server_test.go
  services/rfq/relayer/service/relayer.go
Due: agents, ethergo, rfq

callback functions to handle creating/accepting/reset confirm flow
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
Due: none

hotfix: synapse docs url
  packages/synapse-interface/constants/urls/index.tsx
Due: none

...
  packages/synapse-interface/constants/urls/index.tsx
Due: none

initial
  core/metrics/otlp.go
  core/metrics/rookout.go
Due: core

Display input values with commas
  packages/synapse-interface/components/ui/AmountInput.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/formatNumberWithCommas.ts
Due: none

Adds missed fields
  packages/synapse-interface/components/Portfolio/components/SearchBar.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useFromChainListArray.ts
  packages/synapse-interface/components/StateManagedBridge/hooks/useToChainListArray.ts
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/lorem-ipsum.json
Due: none

Few more missed fields
  packages/synapse-interface/components/StateManagedBridge/hooks/useFromTokenListArray.ts
  packages/synapse-interface/components/StateManagedBridge/hooks/useToTokenListArray.ts
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/lorem-ipsum.json
Due: none

fixing blast address
  packages/synapse-constants/constants/tokens/bridgeable.ts
Due: none

recovery id validate & normalize
  services/rfq/api/rest/auth.go
Due: rfq

Adds LanguageSelector
  packages/synapse-interface/components/LanguageSelector.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/utils/hooks/useCloseOnEscape.ts
Due: none

Reduces FastBridge deadline to two hours (#3090)
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
Due: packages

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

Adds LanguageSelector to mobile
  packages/synapse-interface/components/LanguageSelector.tsx
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Due: none

TranslatedText component for toast helper utils * ignore and remove files
  packages/synapse-interface/.eslintrc-i18n.js
  packages/synapse-interface/components/HarmonyCheck.tsx
  packages/synapse-interface/components/ui/TranslatedText.tsx
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/utils/actions/approveAndDeposit.tsx
  packages/synapse-interface/utils/actions/approveAndStake.tsx
  packages/synapse-interface/utils/actions/approveAndWithdraw.tsx
  packages/synapse-interface/utils/actions/claimStake.tsx
  packages/synapse-interface/utils/actions/withdrawStake.tsx
  packages/synapse-interface/utils/approveToken.tsx
Due: none

update first time ontributor docs
  CONTRIBUTING.md
  assets/notion-example.png
Due: none

refactor(rfq-relayer): rebalancing with multiple tokens (#3003)
  .golangci.yml
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/export_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/inventory/mocks/manager.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/inventory/rebalance_test.go
  services/rfq/relayer/inventory/scroll.go
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/service/handlers.go
Due: rfq
