Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

removing faulty tests from PR
  core/commandline/shell_test.go
Due: core

Fire single refresh quote callback regardless of time passed (#2764)
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/hooks/useStaleQuoteUpdater.ts
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

feat(screener): use chainalysis (#2744)
  contrib/screener-api/README.md
  contrib/screener-api/chainalysis/chainalysisapi.go
  contrib/screener-api/chainalysis/doc.go
  contrib/screener-api/client/client.go
  contrib/screener-api/cmd/cmd.go
  contrib/screener-api/cmd/commands.go
  contrib/screener-api/config/config.go
  contrib/screener-api/db/db.go
  contrib/screener-api/db/db_test.go
  contrib/screener-api/db/models.go
  contrib/screener-api/db/sql/base/base.go
  contrib/screener-api/db/sql/base/namer.go
  contrib/screener-api/db/sql/mysql/store.go
  contrib/screener-api/db/sql/sqlite/sqlite.go
  contrib/screener-api/docs/docs.go
  contrib/screener-api/docs/swagger.json
  contrib/screener-api/docs/swagger.yaml
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/screener-api/screener/export_test.go
  contrib/screener-api/screener/internal/export_test.go
  contrib/screener-api/screener/internal/risk.go
  contrib/screener-api/screener/internal/risk_test.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/setup.go
  contrib/screener-api/screener/suite_test.go
  contrib/screener-api/trmlabs/doc.go
  contrib/screener-api/trmlabs/trmapi.go
  go.work.sum
  services/cctp-relayer/relayer/synapse.go
  services/rfq/relayer/quoter/quoter.go
Due: screener-api, cctp-relayer, rfq

fix initial_balance_pct to clarify steup params
  docs/bridge/docs/rfq/Relayer/Relayer.md
Due: none

design updates to the explorer
  packages/explorer-ui/components/BridgeTransaction/BridgeTransactionTable.tsx
  packages/explorer-ui/components/TransactionTable/TableBody.tsx
  packages/explorer-ui/components/misc/ChainInfo.tsx
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/components/misc/StyleAddress.tsx
  packages/explorer-ui/utils/timeAgo.ts
Due: packages

Revert "fix(synapse-interface): RFQ input vs bridgeQuote validation"
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Pauses blast
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

Pauses blast (#2790)
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

[goreleaser]
  .vscode/settings.json
  contrib/screener-api/client/client.go
  contrib/screener-api/db/models.go
  contrib/screener-api/screener/screener.go
Due: screener-api

Unpauses blast
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

fix tests [goreleaser]
  contrib/screener-api/db/db_test.go
  contrib/screener-api/screener/suite_test.go
Due: screener-api

Unpauses blast (#2793)
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

fix models
  contrib/screener-api/db/db_test.go
  contrib/screener-api/db/models.go
  contrib/screener-api/db/sql/base/base.go
  contrib/screener-api/db/sql/base/namer.go
  contrib/screener-api/screener/screener.go
Due: screener-api

lint [goreleaser]
  contrib/screener-api/client/client.go
  contrib/screener-api/db/models.go
Due: screener-api

fix 401 screner (#2792)
  .vscode/settings.json
  contrib/screener-api/client/client.go
  contrib/screener-api/db/models.go
  contrib/screener-api/db/sql/base/base.go
  contrib/screener-api/db/sql/base/namer.go
  contrib/screener-api/screener/screener.go
  contrib/screener-api/screener/suite_test.go
Due: screener-api

lint fix
  ethergo/examples/signer-example/cmd/cmd.go
  ethergo/signer/config/signer.go
Due: ethergo

build fix [goreleaser]
  ethergo/.goreleaser.yml
Due: ethergo

md changes
  docs/bridge/docs/Services/Signer.md
  docs/bridge/docusaurus.config.ts
  docs/bridge/package.json
  docs/bridge/static/img/iam-dash.png
  docs/bridge/static/img/signer/create-acces-key.png
  docs/bridge/static/img/signer/create-access-key.png
  docs/bridge/static/img/signer/iam-dash.png
  docs/bridge/static/img/signer/iam-preview-user.png
  docs/bridge/static/img/signer/key-details.png
  docs/bridge/static/img/signer/kms-1.png
  docs/bridge/static/img/signer/kms-2.png
  docs/bridge/static/img/signer/kms-advanced.png
  docs/bridge/static/img/signer/kms-labels.png
  docs/bridge/static/img/signer/kms-permissons.png
  docs/bridge/static/img/signer/kms-user-permissions.png
  docs/bridge/static/img/signer/kms-user.png
  docs/bridge/static/img/signer/perms.png
  docs/bridge/static/img/signer/review.png
  docs/bridge/static/img/signer/user-list.png
  docs/bridge/static/img/signer/user-perms.png
  yarn.lock
Due: none

Revert "md changes"
  docs/bridge/docs/Services/Signer.md
  docs/bridge/docusaurus.config.ts
  docs/bridge/package.json
  docs/bridge/static/img/iam-dash.png
  docs/bridge/static/img/signer/create-acces-key.png
  docs/bridge/static/img/signer/create-access-key.png
  docs/bridge/static/img/signer/iam-dash.png
  docs/bridge/static/img/signer/iam-preview-user.png
  docs/bridge/static/img/signer/key-details.png
  docs/bridge/static/img/signer/kms-1.png
  docs/bridge/static/img/signer/kms-2.png
  docs/bridge/static/img/signer/kms-advanced.png
  docs/bridge/static/img/signer/kms-labels.png
  docs/bridge/static/img/signer/kms-permissons.png
  docs/bridge/static/img/signer/kms-user-permissions.png
  docs/bridge/static/img/signer/kms-user.png
  docs/bridge/static/img/signer/perms.png
  docs/bridge/static/img/signer/review.png
  docs/bridge/static/img/signer/user-list.png
  docs/bridge/static/img/signer/user-perms.png
  yarn.lock
Due: none

fix spelling issue
  docs/bridge/docs/Services/Signer.md
Due: none

fix ethergo [goreleaser] config
  ethergo/.goreleaser.yml
Due: ethergo

fix ethergo goreleaser config (#2796)
  ethergo/.goreleaser.yml
Due: ethergo

adding custom svg
  packages/explorer-ui/components/BridgeTransaction/BridgeTransactionTable.tsx
  packages/explorer-ui/components/icons/Arrow.tsx
Due: packages

codeclimate fixes
  .codeclimate.yml
Due: none

codeclimate fixes (#2797)
  .codeclimate.yml
Due: none

document scribe
  docs/bridge/docs/Services/Scribe.md
  docs/bridge/docusaurus.config.ts
Due: none

deploy fix
  docs/bridge/docs/Services/Scribe.md
Due: none

document additional service (#2799)
  docs/bridge/docs/Services/Scribe.md
  docs/bridge/docusaurus.config.ts
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
Due: none

clarify region must match key region
  docs/bridge/docs/Services/Signer.md
Due: none

format string literals
  docs/bridge/docs/Services/Signer.md
Due: none

format string literals in signer docs (#2800)
  docs/bridge/docs/Services/Signer.md
Due: none
