Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

fix(synapse-interface): restore bridge quote thunk from master
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
Due: none

feat(sdk-router): SBA support (#3996)
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/index.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sba/index.ts
  packages/sdk-router/src/sba/metadata.ts
  packages/sdk-router/src/sba/supportedTokens.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModule.test.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModule.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModuleSet.test.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModuleSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Due: packages

fix(synapse-interface): bump next to 14.2.35 (#3966)
  packages/rest-api/.npmrc
  packages/synapse-interface/package.json
  yarn.lock
Due: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

fix(contracts-adapter): refresh DVN config addresses
  packages/contracts-adapter/configs/global/dvns.json
  packages/contracts-adapter/script/utils/extractDVNs.ts
Due: none

docs: add widget quote refresh fix spec
  spec_widget_quote_refresh.md
Due: none

docs: make widget quote refresh spec TDD-first
  spec_widget_quote_refresh.md
Due: none

test(widget): add stale quote refresh coverage
  packages/widget/jest.config.js
  packages/widget/jest.setup.js
  packages/widget/package.json
  packages/widget/src/components/Widget.test.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.test.tsx
  yarn.lock
Due: packages

fix(widget): scope stale refresh to active quote lifecycle
  packages/widget/src/hooks/useBridgeQuoteUpdater.ts
Due: packages

test(widget): add quote refresh edge case coverage
  packages/widget/src/components/Widget.test.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.test.tsx
Due: packages

fix(contracts-adapter): update moonbeam rpc endpoint
  packages/contracts-adapter/.env.example
  packages/contracts-adapter/script/utils/fetchBlockTimes.ts
  packages/contracts-adapter/script/utils/verifyTokens.ts
Due: none

fix(contracts-adapter): print multisig wire calldata
  packages/contracts-adapter/script/WireSBA.s.sol
  packages/contracts-adapter/script/wire.sh
Due: none

fix(contracts-adapter): verify endpoint delegates
  packages/contracts-adapter/script/utils/verifyOwnership.ts
Due: none

fix(solidity-devops): correct param name for verifier key
  packages/solidity-devops/js/utils/chain.js
Due: none

test(widget): add quote refresh regression coverage
  packages/widget/src/components/Widget.test.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.test.tsx
Due: packages

test(widget): fix lint in quote refresh tests
  packages/widget/src/components/Widget.test.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.test.tsx
Due: packages

fix(widget): reset stale quote cycles across busy transitions
  packages/widget/src/hooks/useBridgeQuoteUpdater.ts
Due: packages

test(widget): upgrade testing library react
  packages/widget/package.json
  yarn.lock
Due: packages

test(widget): cover out-of-order quote responses
  packages/widget/src/state/slices/bridgeQuote/reducer.test.ts
Due: packages

chore: remove widget quote refresh spec
  spec_widget_quote_refresh.md
Due: none

fix(sdk-router): use fixed SBA ETA buffer
  packages/sdk-router/src/sba/metadata.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModule.test.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModule.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModuleSet.test.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModuleSet.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages

fix(sdk-router): use fixed USDT OFT ETA buffer
  packages/sdk-router/src/oft/usdtModule.test.ts
  packages/sdk-router/src/oft/usdtModule.ts
Due: packages

style(sdk-router): fix lint issues
  packages/sdk-router/src/oft/usdtModule.test.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModule.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages

fix(contracts-adapter): validate universal DVN addresses
  packages/contracts-adapter/script/utils/extractDVNs.ts
Due: none

fix(sdk-router): run tests on jest 29
  packages/sdk-router/jest.config.js
  packages/sdk-router/package.json
  packages/sdk-router/tsconfig.test.json
Due: packages

fix(widget): clean bridge quote updater timers
  packages/widget/src/hooks/useBridgeQuoteUpdater.test.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.ts
Due: packages

chore: update yarn lockfile
  yarn.lock
Due: none

fix(widget): sync stale quote callback ref before paint
  packages/widget/src/hooks/useBridgeQuoteUpdater.test.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.ts
Due: packages

fix(sdk-router): satisfy jest config lint formatting
  packages/sdk-router/jest.config.js
Due: packages

style(widget): satisfy hook timing test formatting
  packages/widget/src/hooks/useBridgeQuoteUpdater.test.tsx
Due: packages

fix(contracts-adapter): address script lint findings
  packages/contracts-adapter/script/utils/extractDVNs.ts
  packages/contracts-adapter/script/utils/verifyOwnership.ts
  packages/contracts-adapter/script/wire.sh
Due: none

fix(contracts-adapter): use bash test syntax in wire script
  packages/contracts-adapter/script/wire.sh
Due: none

fix(solidity-devops): correct param name for verifier key (#3998)
  packages/solidity-devops/js/utils/chain.js
Due: none

fix(widget): quote flickering (#3999)
  packages/sdk-router/jest.config.js
  packages/sdk-router/package.json
  packages/sdk-router/tsconfig.test.json
  packages/widget/jest.config.js
  packages/widget/jest.setup.js
  packages/widget/package.json
  packages/widget/src/components/Widget.test.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.test.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.test.ts
  yarn.lock
Due: packages

fix(sdk-router): sba estimated time (#4000)
  packages/sdk-router/src/oft/usdtModule.test.ts
  packages/sdk-router/src/oft/usdtModule.ts
  packages/sdk-router/src/sba/metadata.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModule.test.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModule.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModuleSet.test.ts
  packages/sdk-router/src/sba/synapseBridgeAdapterModuleSet.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages

Publish
  packages/contracts-adapter/CHANGELOG.md
  packages/contracts-adapter/package.json
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: solidity-rfq, packages

docs: add widget native fee spec
  spec_widget-bridge-native-fee.md
Due: none

feat(widget): show native bridge fee in receipt
  packages/widget/src/components/Receipt.tsx
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
Due: packages

feat(widget): show receipt token symbols
  packages/widget/src/components/Widget.tsx
  spec_widget-bridge-native-fee.md
Due: packages

test(widget): cover native fee receipt behavior
  packages/widget/src/components/Receipt.test.tsx
  packages/widget/src/components/Widget.receipt.test.tsx
  packages/widget/src/state/slices/bridgeQuote/hooks.test.ts
Due: packages
