Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Cleanup: lint
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/chain/encoding.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Fix: CI build
  packages/contracts-rfq/package.json
Due: solidity-rfq

feat: initial implementation
  packages/contracts-rfq/contracts/interfaces/IZapRouterV1Errors.sol
  packages/contracts-rfq/contracts/router/ZapRouterV1.sol
Due: solidity-rfq

feat: scaffold ZapRouter
  packages/contracts-rfq/contracts/interfaces/IZapRouterV1.sol
  packages/contracts-rfq/contracts/interfaces/IZapRouterV1Errors.sol
  packages/contracts-rfq/contracts/router/ZapRouterV1.sol
Due: solidity-rfq

test: single zap action
  packages/contracts-rfq/test/mocks/PoolMock.sol
  packages/contracts-rfq/test/router/ZapRouterV1.t.sol
Due: solidity-rfq

feat: scaffold checked/unchecked performZaps
  packages/contracts-rfq/contracts/interfaces/IZapRouterV1.sol
  packages/contracts-rfq/contracts/interfaces/IZapRouterV1Errors.sol
  packages/contracts-rfq/contracts/router/ZapRouterV1.sol
  packages/contracts-rfq/test/router/ZapRouterV1.BalanceChecks.t.sol
Due: solidity-rfq

feat: implement balance checks
  packages/contracts-rfq/contracts/router/ZapRouterV1.sol
Due: solidity-rfq

test: add cases where TokenZap has non-zero initial amount
  packages/contracts-rfq/test/router/ZapRouterV1.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/ZapRouterV1.t.sol
Due: solidity-rfq

test: double zap cases (erc20 and/or native combos)
  packages/contracts-rfq/test/mocks/PoolMock.sol
  packages/contracts-rfq/test/mocks/WETHMock.sol
  packages/contracts-rfq/test/router/ZapRouterV1.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/ZapRouterV1.t.sol
Due: solidity-rfq

Feat: add v2 contracts to rfq api endpoint
  services/rfq/api/client/suite_test.go
  services/rfq/api/config/config.go
  services/rfq/api/model/response.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/suite_test.go
Due: rfq

Feat: add separate role caches for v1/v2
  services/rfq/api/rest/server.go
Due: rfq

Fix: build
  contrib/opbot/botmd/commands.go
Due: none

Feat: add checkRoleParallel()
  services/rfq/api/rest/server.go
Due: rfq

Fix: build
  services/rfq/e2e/setup_test.go
Due: rfq

Feat: add validation for contract versions
  services/rfq/api/rest/handler.go
Due: rfq

Cleanup: lint
  services/rfq/api/rest/handler.go
Due: rfq

Cleaup: remove log
  services/rfq/api/rest/handler.go
Due: rfq

Feat: use 'contracts' instead of 'contracts_v1' json tag for now
  services/rfq/api/model/response.go
Due: rfq

Feat: initial fastbridgev2 bindings
  services/rfq/contracts/fastbridgev2/fastbridgev2.abigen.go
  services/rfq/contracts/fastbridgev2/fastbridgev2.contractinfo.json
  services/rfq/contracts/fastbridgev2/fastbridgev2.metadata.go
  services/rfq/contracts/fastbridgev2/generate.go
Due: rfq

feat: scaffold IntentRouter
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouter.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouterErrors.sol
  packages/contracts-rfq/contracts/router/SynapseIntentRouter.sol
Due: solidity-rfq

feat: initial implementation
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouterErrors.sol
  packages/contracts-rfq/contracts/router/SynapseIntentRouter.sol
Due: solidity-rfq

test: single step
  packages/contracts-rfq/test/mocks/PoolMock.sol
  packages/contracts-rfq/test/mocks/WETHMock.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
Due: solidity-rfq

feat: scaffold checked/unchecked `completeIntent`
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouter.sol
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentRouterErrors.sol
  packages/contracts-rfq/contracts/router/SynapseIntentRouter.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
Due: solidity-rfq

feat: implement balance checks
  packages/contracts-rfq/contracts/router/SynapseIntentRouter.sol
Due: solidity-rfq

test: add cases where TokenZap has non-zero initial amount
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
Due: solidity-rfq

test: double step cases (erc20 and/or native combos)
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
Due: solidity-rfq

chore: update imports
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/integration/MulticallTarget.t.sol
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/mocks/FastBridgeMock.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

chore: move mocks to their respecitve directory
  packages/contracts-rfq/.solhintignore
  packages/contracts-rfq/test/mocks/FastBridgeMock.sol
  packages/contracts-rfq/test/mocks/MockERC20.sol
  packages/contracts-rfq/test/mocks/MockRevertingRecipient.sol
Due: solidity-rfq

chore: also move UniversalToken tests
  packages/contracts-rfq/test/harnesses/UniversalTokenLibHarness.sol
  packages/contracts-rfq/test/libs/UniversalTokenLib.t.sol
Due: solidity-rfq

build: include harnesses and mocks in the flatten command
  packages/contracts-rfq/package.json
Due: solidity-rfq

Fix: deploy harness
  services/rfq/testutil/deployers.go
Due: rfq

Fix: rfq test
  services/rfq/e2e/rfq_test.go
Due: rfq

Feat: use gofakeit to mock
  services/rfq/e2e/rfq_test.go
Due: rfq

Cleanup: test structure
  services/rfq/e2e/rfq_test.go
Due: rfq

Replace: EncodeQuoteRequest -> EncodeBridgeTx
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/chain/encoding.go
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

Feat: add Decode func and add to parity test
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/chain/encoding.go
Due: rfq

Fix: eth address mocks
  services/rfq/e2e/rfq_test.go
Due: rfq
