Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Revert "1 wei->10 wei [goreleaser]"
  ethergo/submitter/submitter.go
Due: ethergo

Revert "[goreleaser] fix tx"
  ethergo/chain/gas/cmp.go
  ethergo/submitter/submitter.go
Due: ethergo

revert bumpDynamicTxFees to master
  ethergo/chain/gas/cmp.go
Due: ethergo

newFeeCap [goreleaser]
  ethergo/chain/gas/cmp.go
  ethergo/submitter/submitter.go
Due: ethergo

f
  ethergo/submitter/submitter.go
Due: ethergo

handle type 0 transactions
  contrib/scripts/txdecoder.sh
Due: none

ignore txdecoder
  .github/workflows/lint.yml
Due: none

[goreleaser] revert me extremely, extremely aggressive printing
  ethergo/chain/gas/cmp.go
  ethergo/submitter/submitter.go
Due: ethergo

add tx decoder (#2415)
  .github/workflows/lint.yml
  contrib/scripts/txdecoder.sh
Due: none

[goreleaser]
  ethergo/submitter/submitter.go
Due: ethergo

[goreleaser]
  ethergo/submitter/chain_queue.go
Due: ethergo

Revert "[goreleaser] revert me extremely, extremely aggressive printing"
  ethergo/chain/gas/cmp.go
  ethergo/submitter/submitter.go
Due: ethergo

return nil a
  ethergo/submitter/submitter.go
Due: ethergo

Update README
  contrib/git-changes-action/README.md
Due: git-changes-action

feat: enable workflow input to define dependency level resolution
  contrib/git-changes-action/main.go
Due: git-changes-action

Update README.md
  contrib/git-changes-action/README.md
Due: git-changes-action

Add utils for getting current gas pricing info
  packages/solidity-devops/js/utils/cast.js
  packages/solidity-devops/js/utils/chain.js
Due: none

Add "fill gas price automatically" option
  packages/solidity-devops/js/utils/chain.js
Due: none

Update recommended values
  packages/solidity-devops/devops.json
Due: none

Copy deployed contract ABI in the post-script routine
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/utils/deployments.js
Due: none

Don't bother copying ABI in the scripts
  packages/solidity-devops/src/deploy/DeploymentSaver.sol
  packages/solidity-devops/src/writer/ChainAwareWriter.sol
  packages/solidity-devops/src/writer/DataWriter.sol
Due: none

Add setup instructions to README.md
  packages/solidity-devops/README.md
Due: none

Add example of a saved deployment artifact
  packages/solidity-devops/deployments/eth_sepolia/BasicContract.json
Due: none

Add ETH Sepolia to config for testing
  packages/solidity-devops/.env.example
  packages/solidity-devops/deployments/eth_sepolia/.chainId
  packages/solidity-devops/devops.json
  packages/solidity-devops/foundry.toml
  packages/solidity-devops/script/Script.s.sol
Due: none

Add standalone util for verifying contracts
  packages/solidity-devops/js/forgeVerifyContract.js
  packages/solidity-devops/js/utils/chain.js
  packages/solidity-devops/js/utils/deployments.js
  packages/solidity-devops/package.json
Due: none

Isolate "save new deployment" routine, add standalone helper
  packages/solidity-devops/js/forgeScriptRun.js
  packages/solidity-devops/js/saveDeployment.js
  packages/solidity-devops/js/utils/deployments.js
  packages/solidity-devops/package.json
Due: none

Redact sensitive keys in logCommand function
  packages/solidity-devops/js/utils/logger.js
Due: none

Add standalone util for verifying proxy on Etherscan
  packages/solidity-devops/js/utils/chain.js
  packages/solidity-devops/js/utils/etherscan.js
  packages/solidity-devops/js/utils/utils.js
  packages/solidity-devops/js/verifyProxy.js
  packages/solidity-devops/package.json
Due: none

Modify example script
  packages/solidity-devops/script/DeployBasicContract.s.sol
  packages/solidity-devops/script/Script.s.sol
Due: none

Add usage docs
  packages/solidity-devops/README.md
Due: none

add EventLog for rfq
  services/explorer/types/rfq/event.go
Due: explorer

adding RFQ sql model
  services/explorer/db/sql/model.go
Due: explorer

adding flattened RFQ contracts
  services/explorer/contracts/contracts/SynapseRFQV1_flat.sol
  services/explorer/contracts/contracts/SynapseRFQV2_flat.sol
  services/explorer/contracts/contracts/testcontracts/TestSynapseRFQV1_flat.sol
  services/explorer/contracts/contracts/testcontracts/TestSynapseRFQV2_flat.sol
Due: explorer

updatel bl 04/03
  packages/synapse-interface/public/blacklist.json
Due: none

updatel bl 04/03 (#2434)
  packages/synapse-interface/public/blacklist.json
Due: none

update bl 04/3 -2
  packages/synapse-interface/public/blacklist.json
Due: none

update bl 04/3 -2 (#2435)
  packages/synapse-interface/public/blacklist.json
Due: none
