Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

pass 10
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/executor/executor.go
Due: none

pass 10
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
Due: none

pass 11
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
Due: none

pass 11
  packages/contracts-communication/contracts/InterchainClientV1.sol
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
Due: none

cleanup
  contrib/git-changes-action/go.mod
  contrib/screener-api/go.mod
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/go.mod
  sin-executor/go.sum
  tools/go.mod
Due: git-changes-action, tools

committee updates
  agents/go.mod
  agents/go.sum
  committee/go.sum
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.sum
  core/go.sum
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.sum
Due: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, tools

reset sum
  agents/go.sum
  committee/go.sum
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.sum
  core/go.sum
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/go.sum
  services/rfq/go.sum
  services/scribe/go.sum
  services/stiprelayer/go.sum
  sin-executor/go.sum
  tools/go.sum
Due: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, tools

reset mod
  agents/go.mod
  committee/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/release-copier-action/go.mod
  contrib/screener-api/go.mod
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/tfcore/go.mod
  core/go.mod
  services/cctp-relayer/go.mod
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/rfq/go.mod
  services/scribe/go.mod
  services/stiprelayer/go.mod
  sin-executor/go.mod
  tools/go.mod
Due: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, cctp-relayer, explorer, omnirpc, scribe, tools

Execution Service Consolidation (#2125) (#2127)
  committee/node/node.go
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  sin-executor/Makefile
  sin-executor/cmd/commands.go
  sin-executor/config/config.go
  sin-executor/contracts/executionservice/eventtype_string.go
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/executionservice/executionservice.metadata.go
  sin-executor/contracts/executionservice/generate.go
  sin-executor/contracts/executionservice/helpers.go
  sin-executor/contracts/executionservice/parser.go
  sin-executor/contracts/executionservice/topics.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/generate.go
  sin-executor/contracts/mocks/executionservicemock/helpers.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.metadata.go
  sin-executor/contracts/mocks/gasoraclemock/generate.go
  sin-executor/contracts/mocks/gasoraclemock/helpers.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
  sin-executor/testutil/typecast.go
Due: none

Execution Service Consolidation (#2125) (#2127) (#2128)
  committee/node/node.go
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/script/MessagingBase.s.sol
  sin-executor/Makefile
  sin-executor/cmd/commands.go
  sin-executor/config/config.go
  sin-executor/contracts/executionservice/eventtype_string.go
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/executionservice/executionservice.metadata.go
  sin-executor/contracts/executionservice/generate.go
  sin-executor/contracts/executionservice/helpers.go
  sin-executor/contracts/executionservice/parser.go
  sin-executor/contracts/executionservice/topics.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.abigen.go
  sin-executor/contracts/mocks/executionservicemock/executionservicemock.contractinfo.json
  sin-executor/contracts/mocks/executionservicemock/generate.go
  sin-executor/contracts/mocks/executionservicemock/helpers.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.metadata.go
  sin-executor/contracts/mocks/gasoraclemock/generate.go
  sin-executor/contracts/mocks/gasoraclemock/helpers.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/executor/executor.go
  sin-executor/executor/executor_test.go
  sin-executor/executor/suite_test.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/contracttypeimpl_string.go
  sin-executor/testutil/deployers.go
  sin-executor/testutil/typecast.go
Due: none

Fix: add missing unit tests for LockingProcessor (partly failing)
  packages/contracts-interchain/test/processors/LockingProcessor.t.sol
Due: none

Fix (L-02): calculateSwap in LockingProcessor
  packages/contracts-interchain/src/processors/AbstractProcessor.sol
  packages/contracts-interchain/src/processors/LockingProcessor.sol
Due: none

Feat: move listener to ethergo/chain/listener package
  ethergo/chain/listener/doc.go
  ethergo/chain/listener/export_test.go
  ethergo/chain/listener/listener.go
  ethergo/chain/listener/listener_test.go
  ethergo/chain/listener/suite_test.go
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/inventory/rebalance.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/service/relayer.go
Due: ethergo

Cleanup: lints
  ethergo/chain/listener/listener.go
  ethergo/chain/listener/listener_test.go
Due: ethergo

update db
  ethergo/chain/listener/db/service.go
  ethergo/chain/listener/db/store.go
  ethergo/chain/listener/export_test.go
  ethergo/chain/listener/listener.go
  ethergo/chain/listener/suite_test.go
  services/rfq/relayer/reldb/base/block.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/store.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/db_test.go
Due: ethergo

add icon fix to synapse-interface package
  packages/synapse-interface/assets/icons/klay.svg
Due: none

Fe/klay icon fix (#2130)
  packages/synapse-interface/assets/icons/klay.svg
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Cleanup: remove unnecessary errgroup
  ethergo/chain/listener/listener.go
Due: ethergo

Basic Address Input
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Due: none

Detect if input is valid address
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Due: none

Click on Input to trigger warning
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Due: none

DestinationInputWarning to handle accept/reject warning
  packages/synapse-interface/components/StateManagedBridge/_DestinationAddressInput.tsx
Due: none

Init new package
  packages/solidity-devops/README.md
  packages/solidity-devops/package.json
Due: none

Install forge-std, ds-test as npm packages
  package.json
  packages/solidity-devops/package.json
  packages/solidity-devops/remappings.txt
  yarn.lock
Due: none

Add library to deal with strings
  packages/solidity-devops/foundry.toml
  packages/solidity-devops/src/libs/StringUtils.sol
  packages/solidity-devops/test/harnesses/StringUtilsHarness.sol
  packages/solidity-devops/test/libs/StringUtils.t.sol
Due: none

Move base script templates
  packages/solidity-devops/src/base/ChainAwareness.sol
  packages/solidity-devops/src/base/Logger.sol
  packages/solidity-devops/src/base/PathFinder.sol
Due: none

Move read/write utils
  packages/solidity-devops/src/reader/ChainAwareReader.sol
  packages/solidity-devops/src/reader/DataReader.sol
  packages/solidity-devops/src/writer/ChainAwareWriter.sol
  packages/solidity-devops/src/writer/DataWriter.sol
Due: none

Add diff scripts bases for 0.6 and 0.7+ scripts
  packages/solidity-devops/src/SynapseBaseScript.sol
  packages/solidity-devops/src/SynapseScript.sol
  packages/solidity-devops/src/SynapseScript06.sol
  packages/solidity-devops/src/base/Logger.sol
Due: none

Move deployment utils
  packages/solidity-devops/src/deploy/Deployer.sol
  packages/solidity-devops/src/deploy/DeploymentSaver.sol
Due: none

Move base script template
  packages/solidity-devops/src/SynapseScript.sol
  packages/solidity-devops/src/SynapseScript06.sol
  packages/solidity-devops/src/base/SynapseBaseScript.sol
Due: none

Fix natspec tags
  packages/solidity-devops/src/base/Logger.sol
  packages/solidity-devops/src/deploy/Deployer.sol
Due: none

Add basic utils
  packages/solidity-devops/js/utils/env.js
  packages/solidity-devops/js/utils/utils.js
  packages/solidity-devops/package.json
Due: none

Specify structure for .env and foundry.toml
  packages/solidity-devops/.env.example
  packages/solidity-devops/foundry.toml
Due: none

Wallet-specific utils
  packages/solidity-devops/js/utils/wallet.js
Due: none

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
