Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/explorer, services/omnirpc, services/scribe, tools

[goreleaser] + head
  services/scribe/service/indexer/indexer.go
Due: none

simplify metrics endpoint
  contrib/promexporter/exporters/exporter.go
  core/ginhelper/server.go
Due: none

simplify metrics endpoint (#1179)
  contrib/promexporter/exporters/exporter.go
  core/ginhelper/server.go
Due: none

[goreleaser] (#1173)
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/queryutils.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/queries.graphql
  services/explorer/graphql/server/graph/schema/types.graphql
Due: none

add gin tracing
  go.work.sum
  services/scribe/api/server.go
Due: none

[goreleaser] wrap
  services/explorer/api/server.go
Due: none

punt some buildcaches
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-kubeproxy/go.mod
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/backfill/chain_test.go
  services/explorer/backfill/suite_test.go
  services/explorer/cmd/commands.go
  services/explorer/node/explorer.go
  services/explorer/node/explorer_test.go
  services/explorer/node/suite_test.go
  services/explorer/testutil/newtestenv.go
Due: contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy

cancel outdated jobs again [goreleaser]
  .github/workflows/cypress.yml
  .github/workflows/go.yml
  .github/workflows/helm-test.yml
  .github/workflows/packages.yml
Due: none

[goreleaser] + read
  services/scribe/service/chain.go
Due: none

fix lint
  services/explorer/node/suite_test.go
Due: none

metadata fix [goreleaser]
  services/explorer/main.go
Due: services/explorer

more clean
  agents/go.sum
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  contrib/tfcore/go.sum
  core/go.sum
  ethergo/go.sum
  services/cctp-relayer/go.sum
  services/omnirpc/go.sum
  services/scribe/go.sum
  services/scribe/graphql/server/graph/model/models_gen.go
  tools/go.sum
Due: agents, contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/tfcore, core, ethergo, services/omnirpc, services/scribe, tools

regen
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/queries.resolvers.go
Due: none

regen the models
  contrib/promexporter/internal/gql/dfk/models.gen.go
  contrib/promexporter/internal/gql/explorer/client.gen.go
  contrib/promexporter/internal/gql/explorer/models.gen.go
Due: none

scribe updates
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/types.resolvers.go
Due: none

omnirpc metrics endpoint
  services/omnirpc/proxy/server.go
Due: none

metrics
  contrib/promexporter/go.sum
  services/scribe/service/chain.go
  services/scribe/service/chain_test.go
  services/scribe/service/indexer/indexer_test.go
Due: none

init
  contrib/tfcore/utils/combine_schemas.go
  contrib/tfcore/utils/doc.go
  contrib/tfcore/utils/wrapper_test.go
Due: none

Scribe gql tracing (#1178)
  agents/go.mod
  services/explorer/go.mod
  services/scribe/api/server.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/gin.go
Due: agents, services/explorer, services/scribe

log txsubmitter exit [goreleaser]
  ethergo/submitter/submitter.go
Due: none

remove tfcore specific lint step (this no longer works)
  .github/workflows/go.yml
Due: none

log txsubmitter exit [goreleaser] (#1182)
  ethergo/submitter/submitter.go
Due: none

fix go build cache key
  .github/workflows/go.yml
Due: none

trigger build
  agents/README.md
Due: agents

Revert "trigger build"
  agents/README.md
Due: agents

trigger one more time
  agents/README.md
Due: agents

Revert "trigger one more time"
  agents/README.md
Due: agents

fix go build cache key (#1183)
  .github/workflows/go.yml
Due: none

[goreleaser]
  contrib/promexporter/config/config.go
  contrib/promexporter/exporters/exporter.go
  core/metrics/consistentnames.go
Due: none

meter balance [goreleaser]
  contrib/promexporter/exporters/exporter.go
Due: none

Path conditions:
  agents: any of: agents/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/git-changes-action: any of: contrib/git-changes-action/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  release-copier-action: any of: contrib/release-copier-action/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/terraform-provider-iap: any of: contrib/terraform-provider-iap/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/tfcore: any of: contrib/tfcore/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  core: any of: core/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  ethergo: any of: ethergo/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  services/explorer: any of: services/explorer/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  services/omnirpc: any of: services/omnirpc/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  services/scribe: any of: services/scribe/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  tools: any of: tools/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
