Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

more docs
  services/rfq/relayer/README.md
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/listener/export_test.go
  services/rfq/relayer/listener/listener.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/export_test.go
  services/rfq/relayer/service/relayer.go
Due: none

Transactions (#69)
  src/components/Transaction.tsx
  src/components/Widget.tsx
  src/components/icons/DownArrow.tsx
  src/state/slices/transactions/reducer.ts
  src/state/store.ts
Due: none

point main to bundle
  packages/synapse-constants/package.json
Due: none

recompiled with target as web
  packages/synapse-constants/esm/constants/tokens/poolMaster.js
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
Due: none

Transaction links (#71)
  src/components/Transaction.tsx
  src/components/Widget.tsx
  src/utils/getTxBlockExplorerLink.ts
  src/utils/getTxSynapseExplorerLink.ts
Due: none

sending up prayer
  packages/synapse-constants/esm/index.js
  packages/synapse-constants/index.ts
  packages/synapse-constants/package.json
Due: none

rewrite queue [goreleaser]
  agents/agents/guard/db/sql/base/crosstable.go
  ethergo/signer/signer/awssigner/kmsmock/internal/server_gen.go
  ethergo/submitter/submitter.go
  services/rfq/relayer/README.md
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
Due: agents, ethergo

addding declarations everywhere
  packages/synapse-constants/constants/tokens/index.ts
  packages/synapse-constants/esm/constants/assets/chains/index.d.ts
  packages/synapse-constants/esm/constants/assets/explorer/index.d.ts
  packages/synapse-constants/esm/constants/assets/icons/index.d.ts
  packages/synapse-constants/esm/constants/assets/index.d.ts
  packages/synapse-constants/esm/constants/bridgeMap.d.ts
  packages/synapse-constants/esm/constants/chains/index.d.ts
  packages/synapse-constants/esm/constants/chains/master.d.ts
  packages/synapse-constants/esm/constants/index.d.ts
  packages/synapse-constants/esm/constants/minichef.d.ts
  packages/synapse-constants/esm/constants/tokens/auxilliary.d.ts
  packages/synapse-constants/esm/constants/tokens/bridgeMap.d.ts
  packages/synapse-constants/esm/constants/tokens/bridgeable.d.ts
  packages/synapse-constants/esm/constants/tokens/deprecated.d.ts
  packages/synapse-constants/esm/constants/tokens/index.d.ts
  packages/synapse-constants/esm/constants/tokens/index.js
  packages/synapse-constants/esm/constants/tokens/master.d.ts
  packages/synapse-constants/esm/constants/tokens/poolMaster.d.ts
  packages/synapse-constants/esm/constants/tokens/poolMaster.js
  packages/synapse-constants/esm/constants/tokens/sushiMaster.d.ts
  packages/synapse-constants/esm/constants/tokens/swapMaster.d.ts
  packages/synapse-constants/esm/constants/types/index.d.ts
  packages/synapse-constants/esm/index.d.ts
  packages/synapse-constants/index.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/tsconfig.json
Due: none

updating pointers
  packages/synapse-constants/package.json
Due: none

adding custom.d.ts for everything
  packages/synapse-constants/constants/assets/chains/custom.d.ts
  packages/synapse-constants/package.json
Due: none

Fe/unpause arbitrum (#1669)
  packages/synapse-interface/components/Warning.tsx
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/pages/index.tsx
Due: none

gen fix
  ethergo/signer/signer/awssigner/kmsmock/internal/server_gen.go
  services/rfq/relayer/README.md
Due: none

client update [goreleaser]
  ethergo/client/client.go
Due: ethergo

don't record no-ops [goreleaser]
  ethergo/submitter/chain_queue.go
Due: ethergo

[goreleaser] span ends
  agents/go.mod
  agents/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  ethergo/client/client.go
  ethergo/go.mod
  ethergo/go.sum
  ethergo/submitter/chain_queue.go
  ethergo/submitter/metrics.go
  ethergo/submitter/submitter.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
Due: agents, terraform-provider-helmproxy, ethergo, cctp-relayer, omnirpc, scribe, sinner

record caller ass individual span [goreleaser]
  ethergo/backends/anvil/anvil.go
  ethergo/backends/base/base.go
  ethergo/backends/simulated/chain.go
  ethergo/chain/chain_impl.go
  ethergo/client/client.go
  ethergo/go.sum
  ethergo/submitter/chain_queue.go
Due: ethergo

cast [goreleaser]
  ethergo/submitter/chain_queue.go
  ethergo/submitter/export_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/util.go
  ethergo/submitter/util_test.go
  ethergo/util/export_test.go
  ethergo/util/transactor.go
  ethergo/util/transactor_test.go
Due: ethergo

cast [goreleaser]
  ethergo/submitter/chain_queue.go
Due: ethergo

fallback to oracle [goreleaser]
  ethergo/submitter/submitter.go
Due: ethergo

[goreleaser]
  agents/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  ethergo/submitter/chain_queue.go
  ethergo/submitter/metrics.go
  ethergo/submitter/submitter.go
  services/cctp-relayer/go.sum
  services/omnirpc/go.sum
  services/scribe/go.sum
  services/sinner/go.sum
Due: agents, terraform-provider-helmproxy, ethergo, cctp-relayer, omnirpc, scribe, sinner

switches explorer to use snowtrace on explorer and FE
  packages/explorer-ui/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/master.tsx
Due: packages

[goreleaser] cctp update
  contrib/promexporter/config/config.go
Due: none

conditional fallback if zero [goreleaser]
  ethergo/submitter/submitter.go
Due: ethergo

cleanup
  services/rfq/api/client/suite_test.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/suite_test.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/reldb/base/model_test.go
Due: none

Update services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager.go
Due: none

update rfq [goreleaser]
  README.md
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
Due: none

tidy up
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, git-changes-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, tools

Update services/rfq/api/client/suite_test.go
  services/rfq/api/client/suite_test.go
Due: none

collision fix [goreleaser]
  services/rfq/relayer/quoter/quoter.go
Due: none

update [goreleaser]
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/api/client/client_test.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/reldb/db.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, tools

Apply suggestions from code review
  ethergo/submitter/chain_queue.go
  ethergo/submitter/util.go
Due: ethergo

Update ethergo/util/transactor_test.go
  ethergo/util/transactor_test.go
Due: ethergo

https://github.com/synapsecns/sanguine/pull/1671#discussion_r1429609879
  ethergo/submitter/chain_queue.go
Due: ethergo

fix
  ethergo/submitter/util.go
Due: ethergo

27 fix
  agents/types/utils.go
Due: agents
