Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Maintenance readme
  packages/synapse-interface/components/Maintenance/README.md
  packages/synapse-interface/components/Maintenance/images/maintenance-banner.png
  packages/synapse-interface/components/Maintenance/images/maintenance-bridge-card.png
Due: none

Move Maintenance readme to root level, remove images due to package size increase
  packages/synapse-interface/README.md
  packages/synapse-interface/components/Maintenance/README.md
  packages/synapse-interface/components/Maintenance/images/maintenance-banner.png
  packages/synapse-interface/components/Maintenance/images/maintenance-bridge-card.png
Due: none

Add note for Widget supported maintenance components
  packages/synapse-interface/README.md
Due: none

feat(rfq-relayer): add MaxBalance param (#2917)
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

tests
  services/rfq/relayer/limiter/limiter.go
  services/rfq/relayer/limiter/limiter_test.go
  services/rfq/relayer/limiter/suite_test.go
Due: rfq

remove remnants from the past
  services/rfq/relayer/limiter/limiter.go
  services/rfq/relayer/service/export_test.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
  services/rfq/relayer/service/suite_test.go
Due: rfq

remove remnants from the past
  services/rfq/relayer/service/suite_test.go
Due: rfq

one last one
  services/rfq/relayer/service/suite_test.go
Due: rfq

actually last
  services/rfq/relayer/service/suite_test.go
Due: rfq

docs(synapse-interface): maintenance readme (#2988)
  packages/synapse-interface/README.md
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

re-add default ldflags [goreleaser]
  agents/.goreleaser.yml
  contrib/opbot/.goreleaser.yml
  contrib/screener-api/.goreleaser.yml
  ethergo/.goreleaser.yml
  services/omnirpc/.goreleaser.yml
  services/rfq/.goreleaser.yml
Due: agents, screener-api, ethergo, rfq, omnirpc

fix ld flag [goreleaser]
  agents/.goreleaser.yml
  contrib/opbot/.goreleaser.yml
  contrib/screener-api/.goreleaser.yml
  core/metrics/rookout.go
  docker/.dockerignore
  docker/agents.Dockerfile
  docker/cctp-relayer.Dockerfile
  docker/explorer.Dockerfile
  docker/git-changes-action.Dockerfile
  docker/omnirpc.Dockerfile
  docker/opbot.Dockerfile
  docker/promexporter.Dockerfile
  docker/rfq-api.Dockerfile
  docker/rfq-relayer.Dockerfile
  docker/screener-api.Dockerfile
  docker/scribe.Dockerfile
  ethergo/.goreleaser.yml
  services/omnirpc/.goreleaser.yml
  services/rfq/.goreleaser.yml
Due: agents, screener-api, core, ethergo, rfq, omnirpc

feat: track specific quote details in segment event
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

fix tag [goreleaser]"
  contrib/opbot/.goreleaser.yml
Due: none

metadata override [goreleaser]
  core/config/build-info.go
Due: core

cleanup [goreleaser]
  contrib/opbot/.goreleaser.yml
Due: none

try dropping -w and -s [goreleaser]
  contrib/opbot/.goreleaser.yml
Due: none

drop symbol table [goreleaser]
  agents/.goreleaser.yml
  contrib/opbot/.goreleaser.yml
  contrib/screener-api/.goreleaser.yml
  ethergo/.goreleaser.yml
  services/omnirpc/.goreleaser.yml
  services/rfq/.goreleaser.yml
Due: agents, screener-api, ethergo, rfq, omnirpc

feat: prevent details close on quote refresh, apply default / fetching values
  packages/widget/src/components/Receipt.tsx
  packages/widget/src/components/Widget.tsx
Due: packages

feat: display chain dropdown label
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
Due: packages

feat: hide switch text no connected address
  packages/widget/src/components/ui/ChainOption.tsx
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
Due: packages

feat: switch button
  packages/widget/src/components/Widget.tsx
  packages/widget/src/components/ui/ChainPopoverSelect.tsx
  packages/widget/src/components/ui/SwitchButton.tsx
Due: packages

feat(rfq-relayer): extra checks around `canClaim()` (#2899)
  services/rfq/relayer/service/handlers.go
Due: rfq

Feat: add balanceMtx
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
Due: rfq

Feat: check lock in handleNotEnoughInventory
  services/rfq/relayer/service/handlers.go
Due: rfq

fix: clearer patterns
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

fix: remove bigint typecast
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

Adds Linea USDT
  packages/synapse-interface/constants/tokens/bridgeable.ts
Due: none

Adds Linea USDT (#2995)
  packages/synapse-interface/constants/tokens/bridgeable.ts
Due: none

feat(synapse-interface): validate rfq quotes (#2971)
  packages/synapse-interface/components/WipWrapperComponents/Wrapper.tsx
  packages/synapse-interface/pages/landing/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/pages/teaser/#index.tsx
Due: none

Adds Linea USDT support
  packages/widget/src/constants/bridgeable.ts
Due: packages

Adds Linea USDT support (#2996)
  packages/widget/src/constants/bridgeable.ts
Due: packages

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages
