Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Adds bridgeable tokens for export from widget and import into consumer implementation (#35)
  examples/with-react/src/App.tsx
  src/components/Widget.tsx
  src/components/ui/TokenPopoverSelect.tsx
  src/components/ui/TokenSelect.tsx
  src/constants/bridgeable.ts
  src/index.tsx
  src/state/slices/bridge/reducer.ts
  src/types/index.d.ts
  tsconfig.json
Due: none

Exclude examples from core tsconfig (#36)
  tsconfig.json
Due: none

Revert "pause bsc (#1603)"
  packages/synapse-interface/constants/chains/index.tsx
Due: none

Add test teardown
  agents/agents/guard/fraud_test.go
  agents/testutil/simulated_backends_suite.go
  ethergo/backends/anvil/anvil.go
Due: agents, ethergo

Revert "pause bsc (#1603)" (#1606)
  packages/synapse-interface/constants/chains/index.tsx
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Feat/bridge button (#37)
  src/.DS_Store
  src/components/BridgeButton.tsx
  src/components/Widget.tsx
  src/hooks/useAllowance.tsx
  src/hooks/useApproval.tsx
  src/hooks/useApproveCallback.tsx
  src/hooks/useBridgeCallback.tsx
  src/hooks/useBridgeQuote.tsx
  src/providers/Web3Provider.tsx
  src/utils/actions/approveErc20Token.ts
  src/utils/isOnlyZeroes.ts
  src/utils/toHexStr.ts
Due: none

Update (#38)
  src/components/Widget.tsx
Due: none

stash
  services/explorer/consumer/fetchers/scribe/logger.go
  services/explorer/consumer/fetchers/scribe/service.go
  services/explorer/consumer/fetchers/swap/services_test.go
  services/explorer/consumer/fetchers/swap/suite_test.go
  services/explorer/consumer/parsers/suite_test.go
  services/explorer/contracts/contracts/ERC20_flat.sol
  services/explorer/contracts/contracts/LPToken_flat.sol
  services/explorer/contracts/erc20/erc20.abigen.go
  services/explorer/contracts/erc20/erc20.contractinfo.json
  services/explorer/contracts/lptoken/generate.go
  services/explorer/contracts/lptoken/lptoken.abigen.go
  services/explorer/contracts/lptoken/lptoken.contractinfo.json
  services/explorer/contracts/lptoken/lptoken.metadata.go
  services/explorer/contracts/lptoken/ref.go
  services/explorer/testutil/contracttype.go
  services/explorer/testutil/contracttypeimpl_string.go
  services/explorer/testutil/deployers.go
  services/explorer/testutil/manager.go
  services/explorer/testutil/typecast.go
  services/explorer/testutil/typecast_test.go
  services/scribe/cmd/cmd.md
  services/scribe/db/event.go
  services/sinner/db/doc.go
Due: explorer, scribe, sinner

init
  services/scribe/cmd/commands.go
  services/scribe/config/chain.go
  services/scribe/logger/handler.go
  services/scribe/service/indexer/indexer.go
Due: scribe

Fix origin token decimals (#39)
  src/components/Widget.tsx
Due: none

[goreleaser]
  services/scribe/cmd/cmd.md
Due: scribe

Update msg for hard fork
  packages/synapse-interface/pages/index.tsx
Due: none

yarn
  packages/synapse-interface/pages/index.tsx
  yarn.lock
Due: none

Handles empty quote (#40)
  src/components/Receipt.tsx
Due: none

vprice fix [goreleaser]
  contrib/promexporter/README.md
  contrib/promexporter/cmd/commands.go
  contrib/promexporter/config/config.go
  contrib/promexporter/config/config_test.go
  contrib/promexporter/exporters/bridge.go
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/go.mod
  contrib/promexporter/internal/types/chainID.go
  contrib/promexporter/internal/types/chainID_test.go
  contrib/promexporter/internal/types/chainid_string.go
  services/omnirpc/client/client.go
Due: omnirpc

update limit
  contrib/promexporter/config/config.go
  contrib/promexporter/exporters/bridge.go
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/go.mod
  contrib/promexporter/internal/decoders/common.go
  contrib/promexporter/internal/decoders/doc.go
  contrib/promexporter/internal/decoders/gettokenbyid.go
  core/slice.go
  core/slice_test.go
Due: core

complete metrics [goreleaser]
  contrib/promexporter/exporters/bridge.go
  contrib/promexporter/internal/decoders/common.go
  ethergo/chain/client/client.go
Due: ethergo

finish up the dashboard
  contrib/promexporter/dashboards/bridges.json
Due: none

fix: packages/contracts-core/package.json & packages/contracts-core/yarn.lock to reduce vulnerabilities
  packages/contracts-core/package.json
  packages/contracts-core/yarn.lock
Due: solidity

Add More Monitoring (#1608)
  contrib/promexporter/README.md
  contrib/promexporter/cmd/commands.go
  contrib/promexporter/config/config.go
  contrib/promexporter/config/config_test.go
  contrib/promexporter/dashboards/bridges.json
  contrib/promexporter/exporters/bridge.go
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/go.mod
  contrib/promexporter/internal/decoders/common.go
  contrib/promexporter/internal/decoders/doc.go
  contrib/promexporter/internal/decoders/gettokenbyid.go
  contrib/promexporter/internal/types/chainID.go
  contrib/promexporter/internal/types/chainID_test.go
  contrib/promexporter/internal/types/chainid_string.go
  core/slice.go
  core/slice_test.go
  ethergo/chain/client/client.go
  services/omnirpc/client/client.go
Due: core, ethergo, omnirpc

[goreleaser] remove unnecessary spans
  agents/agents/executor/executor.go
  agents/agents/guard/guard.go
  ethergo/submitter/chain_queue.go
Due: agents, ethergo

[goreleaser] remove gorm tracing for agents
  agents/agents/executor/db/sql/mysql/store.go
  agents/agents/guard/db/sql/mysql/store.go
  agents/agents/notary/db/sql/mysql/store.go
Due: agents

Increase balance threshold; simplify clearMaps()
  tools/testnet/main.go
Due: tools

Use ptr receiver on test suites
  agents/agents/guard/fraud.go
  agents/agents/guard/fraud_test.go
Due: agents

[goreleaser] Fix: build
  agents/agents/executor/executor_test.go
  agents/agents/executor/testutils.go
  agents/pingpongtestcli/main.go
Due: agents

Cleanup: remove logs
  agents/agents/guard/fraud.go
  agents/agents/guard/fraud_test.go
Due: agents

lock contention fix [goreleaser]
  go.work.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/explorer/graphql/server/gin.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/resolver.go
Due: explorer

update
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
Due: none

Reduce polling on explorer
  packages/explorer-ui/components/pages/Home/index.tsx
Due: packages

fix bridge fallbacks [goreleaser]
  services/explorer/graphql/server/graph/queryutils.go
Due: explorer

Bump timeout for test suite
  .github/workflows/go.yml
Due: none

disable querying to save clickhouse [goreleaser]
  services/explorer/graphql/server/graph/queryutils.go
Due: explorer

Cleanup: remove log
  ethergo/backends/anvil/anvil.go
Due: ethergo

crash fix [goreleaser]
  services/explorer/graphql/server/graph/fetcher.go
Due: explorer

Print rolling dropped txs
  tools/testnet/main.go
Due: tools

Landing page (#41)
  examples/with-react/public/synapse-logo-onDark.svg
  examples/with-react/public/synapse-logo-onLight.svg
  examples/with-react/src/App.tsx
  examples/with-react/src/Footer.tsx
  examples/with-react/src/Header.tsx
  examples/with-react/src/index.css
  src/components/Receipt.tsx
Due: none
