Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

Feat: bump fee cap in addition to tip cap
  ethergo/chain/gas/cmp.go
  ethergo/submitter/submitter.go
Due: ethergo

Feat: traces
  ethergo/submitter/submitter.go
Due: ethergo

Add Gas Icon
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/icons/GasIcon.tsx
Due: none

enforce txtype [goreleaser]
  ethergo/submitter/submitter.go
Due: ethergo

Revert "enforce txtype [goreleaser]"
  ethergo/submitter/submitter.go
Due: ethergo

use new txtype on bumps [goreleaser]
  ethergo/submitter/chain_queue.go
  ethergo/submitter/submitter.go
Due: ethergo

smaller [goreleaser] image
  core/README.md
  docker/goreleaser/Dockerfile
Due: core

add aurelis decoder
  contrib/scripts/txdecoder.sh
Due: none

[goreleaser] use new tx type
  ethergo/submitter/chain_queue.go
Due: ethergo

Feat: only bump gas in setGasPrice on current nonce
  ethergo/submitter/chain_queue.go
  ethergo/submitter/submitter_test.go
Due: ethergo

Upgrade geth to 1.12
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
Due: cctp-relayer, explorer, omnirpc, scribe

feat(services/rfq): use one submitter
  services/cctp-relayer/relayer/options.go
  services/cctp-relayer/relayer/relayer.go
  services/rfq/relayer/service/relayer.go
Due: cctp-relayer

Upgrade geth to 1.12
  agents/go.mod
  committee/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/screener-api/go.mod
  core/go.mod
  ethergo/backends/anvil/anvil.go
  ethergo/backends/geth/geth.go
  ethergo/backends/simulated/multibackend/simulated_gen.go
  ethergo/backends/simulated/simulated.go
  ethergo/chain/gas/londinium/gasprice.go
  ethergo/chain/gas/london/oracle_backend.go
  ethergo/go.mod
  go.work.sum
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/go.sum
  services/rfq/go.sum
  services/scribe/go.sum
  services/stiprelayer/go.sum
  sin-executor/go.mod
  tools/go.mod
Due: agents, git-changes-action, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, tools

Add hover tooltip for Gas Icon
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
Due: none

Refactor: HoverTooltip
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/HoverTooltip.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
Due: none

Clean
  packages/synapse-interface/components/Portfolio/components/HoverTooltip.tsx
Due: none

rfq fix
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/cctp-relayer/relayer/relayer.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/inventory/synapse.go
Due: cctp-relayer

Upgrade geth to 1.13
  agents/go.mod
  agents/testutil/simulated_backends_suite.go
  committee/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/screener-api/go.mod
  core/go.mod
  ethergo/backends/geth/config.go
  ethergo/backends/geth/geth.go
  ethergo/backends/preset/presets.go
  ethergo/backends/simulated/multibackend/chainid.go
  ethergo/backends/simulated/multibackend/simulated_gen.go
  ethergo/chain/chain_test.go
  ethergo/chain/client/client_test.go
  ethergo/chain/client/config.go
  ethergo/chain/client/config_test.go
  ethergo/chain/gas/londinium/gasprice_test.go
  ethergo/chain/gas/london/oracle_backend.go
  ethergo/go.mod
  go.work.sum
  services/cctp-relayer/go.mod
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/rfq/go.mod
  services/scribe/go.mod
  services/stiprelayer/go.mod
  sin-executor/go.mod
  tools/go.mod
Due: agents, git-changes-action, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, tools

Add padding to gas icon top
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
Due: none

feat(rfq): Deploy RFQ to Base (#2397)
  packages/contracts-rfq/deployments/base/.chainId
  packages/contracts-rfq/deployments/base/FastBridge.json
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/script/fb-config.sh
  packages/contracts-rfq/script/fb-deploy.sh
Due: none

fix ethergo test
  ethergo/chain/client/config_test.go
Due: ethergo

doublequote
  contrib/scripts/txdecoder.sh
Due: none

Publish
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
Due: none

feat(services/rfq): use one submitter (#2418)
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/cctp-relayer/relayer/options.go
  services/cctp-relayer/relayer/relayer.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/service/relayer.go
Due: cctp-relayer

Upgrade geth to 1.13 (#2419)
  agents/go.mod
  agents/testutil/simulated_backends_suite.go
  committee/go.mod
  contrib/git-changes-action/go.mod
  contrib/promexporter/go.mod
  contrib/screener-api/go.mod
  core/go.mod
  ethergo/backends/geth/config.go
  ethergo/backends/geth/geth.go
  ethergo/backends/preset/presets.go
  ethergo/backends/simulated/multibackend/chainid.go
  ethergo/backends/simulated/multibackend/simulated_gen.go
  ethergo/chain/chain_test.go
  ethergo/chain/client/client_test.go
  ethergo/chain/client/config.go
  ethergo/chain/gas/londinium/gasprice_test.go
  ethergo/chain/gas/london/oracle_backend.go
  ethergo/go.mod
  go.work.sum
  services/cctp-relayer/go.mod
  services/explorer/go.mod
  services/omnirpc/go.mod
  services/rfq/go.mod
  services/scribe/go.mod
  services/stiprelayer/go.mod
  sin-executor/go.mod
  tools/go.mod
Due: agents, git-changes-action, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, tools

fix presets (pre merge no longer supported)
  ethergo/backends/preset/presets.go
  services/omnirpc/rpcinfo/latency_test.go
Due: ethergo, omnirpc

enforce txtype (#2413)
  ethergo/submitter/chain_queue.go
  ethergo/submitter/submitter.go
Due: ethergo

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
