Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Add files via upload
  assets/sanguine-audits/Trail of Bits - Synapse Protocol Comprehensive Report (2).pdf
Due: none

bridgev2
  docs/bridge/docs/03-RFQ/20-Relaying/index.md
Due: none

add docs
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/index.md
  docs/bridge/docs/03-RFQ/10-Quoting/index.md
  docs/bridge/docs/03-RFQ/15-Bridging/index.md
  docs/bridge/docs/03-RFQ/15-Bridging/quoteId.md
  docs/bridge/docs/03-RFQ/20-Relaying/index.md
  docs/bridge/docs/03-RFQ/20-Relaying/riskFactors.md
  docs/bridge/docs/03-RFQ/30-Proving/index.md
  docs/bridge/docs/03-RFQ/40-Claiming/index.md
  docs/bridge/docs/03-RFQ/50-Canceling/index.md
  docs/bridge/docs/03-RFQ/60-Security/index.md
  docs/bridge/docs/03-RFQ/70-CanonicalRelayer/index.md
  docs/bridge/docs/03-RFQ/75-Exclusivity/index.md
  docs/bridge/docs/03-RFQ/90-Misc/index.md
  docs/bridge/docs/03-RFQ/index.md
  docs/bridge/docs/05-Contracts/06-RFQ.md
Due: none

sqlite
  core/dbcommon/sqlite/.gitignore
  core/dbcommon/sqlite/LICENSE
  core/dbcommon/sqlite/README.md
  core/dbcommon/sqlite/cmd/sqlite3dump/main.go
  core/dbcommon/sqlite/dump.go
  core/dbcommon/sqlite/dump_test.go
  core/dbcommon/sqlite/options.go
  core/dbcommon/sqlite/testdata/cars.db
  core/dbcommon/sqlite/testdata/drop_if_exists.sql
  core/dbcommon/sqlite/testdata/iterdump.py
  core/dbcommon/sqlite/testdata/migrate.sql
  core/dbcommon/sqlite/testdata/python.sql
  core/dbcommon/sqlite/testdata/without_tx.sql
Due: core

Revert "sqlite"
  core/dbcommon/sqlite/.gitignore
  core/dbcommon/sqlite/LICENSE
  core/dbcommon/sqlite/README.md
  core/dbcommon/sqlite/cmd/sqlite3dump/main.go
  core/dbcommon/sqlite/dump.go
  core/dbcommon/sqlite/dump_test.go
  core/dbcommon/sqlite/options.go
  core/dbcommon/sqlite/testdata/cars.db
  core/dbcommon/sqlite/testdata/drop_if_exists.sql
  core/dbcommon/sqlite/testdata/iterdump.py
  core/dbcommon/sqlite/testdata/migrate.sql
  core/dbcommon/sqlite/testdata/python.sql
  core/dbcommon/sqlite/testdata/without_tx.sql
Due: core

rfq v2 docs [SLT-476] (#3402)
  cspell.json
  docs/bridge/docs/01-About/index.md
  docs/bridge/docs/02-Bridge/01-SDK.md
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/get-contract-addresses.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/get-open-quote-requests.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/get-quotes.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/index.md
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/initiate-an-active-rfq.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/listen-for-active-rf-qs.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/relay-ack.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/sidebar.ts
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/upsert-quote.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/upsert-quotes.api.mdx
  docs/bridge/docs/03-RFQ/10-Quoting/index.md
  docs/bridge/docs/03-RFQ/15-Bridging/index.md
  docs/bridge/docs/03-RFQ/15-Bridging/quoteId.md
  docs/bridge/docs/03-RFQ/20-Relaying/index.md
  docs/bridge/docs/03-RFQ/20-Relaying/riskFactors.md
  docs/bridge/docs/03-RFQ/30-Proving/index.md
  docs/bridge/docs/03-RFQ/40-Claiming/index.md
  docs/bridge/docs/03-RFQ/50-Canceling/index.md
  docs/bridge/docs/03-RFQ/60-Security/index.md
  docs/bridge/docs/03-RFQ/70-CanonicalRelayer/dashboard.png
  docs/bridge/docs/03-RFQ/70-CanonicalRelayer/index.md
  docs/bridge/docs/03-RFQ/75-Exclusivity/index.md
  docs/bridge/docs/03-RFQ/90-Misc/index.md
  docs/bridge/docs/03-RFQ/index.md
  docs/bridge/docs/04-Routers/RFQ/API/index.md
  docs/bridge/docs/04-Routers/RFQ/index.md
  docs/bridge/docs/05-Contracts/06-RFQ.md
  docs/bridge/docusaurus.config.ts
  packages/rest-api/swagger.json
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/rest/server.go
Due: rfq

add jekyl config
  _config.yml
Due: none

add jekyl config (#3419)
  _config.yml
Due: none

jekyll explanation
  _config.yml
Due: none

reducing dependency bloat (#3411)
  packages/sdk-router/package.json
  packages/synapse-constants/package.json
Due: packages

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

fix title
  docs/bridge/docs/03-RFQ/index.md
Due: none

doc cleanup
  docs/bridge/docs/03-RFQ/index.md
Due: none

clean up (#3420)
  docs/bridge/docs/03-RFQ/index.md
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
Due: none

Revert "reducing dependency bloat (#3411)"
  packages/sdk-router/package.json
  packages/synapse-constants/package.json
Due: packages

Revert "reducing dependency bloat (#3411)" (#3421)
  packages/sdk-router/package.json
  packages/synapse-constants/package.json
Due: packages

Revert "Revert "reducing dependency bloat (#3411)" (#3421)"
  packages/sdk-router/package.json
  packages/synapse-constants/package.json
Due: packages

fix: packages/sdk-router/package.json to reduce vulnerabilities
  packages/sdk-router/package.json
Due: packages

force rebuild
  docs/bridge/README.md
Due: none

add svg route
  packages/rest-api/package.json
  packages/rest-api/src/routes/chainIconRoute.ts
  packages/rest-api/src/routes/index.ts
  yarn.lock
Due: none

route fix
  packages/rest-api/src/routes/addressIconRoute.ts
  packages/rest-api/src/routes/chainIconRoute.ts
  packages/rest-api/src/routes/index.ts
Due: none

cleanup
  yarn.lock
Due: none

chainrouter
  packages/rest-api/package.json
  packages/rest-api/src/routes/chainIconRoute.ts
  yarn.lock
Due: none

yarn cleanup
  yarn.lock
Due: none

add svg routes (#3424)
  packages/rest-api/package.json
  packages/rest-api/src/routes/addressIconRoute.ts
  packages/rest-api/src/routes/chainIconRoute.ts
  packages/rest-api/src/routes/index.ts
  yarn.lock
Due: none

bump ts version
  packages/rest-api/package.json
Due: none

bump ts version (#3425)
  packages/rest-api/package.json
Due: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
Due: none

fix: update klaytn/kaia rpc url
  packages/rest-api/src/constants/chains.ts
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-interface/constants/chains/master.tsx
  packages/widget/src/constants/chains.ts
Due: packages

fix: update klaytn/kaia rpc url (#3426)
  packages/rest-api/src/constants/chains.ts
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-interface/constants/chains/master.tsx
  packages/widget/src/constants/chains.ts
Due: packages

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

SIN relabels + typos
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/index.md
  docs/bridge/docs/03-RFQ/10-Quoting/index.md
  docs/bridge/docs/03-RFQ/15-Bridging/index.md
  docs/bridge/docs/03-RFQ/20-Relaying/index.md
  docs/bridge/docs/03-RFQ/20-Relaying/riskFactors.md
  docs/bridge/docs/03-RFQ/30-Proving/index.md
  docs/bridge/docs/03-RFQ/40-Claiming/index.md
  docs/bridge/docs/03-RFQ/60-Security/index.md
  docs/bridge/docs/03-RFQ/70-CanonicalRelayer/index.md
  docs/bridge/docs/03-RFQ/index.md
Due: none

SIN relabels + typos (#3429)
  docs/bridge/docs/03-RFQ/10-Quoting/Quoter API/index.md
  docs/bridge/docs/03-RFQ/10-Quoting/index.md
  docs/bridge/docs/03-RFQ/15-Bridging/index.md
  docs/bridge/docs/03-RFQ/20-Relaying/index.md
  docs/bridge/docs/03-RFQ/20-Relaying/riskFactors.md
  docs/bridge/docs/03-RFQ/30-Proving/index.md
  docs/bridge/docs/03-RFQ/40-Claiming/index.md
  docs/bridge/docs/03-RFQ/60-Security/index.md
  docs/bridge/docs/03-RFQ/70-CanonicalRelayer/index.md
  docs/bridge/docs/03-RFQ/index.md
Due: none

typo
  docs/bridge/docs/03-RFQ/index.md
Due: none

doc tweaks (#3430)
  docs/bridge/docs/03-RFQ/index.md
Due: none
