Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

rel test
  packages/contracts-rfq/test/FastBridgeMock.sol
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/relayer/export_test.go
  services/rfq/relayer/listener/listener_test.go
  services/rfq/relayer/relayer_test.go
  services/rfq/relayer/suite_test.go
Due: none

l
  services/rfq/relayer/relayer.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/suite_test.go
Due: none

lint & resolution
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/client/memory/api.db
  services/rfq/api/client/suite_test.go
  services/rfq/api/cmd/commands.go
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/suite_test.go
  services/rfq/go.mod
Due: none

m
  packages/contracts-rfq/test/FastBridgeMock.sol
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/db.go
Due: none

more cleaniu
  services/rfq/relayer/relayer.go
  services/rfq/relayer/suite_test.go
Due: none

renamE
  core/math.go
Due: core

Add method to get quotes by the relayer who submitted it, which is recovered from the signature provided in Auth. This lets relayers view their live quotes.
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/client/memory/api.db
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/quoter/quoter.go
Due: none

begin quoter
  services/rfq/relayer/quoter/quoter.go
Due: none

begin quoter calling non-existant WIP inventory functions
  services/rfq/quoter/quoter.go
  services/rfq/relayer/quoter/quoter.go
Due: none

commotabascd
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/listener/listener.go
  services/rfq/relayer/relayer.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/model_test.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/suite_test.go
Due: none

Add tests with expected behavior
  packages/sdk-router/src/sdk.test.ts
Due: packages

Generalize bridgeModule -> RouterSet retrieval
  packages/sdk-router/src/operations/bridge.ts
Due: packages

Add skeleton for the end implementation
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
Due: packages

draft version of quoter logic + quotableTokens config
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relconfig/config.go
Due: none

Implement ID / status for SynapseBridge
  packages/sdk-router/src/router/synapseRouter.ts
Due: packages

CCTP status check
  packages/sdk-router/src/abi/SynapseCCTP.json
  packages/sdk-router/src/router/synapseCCTPRouter.ts
Due: packages

Define behavior for destination CCTP tx
  packages/sdk-router/src/sdk.test.ts
Due: packages

SynapseCCTP: getBridgeID
  packages/sdk-router/src/router/synapseCCTPRouter.ts
Due: packages

Add test for incorrect tx hash
  packages/sdk-router/src/sdk.test.ts
Due: packages

Check that transaction receipt is not null
  packages/sdk-router/src/router/synapseCCTPRouter.ts
Due: packages

draft wip quoter
  services/rfq/api/rest/suite_test.go
  services/rfq/relayer/quoter/quoter.go
Due: none

upgrade wagmi/core
  packages/synapse-interface/package.json
Due: none

upgrade wagmi/core (#1663)
  packages/synapse-interface/package.json
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

upgrade wagmi main
  packages/synapse-interface/package.json
Due: none

Update wagmi to 1.4.12
  packages/synapse-interface/package.json
Due: none

yarn install
  yarn.lock
Due: none

Tests for generalized "incorrect origin tx" behavior
  packages/sdk-router/src/sdk.test.ts
Due: packages

Generalized tool for log extraction
  packages/sdk-router/src/utils/logs.ts
Due: packages

Adapt synapseCCTP, add check to synapseBridge
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
Due: packages

Fix/update wagmi main (#1665)
  packages/synapse-interface/package.json
  yarn.lock
Due: none

fix: packages/docs/package.json to reduce vulnerabilities
  packages/docs/package.json
Due: none

adding yarn
  yarn.lock
Due: none

version 17
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.mjs
Due: none

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
