Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

god damn it its stil included in default color config
  packages/synapse-interface/postcss.config.js
  packages/synapse-interface/styles/global.css
  packages/synapse-interface/tailwind.config.js
Due: none

update bl
  packages/synapse-interface/public/blacklist.json
Due: none

update bl (#2099)
  packages/synapse-interface/public/blacklist.json
Due: none

hm lets see if css nesting works
  packages/synapse-interface/styles/global.css
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

lets simplify some css
  packages/synapse-interface/styles/global.css
Due: none

cleaner css
  packages/synapse-interface/styles/global.css
Due: none

add subtle coloring for chain portfolios
  packages/synapse-interface/components/Portfolio/components/PortfolioAccordion.tsx
  packages/synapse-interface/components/ui/tailwind/Tooltip.tsx
  packages/synapse-interface/pages/stake/index.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/styles/chains.ts
Due: none

feat: Enhance ExecutionService with gas oracle and options handling
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
  packages/contracts-communication/script/MessagingBase.s.sol
Due: none

portfolio drawer smooth open
  packages/synapse-interface/components/Portfolio/components/PortfolioAccordion.tsx
  packages/synapse-interface/styles/transitions.ts
Due: none

tweak timings
  packages/synapse-interface/styles/transitions.ts
Due: none

fix indent
  packages/synapse-interface/components/bridgeSwap/ChainListOverlay.tsx
Due: none

[goreleaser] bump
  committee/p2p/boot.go
Due: none

go 1.22 fix grafana/agent#5037 and Homebrew/homebrew-core#157782
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/pyroscope.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, tools

go 1.22 fix grafana/agent#5037 and Homebrew/homebrew-core#157782 (#2101)
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/pyroscope.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, tools

[goreleaser] peerstore
  committee/p2p/boot.go
Due: none

remove keep
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/chain/chain_impl.go
  ethergo/chain/client/config.go
  ethergo/chain/client/metered.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
Due: agents, ethergo, cctp-relayer, explorer, omnirpc, scribe

more dependency bumps
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, tools

more dependencies
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/release-copier-action/go.mod
  contrib/release-copier-action/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, tools

do not provide too mayn signatures [goreleaser]
  committee/node/node.go
Due: none

begin test
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/test/ExecutionService.t.sol
Due: none

don't start submitter if we don't need to relay
  committee/node/node.go
  ethergo/backends/anvil/anvil.go
Due: ethergo

remove me pls [goreleaser]
  sin-executor/executor/executor.go
Due: none

Update BL
  packages/synapse-interface/public/blacklist.json
Due: none

Update BL (#2103)
  packages/synapse-interface/public/blacklist.json
Due: none

Chore: forge fmt
  packages/contracts-communication/contracts/InterchainApp.sol
  packages/contracts-communication/script/MessagingBase.s.sol
Due: none

Remove `_getAppConfig`
  packages/contracts-communication/contracts/InterchainClientV1.sol
Due: none

Merge `_getApprovedResponses` and `_getFinalizedResponsesCount`
  packages/contracts-communication/contracts/InterchainClientV1.sol
Due: none
