Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
Due: none

adding search by origin tx (#3277)
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/routes/transactionIdRoute.ts
Due: none

fix edit link [SLT-338]
  docs/bridge/docusaurus.config.ts
Due: none

fix lint issue
  docs/bridge/docusaurus.config.ts
Due: none

Publish
  packages/rfq-indexer/api/CHANGELOG.md
  packages/rfq-indexer/api/package.json
Due: none

gtag
  docs/bridge/docusaurus.config.ts
Due: none

fix gtag
  docs/bridge/docusaurus.config.ts
Due: none

Fixes gh link
  docs/bridge/docusaurus.config.ts
Due: none

Remove empty announcement bar
  docs/bridge/docusaurus.config.ts
Due: none

Adds worldchain
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
  packages/widget/src/index.tsx
Due: packages

Fix/edit url [SLT-338] (#3279)
  docs/bridge/docusaurus.config.ts
Due: none

fix(docs): Fixes gh link (#3280)
  docs/bridge/docusaurus.config.ts
Due: none

+rfq-loadtest
  packages/rfq-loadtest/.gitignore
  packages/rfq-loadtest/.vscode/launch.json
  packages/rfq-loadtest/README.md
  packages/rfq-loadtest/config-template.yaml
  packages/rfq-loadtest/package-lock.json
  packages/rfq-loadtest/package.json
  packages/rfq-loadtest/sql/ponderSummary.sql
  packages/rfq-loadtest/src/abi.ts
  packages/rfq-loadtest/src/index.ts
  packages/rfq-loadtest/src/pyRepeater.py
  packages/rfq-loadtest/src/utils.ts
  packages/rfq-loadtest/tsconfig.json
Due: none

lint
  packages/rfq-loadtest/config-template.yaml
Due: none

feat(contracts-rfq): arbitrary call with value [SLT-233] [SLT-318] (#3246)
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2Errors.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.Exclusivity.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.ArbitraryCall.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Due: solidity-rfq

Publish
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
Due: solidity-rfq

chore: add gas:bench script
  packages/contracts-rfq/package.json
Due: solidity-rfq

ci: use the defined script
  .github/workflows/solidity.yml
Due: none

refactor: isolate encoding into a separate lib
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/libs/BridgeTransactionV2.sol
Due: solidity-rfq

test: use library encoding in tests
  packages/contracts-rfq/test/FastBridgeV2.Dst.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Due: none

test: prove/claim/refund/relay with invalid request payloads
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Due: none

feat: add new encoding/decoding
  packages/contracts-rfq/contracts/libs/BridgeTransactionV2.sol
  packages/contracts-rfq/test/harnesses/BridgeTransactionV2Harness.sol
  packages/contracts-rfq/test/libs/BridgeTransactionV2.t.sol
Due: solidity-rfq

feat: decode relevant fields only in relay
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

feat: use new full struct encoding/decoding
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/libs/BridgeTransactionV2.sol
  packages/contracts-rfq/test/harnesses/BridgeTransactionV2Harness.sol
  packages/contracts-rfq/test/libs/BridgeTransactionV2.t.sol
Due: solidity-rfq

feat: decode relevant fields only in claim
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

feat: decode relevant fields only in refund
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

chore(contracts-rfq): gas bench script (#3283)
  .github/workflows/solidity.yml
  packages/contracts-rfq/package.json
Due: solidity-rfq

lint
  packages/rfq-loadtest/package.json
Due: none

lint
  packages/rfq-loadtest/src/abi.ts
  packages/rfq-loadtest/src/index.ts
  packages/rfq-loadtest/src/utils.ts
Due: none

fix retry loop
  packages/rfq-loadtest/src/index.ts
Due: none

refactor: improve constants readability a-la Go
  packages/contracts-rfq/contracts/libs/BridgeTransactionV2.sol
Due: solidity-rfq

docs: validate/encode/decode V2
  packages/contracts-rfq/contracts/libs/BridgeTransactionV2.sol
Due: solidity-rfq

yarn fix
  packages/rfq-loadtest/package-lock.json
  yarn.lock
Due: none

response error fixes and wld decimals
  packages/rfq-indexer/api/src/controllers/pendingTransactionsController.ts
  packages/rfq-indexer/api/src/routes/conflictingProofsRoute.ts
  packages/rfq-indexer/api/src/routes/disputesRoute.ts
  packages/rfq-indexer/api/src/routes/invalidRelaysRoute.ts
  packages/rfq-indexer/api/src/routes/pendingTransactionsRoute.ts
  packages/rfq-indexer/api/src/routes/refundedAndRelayedRoute.ts
  packages/rfq-indexer/api/src/routes/transactionIdRoute.ts
  packages/rfq-indexer/indexer/src/utils/formatAmount.ts
Due: none

scope package & set private
  packages/rfq-loadtest/package.json
Due: none

impv docs
  docs/bridge/docs/04-Routers/RFQ/index.md
  packages/rfq-loadtest/README.md
  packages/rfq-loadtest/config-template.yaml
Due: none

feat(rfq-relayer): add MaxRelayAmount (#3259)
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

origin tx hash
  contrib/opbot/botmd/commands.go
  contrib/opbot/internal/client.go
Due: none
