Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

outline completed
  packages/synapse-constants/README.md
  packages/synapse-constants/constants/chains/index.tsx
  packages/synapse-constants/constants/chains/master.tsx
  packages/synapse-constants/constants/tokens/auxilliary.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/constants/tokens/deprecated.ts
  packages/synapse-constants/constants/tokens/index.ts
  packages/synapse-constants/constants/tokens/master.ts
  packages/synapse-constants/constants/tokens/poolMaster.ts
  packages/synapse-constants/constants/tokens/sushiMaster.ts
  packages/synapse-constants/constants/tokens/swapMaster.ts
  packages/synapse-constants/constants/types/index.tsx
  packages/synapse-constants/custom.d.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/tsconfig.json
Due: none

small tweaks, script running cleanly now
  packages/synapse-constants/README.md
  packages/synapse-constants/constants/index.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/generateMaps.js
Due: none

working v1
  packages/synapse-constants/constants/minichef.ts
  packages/synapse-constants/constants/tokens/bridgeMap.ts
  packages/synapse-constants/constants/tokens/poolMaster.ts
  packages/synapse-constants/constants/tokens/sushiMaster.ts
  packages/synapse-constants/data/oldproviders.json
  packages/synapse-constants/data/providers.json
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/findMissing.js
Due: none

Typo fix, rename to Liquity
  packages/explorer-ui/constants/tokens/basic.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
Due: packages

[goreleaser] add sanity check for messages coming from origin
  agents/agents/executor/executor_utils.go
Due: agents

cleaned up exports
  packages/synapse-constants/constants/chains/index.tsx
  packages/synapse-constants/constants/index.ts
  packages/synapse-constants/constants/tokens/index.ts
  packages/synapse-constants/index.ts
  packages/synapse-constants/package.json
Due: none

[goreleaser] add chainConfigs
  agents/agents/executor/executor.go
  agents/agents/executor/executor_utils.go
Due: agents

Renames package to @synapsecns/widget
  examples/with-react/src/App.tsx
  package.json
Due: none

[goreleaser] Fix: nil map
  agents/agents/executor/executor.go
Due: agents

Cleanup: remove scribe logic from load script
  tools/testnet/main.go
Due: tools

Adds instructions on running locally
  README.md
Due: none

Define schema for SDK's RPC URLs
  .gitignore
  packages/sdk-router/.env.example
  packages/sdk-router/src/constants/testValues.ts
Due: packages

Install dotenv
  packages/sdk-router/package.json
  yarn.lock
Due: packages

Deprecate hardcoded provider map
  packages/sdk-router/src/constants/testValues.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages

Add `SDK_RPC_URL` to test workflow
  .github/workflows/packages.yml
Due: none

Replace require with import
  packages/sdk-router/src/constants/testValues.ts
Due: packages

Update load script for polled iterations
  tools/testnet/main.go
Due: tools

Sdk: fix flaky tests (#1593)
  .github/workflows/packages.yml
  .gitignore
  packages/sdk-router/.env.example
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/testValues.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/sdk.test.ts
  yarn.lock
Due: packages

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: packages

WIP: add back anvil tests, add GetChainTimeFunc to executor
  agents/agents/executor/executor.go
  agents/agents/executor/executor_test.go
  agents/agents/guard/fraud_test.go
  agents/agents/guard/suite_test.go
  agents/testutil/simulated_backends_suite.go
Due: agents

updating list
  packages/synapse-interface/constants/blacklist.ts
Due: none

Update
  packages/synapse-interface/constants/blacklist.ts
Due: none

updating list (#1594)
  packages/synapse-interface/constants/blacklist.ts
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Typo fix, rename to Liquity (#1592)
  packages/explorer-ui/constants/tokens/basic.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
Due: packages

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: packages

Remove clearNonce() call on load script
  agents/domains/evm/pingpongtestclient.go
Due: agents

Merge pull request #17 from abtestingalpha/update-readme
  README.md
Due: none

apply color vars directly to widget
  examples/with-react/src/App.tsx
  examples/with-react/src/index.css
  src/components/DoubleDownArrow.tsx
  src/components/DoubleUpArrow.tsx
  src/components/DownArrow.tsx
  src/components/Receipt.tsx
  src/constants/index.ts
  src/index.tsx
  src/types/index.d.ts
Due: none

version 1.0.2
  packages/synapse-constants/constants/tokens/auxilliary.ts
  packages/synapse-constants/constants/tokens/swapMaster.ts
  packages/synapse-constants/index.d.ts
  packages/synapse-constants/index.ts
  packages/synapse-constants/package.json
Due: none

1.03
  packages/synapse-constants/constants/index.ts
  packages/synapse-constants/index.ts
  packages/synapse-constants/package.json
Due: none

v4
  packages/synapse-constants/README.md
  packages/synapse-constants/constants/chains/index.tsx
  packages/synapse-constants/constants/tokens/index.ts
  packages/synapse-constants/constants/types/index.tsx
  packages/synapse-constants/custom.d.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/tsconfig.json
Due: none

version 5 lfg
  packages/synapse-constants/constants/chains/index.tsx
  packages/synapse-constants/constants/chains/master.tsx
  packages/synapse-constants/constants/tokens/auxilliary.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/constants/tokens/deprecated.ts
  packages/synapse-constants/constants/tokens/poolMaster.ts
  packages/synapse-constants/constants/tokens/sushiMaster.ts
  packages/synapse-constants/constants/tokens/swapMaster.ts
  packages/synapse-constants/package.json
Due: none

small fixex
  packages/synapse-constants/constants/chains/index.tsx
  packages/synapse-constants/constants/tokens/poolMaster.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/tsconfig.json
Due: none
