Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Cleanup: move scroll-contracts to rfq dir
  .gitmodules
Due: none

Feat: log auth header
  services/rfq/api/client/client.go
Due: rfq

fix tools
  tools/abigen/internal/generate.go
Due: tools

Fix: ctx leak (#2970)
  services/rfq/relayer/inventory/manager.go
Due: rfq

undo fix
  tools/abigen/internal/generate.go
Due: tools

Updates FastBridgeRouterAddress
  packages/synapse-interface/scripts/generateMaps.js
Due: none

Cleanup: remove util.go
  services/rfq/relayer/chain/util.go
Due: rfq

Feat: new util pkg
  services/rfq/util/doc.go
  services/rfq/util/util.go
Due: rfq

Updates FastBridgeRouterAddress (#2981)
  packages/synapse-interface/scripts/generateMaps.js
Due: none

Fix: build
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relapi/client_test.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/statushandler.go
Due: rfq

Fix: go cov
  .github/workflows/go.yml
Due: none

remove uneedede test
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
  services/rfq/relayer/service/suite_test.go
Due: rfq

Fix: test flake
  services/rfq/e2e/setup_test.go
Due: rfq

Feat: more tracing
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/manager.go
Due: rfq

Adds Linea
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-react/package.json
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Due: packages

Adds Linea (#2983)
  packages/widget/examples/with-next/package.json
  packages/widget/examples/with-react/package.json
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/constants/chains.ts
Due: packages

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

Fix: skip unsupported chains for circle cctp
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

Remove log
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

Feat: more tracing
  services/rfq/relayer/inventory/manager.go
Due: rfq

refactor(rfq): move chain utils to new `util` pkg (#2982)
  .github/workflows/go.yml
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/chain/chain.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relapi/client_test.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/statushandler.go
  services/rfq/util/doc.go
  services/rfq/util/util.go
Due: rfq

feat: compare RFQ against nonRFQ quotes
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

WIP: rebalance logs
  services/rfq/relayer/inventory/manager.go
Due: rfq

Revert ctx handling
  services/rfq/relayer/inventory/manager.go
Due: rfq

Feat: rebalance manager start error
  services/rfq/relayer/inventory/manager.go
Due: rfq

Fix: dont create listener for invalid chain
  services/rfq/relayer/inventory/circle.go
Due: rfq

Fix: close context on claim cache
  services/rfq/relayer/inventory/scroll.go
Due: rfq

Cleanup: remove logs
  services/rfq/relayer/inventory/manager.go
Due: rfq

Cleanup: lint
  services/rfq/relayer/inventory/rebalance.go
Due: rfq

actually much better refactor to price fetcher pattern
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/limiter/limiter.go
  services/rfq/relayer/limiter/limiter_test.go
  services/rfq/relayer/quoter/mocks/quoter.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/statushandler.go
  services/rfq/relayer/service/suite_test.go
Due: rfq
