Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Adds NewTag
  packages/synapse-interface/assets/chains/scroll.svg
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/utils/types/index.tsx
Due: none

Adds announcement banner
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Due: none

API call for quotes
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/rfqMap.ts
  packages/synapse-interface/scripts/generateMaps.js
  packages/synapse-interface/scripts/utils/fetchRfqData.js
  packages/synapse-interface/utils/types/index.tsx
Due: none

Feat: check for unsupported chain in inventory manager
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/service/handlers.go
Due: rfq

Cleanup: lint
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/service/handlers.go
Due: rfq

RFQ: drop requests for unsupported chains (#2563)
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/service/handlers.go
Due: rfq

Fix: check for nil base fee
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

Feat: fee pricer gets gas price from SuggestGasPrice()
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

Fix: tests
  services/rfq/relayer/pricer/fee_pricer_test.go
Due: rfq

Updates bridgeMap for live Scroll quotes
  packages/synapse-interface/constants/bridgeMap.ts
Due: none

Add eth address for SPEC
  packages/synapse-interface/constants/tokens/bridgeable.ts
Due: none

Generate bridge map
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-interface/constants/bridgeMap.ts
Due: none

feat(synapse-interface): add spectral token (#2558)
  packages/synapse-constants/constants/assets/icons/spectral.svg
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-interface/assets/icons/spectral.svg
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
Due: none

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: packages

For reusing NewTag
  packages/synapse-interface/components/ui/NewTag.tsx
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
Due: none

cache api result [goreleaser]
  services/rfq/api/rest/server.go
Due: rfq

clean up
  services/rfq/api/rest/server.go
Due: rfq

clean up 2
  services/rfq/api/rest/server.go
Due: rfq

new version for constants
  packages/explorer-ui/package.json
  packages/synapse-constants/package.json
Due: packages

fix(contracts-communication): gasOracle check in ExecutionService, remove batch decoding in Module (#2560)
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Due: none

Publish
  packages/contracts-communication/CHANGELOG.md
  packages/contracts-communication/package.json
Due: none

lint, add err around clientSuggestGasPrice
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

fixing build
  packages/explorer-ui/package.json
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/package.json
Due: packages

[goreleaser] Adding Scroll to explorer + token decimals fix (#2548)
  packages/explorer-ui/components/BridgeTransaction/BridgeTransactionTable.tsx
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/graphql/queries/index.ts
  packages/explorer-ui/package.json
  packages/synapse-constants/constants/assets/chains/scroll.svg
  packages/synapse-constants/constants/assets/explorer/scroll.svg
  packages/synapse-constants/constants/chains/index.ts
  packages/synapse-constants/constants/chains/master.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/package.json
  services/explorer/api/server_test.go
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/chainIDs.yaml
Due: explorer, packages

feat: address checking util
  packages/solidity-devops/js/utils/utils.js
Due: none

fix: use case-insensitive check for address
  packages/solidity-devops/js/utils/deployments.js
Due: none

fix(solidity-devops): use case insensitive check for address equality (#2566)
  packages/solidity-devops/js/utils/deployments.js
  packages/solidity-devops/js/utils/utils.js
Due: none

Publish
  packages/contracts-communication/CHANGELOG.md
  packages/contracts-communication/package.json
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Due: solidity-rfq

fix: remove `ExecutionFees` references
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
Due: none

New set of deployments
  packages/contracts-communication/deployments/arb_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/arb_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/arb_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/arb_sepolia/LegacyPingPong.json
  packages/contracts-communication/deployments/arb_sepolia/MessageBus.json
  packages/contracts-communication/deployments/arb_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/arb_sepolia/ProxyAdmin.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseExecutionServiceV1.Implementation.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/arb_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/arb_sepolia/TransparentUpgradeableProxy.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/LegacyPingPong.json
  packages/contracts-communication/deployments/eth_sepolia/MessageBus.json
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/eth_sepolia/ProxyAdmin.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.Implementation.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/eth_sepolia/TransparentUpgradeableProxy.SynapseExecutionServiceV1.json
Due: none

Adjust config files to the latest changes
  packages/contracts-communication/configs/global/MessageBus.testnet.json
  packages/contracts-communication/configs/global/PingPongApp.testnet.json
  packages/contracts-communication/configs/global/SynapseModule.testnet.json
Due: none

Adjusted estimated time
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
Due: none

Pause SPEC
  packages/synapse-interface/constants/tokens/index.ts
Due: none

Banner
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Due: none

Fix: tests
  services/rfq/relayer/quoter/suite_test.go
Due: rfq
