Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

fix(sdk-router): Update default dest deadline (#2407)
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
Due: packages

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

fix(contracts-communication): deduplicate versioning libraries (#2402)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/libs/InterchainBatch.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/harnesses/InterchainBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/libs/InterchainBatchLib.t.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Due: none

Adjust `verifyRemoteBatch` mock for Go tests
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Due: none

Regenerate `sin-executor`
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
Due: none

Fix Go test
  sin-executor/executor/executor_test.go
Due: none

Regenerate `committee`
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
Due: none

Update BL
  packages/synapse-interface/public/blacklist.json
Due: none

Update BL (#2408)
  packages/synapse-interface/public/blacklist.json
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

chore: Update READ ME
  contrib/git-changes-action/README.md
Due: git-changes-action

rfq unknown chain
  services/rfq/relayer/service/handlers.go
Due: none

remove qodona
  .github/workflows/scan.yml
  qodana.sarif.json
  qodana.yaml
Due: none

remove qodana (#2409)
  .github/workflows/scan.yml
  qodana.sarif.json
  qodana.yaml
Due: none

Chore: order chains alphabetically
  packages/contracts-rfq/foundry.toml
  packages/contracts-rfq/script/fb-config.sh
  packages/contracts-rfq/script/fb-deploy.sh
Due: none

WIP active styling
  packages/synapse-interface/components/ui/ChainSelector.tsx
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/ui/SelectSpecificTokenButton.tsx
  packages/synapse-interface/components/ui/TokenSelector.tsx
Due: none

Add gas token asset descriptor text
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
Due: none

Replaces idx with unique properties
  packages/synapse-interface/components/ui/ChainSelector.tsx
  packages/synapse-interface/components/ui/TokenSelector.tsx
Due: none

Add gas token dtext for bridgeable gas tokens
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
Due: none

Text color
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
Due: none

Fix spelling
  packages/synapse-interface/components/Portfolio/components/GasTokenAsset.tsx
Due: none

Fix: revert replace condition (#2406)
  ethergo/submitter/db/txdb/store.go
Due: ethergo

Fix destination input styling after bridge card updates
  packages/synapse-interface/components/StateManagedBridge/DestinationAddressInput.tsx
  packages/synapse-interface/components/ui/CloseButton.tsx
Due: none

Move dropdown to right side
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
Due: none

mobile font size
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/ui/AmountInput.tsx
Due: none

Feat: set DefaultGasBumpPercentage to 10
  ethergo/submitter/config/config.go
Due: ethergo

Feat: set DefaultGasBumpPercentage to 10 (#2411)
  ethergo/submitter/config/config.go
Due: ethergo

Update README.md
  contrib/git-changes-action/README.md
Due: git-changes-action
