Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

RFQ Relayer: concurrent request processing (#2739)
  .github/workflows/go.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/base.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/base/rebalance.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/mysql/mysql.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, screener-api, git-changes-action, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, tools

[goreleaser] arbitrum hotfix
  ethergo/submitter/chain_queue.go
Due: ethergo

cleanup
  CODEOWNERS
  agents/go.mod
  agents/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
Due: agents, explorer

deprecate dependencies
  .codecov.yml
  README.md
  docker/stiprelayer.Dockerfile
  go.work
  services/stiprelayer/.goreleaser.yml
  services/stiprelayer/Makefile
  services/stiprelayer/README.md
  services/stiprelayer/cmd/cmd.go
  services/stiprelayer/cmd/commands.go
  services/stiprelayer/db/sql/base/base.go
  services/stiprelayer/db/sql/base/doc.go
  services/stiprelayer/db/sql/base/store.go
  services/stiprelayer/db/sql/doc.go
  services/stiprelayer/db/sql/mysql/doc.go
  services/stiprelayer/db/sql/mysql/store.go
  services/stiprelayer/db/sql/sqlite/doc.go
  services/stiprelayer/db/sql/sqlite/sqlite.go
  services/stiprelayer/db/sql/store.go
  services/stiprelayer/db/stip_db.go
  services/stiprelayer/db/stip_db_test.go
  services/stiprelayer/db/suite_test.go
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  services/stiprelayer/main.go
  services/stiprelayer/metadata/metadata.go
  services/stiprelayer/relayer/doc.go
  services/stiprelayer/relayer/dune.go
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/relayer/relayer_test.go
  services/stiprelayer/relayer/suite_test.go
  services/stiprelayer/stipapi/server.go
  services/stiprelayer/stipapi/server_test.go
  services/stiprelayer/stipconfig/config.go
Due: stiprelayer

deprecate dependencies (#2754)
  .codecov.yml
  README.md
  docker/stiprelayer.Dockerfile
  go.work
  services/stiprelayer/.goreleaser.yml
  services/stiprelayer/Makefile
  services/stiprelayer/README.md
  services/stiprelayer/cmd/cmd.go
  services/stiprelayer/cmd/commands.go
  services/stiprelayer/db/sql/base/base.go
  services/stiprelayer/db/sql/base/doc.go
  services/stiprelayer/db/sql/base/store.go
  services/stiprelayer/db/sql/doc.go
  services/stiprelayer/db/sql/mysql/doc.go
  services/stiprelayer/db/sql/mysql/store.go
  services/stiprelayer/db/sql/sqlite/doc.go
  services/stiprelayer/db/sql/sqlite/sqlite.go
  services/stiprelayer/db/sql/store.go
  services/stiprelayer/db/stip_db.go
  services/stiprelayer/db/stip_db_test.go
  services/stiprelayer/db/suite_test.go
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  services/stiprelayer/main.go
  services/stiprelayer/metadata/metadata.go
  services/stiprelayer/relayer/doc.go
  services/stiprelayer/relayer/dune.go
  services/stiprelayer/relayer/relayer.go
  services/stiprelayer/relayer/relayer_test.go
  services/stiprelayer/relayer/suite_test.go
  services/stiprelayer/stipapi/server.go
  services/stiprelayer/stipapi/server_test.go
  services/stiprelayer/stipconfig/config.go
Due: stiprelayer

bump harmony version (#2741)
  services/omnirpc/modules/harmonyproxy/harmonyproxy.go
Due: omnirpc

Feat: use vanilla wg instead of errgroup
  ethergo/submitter/chain_queue.go
Due: ethergo

Cleanup: make wg local
  ethergo/submitter/chain_queue.go
Due: ethergo

Query FastBridge contract for `bridgeStatuses` to find refund status
  packages/synapse-interface/components/_Transaction/helpers/getTransactionReceipt.ts
  packages/synapse-interface/components/_Transaction/helpers/useIsTxRefunded.ts
  packages/synapse-interface/constants/abis/fastBridge.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

Return rfq tx refunded status in hook
  packages/synapse-interface/components/_Transaction/helpers/useIsTxRefunded.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

extracontainers
  charts/cctp/Chart.yaml
  charts/cctp/templates/deployment.yaml
Due: none

Track bridge transaction `bridgeQuote.routerAddress` in store
  packages/synapse-interface/components/_Transaction/helpers/useIsTxRefunded.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
  packages/synapse-interface/slices/transactions/actions.ts
  packages/synapse-interface/utils/hooks/use_TransactionsListener.ts
Due: none

first commit
  ethergo/listener/listener.go
  ethergo/listener/options.go
Due: ethergo

Fetch FastBridge contract address when only provided router address
  packages/synapse-interface/components/_Transaction/helpers/useIsTxRefunded.ts
  packages/synapse-interface/constants/abis/FastBridgeRouter.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

fixing
  ethergo/listener/listener.go
  ethergo/listener/options.go
Due: ethergo

remove unused
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Update transaction in store when refund found
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/helpers/getEstimatedTimeStatus.ts
  packages/synapse-interface/components/_Transaction/helpers/useBridgeTxUpdater.ts
  packages/synapse-interface/components/_Transaction/helpers/useTxRefundStatus.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/_transactions/reducer.ts
Due: none

Update _Transaction component to reflect refund
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/components/_Transaction/components/TransactionSupport.tsx
Due: none

Update abi file case
  packages/synapse-interface/constants/abis/fastBridgeRouter.json
Due: none

cleanup
  ethergo/listener/listener.go
  ethergo/listener/options.go
Due: ethergo

Clean
  packages/synapse-interface/components/_Transaction/_Transactions.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

Fix import
  packages/synapse-interface/components/_Transaction/helpers/useTxRefundStatus.ts
Due: none

add default backup behavior [goreleaser]
  services/omnirpc/modules/receiptsbackup/receiptsbackup.go
Due: omnirpc

test
  ethergo/listener/listener_test.go
  ethergo/listener/options.go
Due: ethergo

extracontainers (#2759)
  charts/cctp/Chart.yaml
  charts/cctp/templates/deployment.yaml
Due: none

wrapped error lint
  ethergo/listener/listener.go
Due: ethergo

add default backup behavior (#2761)
  services/omnirpc/modules/receiptsbackup/receiptsbackup.go
Due: omnirpc

useBridgeQuoteUpdater
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.ts
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
  packages/widget/src/utils/calculateTimeBetween.ts
Due: packages

Abstract fetchAndStoreBridgeQuote()
  packages/widget/src/components/Widget.tsx
Due: packages

Implement useBridgeQuoteUpdater to refresh stale bridge quotes
  packages/widget/src/components/Widget.tsx
  packages/widget/src/state/slices/wallet/reducer.ts
Due: packages

Clean
  packages/widget/src/components/Widget.tsx
Due: packages

Add missing default prop
  packages/widget/src/state/slices/bridgeQuote/reducer.ts
Due: packages

Ensure quote refresher only fires single callback
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useBridgeQuoteUpdater.ts
Due: packages

Fire single refresh quote callback regardless of time passed
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/hooks/useStaleQuoteUpdater.ts
Due: none

Remove log
  packages/synapse-interface/components/_Transaction/helpers/useTxRefundStatus.ts
Due: none

Clean logs
  packages/widget/src/components/Widget.tsx
Due: packages
