Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

[goreleaser] fix: update docker build context and simplify build process
  docker/golang-ci-lint.Dockerfile
Due: none

[goreleaser] feat: update Docker build context and configuration
  .golangci-version
  .golangci.yml
Due: none

[goreleaser] fix: restore golangci configuration files
  .golangci-version
  .golangci.yml
Due: none

[goreleaser] fix: remove unsupported docker build settings
  contrib/golang-ci-lint/.goreleaser.yml
Due: none

fix(tools): Update file permission constants for improved security
  tools/abigen/internal/generate_test.go
  tools/abigen/internal/solc/binary.go
  tools/abigen/internal/solc/binary_test_helpers_test.go
  tools/abigen/internal/solc/notes.txt
Due: tools

feat: scaffold `strictOut`, add new tests
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.StrictOut.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
Due: solidity-rfq

feat: optional minAmountOut for the last step
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
Due: solidity-rfq

build: update devops settings
  packages/contracts-rfq/devops.json
Due: solidity-rfq

deploy: new SIP
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
Due: solidity-rfq

[goreleaser] fix: add extra_files configuration to resolve build context issues
  contrib/golang-ci-lint/.goreleaser.yml
Due: none

[goreleaser] chore: update gitignore and remove binary file
  .gitignore
Due: none

[goreleaser] refactor: update Dockerfile to copy pre-built binary and simplify goreleaser config
  contrib/golang-ci-lint/.goreleaser.yml
  docker/golang-ci-lint.Dockerfile
Due: none

[goreleaser] refactor: remove go install and cleanup generate.go
  make/go.Makefile
  services/rfq/contracts/testcontracts/dai/generate.go
Due: rfq

[goreleaser] docs: update README with cross-repository usage instructions
  contrib/golang-ci-lint/README.md
Due: none

[goreleaser] chore: update Go version to 1.22.4
  contrib/golang-ci-lint/go.mod
Due: none

[goreleaser] revert: restore original RFQ contract generation configuration
  services/rfq/contracts/testcontracts/dai/generate.go
Due: rfq

[goreleaser] chore: update go.work version to 1.22.4
  go.work
Due: none

[goreleaser] test: add MacOS path validation tests and fix path normalization
  contrib/golang-ci-lint/main.go
  contrib/golang-ci-lint/main_test.go
Due: none

[goreleaser] docs: add MacOS path handling documentation
  contrib/golang-ci-lint/README.md
Due: none

[goreleaser] fix: resolve linting issues and improve module detection
  contrib/golang-ci-lint/main.go
  make/go.Makefile
  services/rfq/api/rest/rfq_test.go
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

[goreleaser] fix: replace unsafe uint64 conversions with validateChainID
  services/rfq/api/rest/rfq_test.go
  services/rfq/api/rest/server_test.go
Due: rfq

reinstate pr metadatA
  .github/workflows/go.yml
Due: none

constant fix
  .golangci.yml
Due: none

fix lint [goreleaser]
  contrib/golang-ci-lint/main.go
  contrib/promexporter/internal/gql/explorer/models.gen.go
Due: none

feat: isolate finding route logic into swpa engines
  packages/sdk-router/src/abi/IDefaultActions.json
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/engine/index.ts
  packages/sdk-router/src/rfq/engine/noOpEngine.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
  packages/sdk-router/src/typechain/IDefaultActions.ts
Due: packages

updating incentivized pools
  packages/synapse-interface/constants/tokens/poolMaster.ts
Due: none

constants
  packages/synapse-constants/src/constants/tokens/poolMaster.ts
Due: none

Making address (origin and dest) mandated in rest API (#3459)
  docs/bridge/docs/02-Bridge/02-REST-API.md
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/swagger.json
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
Due: none

Updating incentivized pools (#3464)
  packages/synapse-constants/src/constants/tokens/poolMaster.ts
  packages/synapse-interface/constants/tokens/poolMaster.ts
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: packages

test commit
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
Due: none

rearragement
  packages/rest-api/package.json
Due: none

tests fix
  packages/rest-api/package.json
  packages/rest-api/src/tests/bridgeRoute.test.ts
Due: none

fix: empty steps encoding, don't save decoded zap data
  packages/sdk-router/src/rfq/paramsV2.test.ts
  packages/sdk-router/src/rfq/paramsV2.ts
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/steps.test.ts
  packages/sdk-router/src/rfq/steps.ts
Due: packages

fix: id -> engineID
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/engine/noOpEngine.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
Due: packages

feat: continue isolating swap logic
  packages/sdk-router/src/module/query.ts
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/sirSet.ts
  packages/sdk-router/src/rfq/zapData.ts
Due: packages
