Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Update Destination Token List to use Bridge Quote estimated times via sdk
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
Due: none

rm log
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
Due: none

yarn
  yarn.lock
Due: none

Fix for labeler
  .github/labeler.yml
Due: none

revert github workflow
  .github/labeler.yml
Due: none

remove wrongly commited files
  packages/contracts-core/Dest.sol
  packages/contracts-core/classDiagram.svg
Due: solidity

fix label workflow
  .github/workflows/labeler.yml
Due: none

remove wrongly commited files (#1600)
  .github/workflows/labeler.yml
  packages/contracts-core/Dest.sol
  packages/contracts-core/classDiagram.svg
Due: solidity

Publish
  packages/contracts-core/CHANGELOG.md
  packages/contracts-core/package.json
Due: solidity

Enable Optimism WETH on the FE
  packages/synapse-interface/constants/tokens/index.ts
Due: none

Feat/action callbacks (#31)
  .DS_Store
  examples/with-react/src/App.tsx
  package.json
  rollup.config.js
  src/.DS_Store
  src/components/Widget.tsx
  src/components/ui/ChainSelect.tsx
  src/constants/index.ts
  src/hooks/useAllowance.tsx
  src/hooks/useApproval.tsx
  src/hooks/useBridgeCallback.tsx
  src/hooks/useBridgeQuoteCallback.tsx
  src/index.tsx
  src/state/slices/bridge/reducer.ts
  src/utils/actions/approveErc20Token.ts
  src/utils/actions/fetchBridgeQuote.ts
  src/utils/actions/fetchErc20TokenAllowance.ts
  src/utils/fetchBridgeQuote.ts
  tsconfig.json
  yarn.lock
Due: none

Fixes gasdrop to null when toChain is Eth
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Due: none

If estimated time less than 60 sec, round up to 1 min
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
Due: none

pause bsc
  packages/synapse-interface/constants/chains/index.tsx
Due: none

fix bsc pause thru network selector
  packages/synapse-interface/constants/chains/index.tsx
Due: none

pause bsc (#1603)
  packages/synapse-interface/constants/chains/index.tsx
Due: none

Theme utility (#32)
  examples/with-react/src/App.tsx
  examples/with-react/src/index.css
  src/components/Receipt.tsx
  src/components/Widget.tsx
  src/components/ui/ChainPopoverSelect.tsx
  src/components/ui/TokenPopoverSelect.tsx
  src/constants/index.ts
  src/types/index.d.ts
  src/utils/generateTheme.ts
Due: none

`customBanner`
  packages/synapse-interface/components/Banner.tsx
Due: none

Add custom banner, bnbchain paused
  packages/synapse-interface/components/Banner.tsx
  packages/synapse-interface/pages/index.tsx
Due: none

[goreleaser] add streamLogs span
  agents/agents/executor/executor.go
Due: agents

Adds setTokens (#33)
  src/components/Widget.tsx
  src/components/ui/TokenSelect.tsx
  src/state/slices/bridge/reducer.ts
Due: none

Try doing TestUpdateAgentStatusOnRemote last
  agents/agents/guard/fraud_test.go
Due: agents

Specify index.d.ts file in rollup config (#34)
  rollup.config.js
  src/types/index.d.ts
Due: none

Update Token List to use estimatedBridgeTime from SDK (#1599)
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  yarn.lock
Due: none

Fixes gasdrop to null when toChain is Eth (#1602)
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
Due: none

Diagrams: submit snapshot
  packages/contracts-core/diagrams/guard/SubmitSnapshot.png
  packages/contracts-core/diagrams/guard/SubmitSnapshot.puml
  packages/contracts-core/diagrams/notary/SubmitSnapshot.png
  packages/contracts-core/diagrams/notary/SubmitSnapshot.puml
Due: solidity

Add diagrams: send/receive message
  packages/contracts-core/diagrams/message/ExecuteMessage.png
  packages/contracts-core/diagrams/message/ExecuteMessage.puml
  packages/contracts-core/diagrams/message/SendMessage.png
  packages/contracts-core/diagrams/message/SendMessage.puml
Due: solidity

Diagram: submitting attestation
  packages/contracts-core/diagrams/notary/SubmitAttestation.png
  packages/contracts-core/diagrams/notary/SubmitAttestation.puml
Due: solidity

[goreleaser] add tracing for tree
  agents/agents/executor/executor.go
  agents/agents/executor/executor_utils.go
Due: agents
