Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/explorer, services/omnirpc, services/scribe, tools

Add warning message to empty state token selector on destinatino
  packages/synapse-interface/components/StateManagedBridge/TokenSlideOver.tsx
Due: none

fix explorer
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  core/retry/retry.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/consumer/client/resolver-client/server.go
  services/explorer/go.mod
  services/explorer/go.sum
  services/explorer/graphql/server/gin.go
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/server.go
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/types.resolvers.go
  tools/go.mod
  tools/go.sum
Due: agents, contrib/git-changes-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/explorer, services/omnirpc, services/scribe, tools

remove middleware
  services/explorer/graphql/server/gin.go
Due: none

more explorer fixes
  services/explorer/api/server.go
Due: none

more fixes
  services/explorer/api/suite_test.go
Due: none

propogator
  services/scribe/go.sum
Due: services/scribe

more tidy
  agents/go.sum
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.sum
  core/go.sum
  ethergo/go.sum
  services/cctp-relayer/go.sum
  services/omnirpc/go.sum
  tools/go.sum
Due: agents, contrib/git-changes-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/omnirpc, tools

[goreleaser]
  services/explorer/README.md
Due: services/explorer

Update not found token msg in token selector
  packages/synapse-interface/components/StateManagedBridge/TokenSlideOver.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

lint
  services/explorer/api/server_test.go
Due: none

gen + lint + mod + [goreleaser]
  agents/go.mod
  agents/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/consumer/client/resolver-client/server.go
  services/explorer/graphql/server/graph/resolver/server.go
Due: agents

gen + [goreleaser]
  contrib/promexporter/internal/gql/explorer/models.gen.go
Due: none

Update warning text
  packages/synapse-interface/components/StateManagedBridge/TokenSlideOver.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

local work - [goreleaser]
  services/explorer/api/server.go
Due: none

Show available chains on other chain tokens
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/slices/bridge/reducer.ts
Due: none

Explorer Test Hotfix (#1238)
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  contrib/terraform-provider-helmproxy/go.sum
  contrib/terraform-provider-iap/go.mod
  contrib/terraform-provider-iap/go.sum
  contrib/terraform-provider-kubeproxy/go.mod
  contrib/terraform-provider-kubeproxy/go.sum
  contrib/tfcore/go.mod
  contrib/tfcore/go.sum
  core/go.mod
  core/go.sum
  core/retry/retry.go
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/README.md
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/consumer/client/resolver-client/server.go
  services/explorer/go.mod
  services/explorer/go.sum
  services/explorer/graphql/server/graph/queries.resolvers.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/server.go
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/graph/queries.resolvers.go
  services/scribe/graphql/server/graph/resolver/server.go
  services/scribe/graphql/server/graph/types.resolvers.go
  tools/go.mod
  tools/go.sum
Due: agents, contrib/git-changes-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/explorer, services/omnirpc, services/scribe, tools

Update go.work.sum
  go.work.sum
Due: none

lint + gen + [goreleaser]
  agents/go.mod
  agents/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/scribe/graphql/server/graph/resolver/server.go
Due: agents, services/scribe

gen (again)
  services/explorer/consumer/client/resolver-client/server.go
Due: none

gen
  go.work.sum
  services/explorer/consumer/client/resolver-client/server.go
  services/scribe/graphql/server/graph/resolver/server.go
Due: none

mod
  agents/go.sum
  go.work.sum
Due: agents

Add Activity tab to Portfolio
  packages/synapse-interface/components/Portfolio/PortfolioTabManager.tsx
  packages/synapse-interface/slices/portfolio/actions.ts
Due: none

Update server.go
  services/explorer/graphql/server/graph/resolver/server.go
Due: none

Explorer Indexer upgrades (#1196)
  agents/go.sum
  go.work.sum
  services/explorer/api/server.go
  services/explorer/api/suite_test.go
  services/explorer/backfill/chain.go
  services/explorer/backfill/chain_test.go
  services/explorer/backfill/suite_test.go
  services/explorer/cmd/commands.go
  services/explorer/config.yaml
  services/explorer/configOrigin.yaml
  services/explorer/consumer/fetcher/cctpfetcher.go
  services/explorer/consumer/fetcher/swapfetcher.go
  services/explorer/consumer/parser/bridgeparser.go
  services/explorer/consumer/parser/cctpparser.go
  services/explorer/consumer/parser/messagebusparser.go
  services/explorer/consumer/parser/swapparser.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/consumer/parser/utils.go
  services/explorer/contracts/cctp/request.go
  services/explorer/db/sql/model.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/node/explorer.go
  services/explorer/static/chainIDs.yaml
  services/explorer/types/bridge/eventtype.go
  services/explorer/types/bridge/eventtype_string.go
  services/explorer/types/cctp/event.go
  services/explorer/types/cctp/eventtype.go
Due: agents, services/explorer

Add RPC head check + [goreleaser]
  services/scribe/logger/handler.go
  services/scribe/service/chain.go
Due: none

lint + [goreleaser]
  services/scribe/service/chain.go
Due: none

rm cctp prefix
  services/explorer/consumer/parser/cctpparser.go
Due: none

Supports keyboard navigation on chain/token list overlays
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
Due: none

Adds click outside of overlay handler
  packages/synapse-interface/components/StateManagedBridge/FromChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/FromTokenListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToChainListOverlay.tsx
  packages/synapse-interface/components/StateManagedBridge/ToTokenListOverlay.tsx
  packages/synapse-interface/utils/hooks/useCloseOnOutsideClick.ts
Due: none

Update chainIds if origin/destination match
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

Update config.yaml
  services/explorer/config.yaml
Due: services/explorer

Update network card action to prepopulate bridge card as well
  packages/synapse-interface/pages/landing/sections/IntegrationSection.tsx
Due: none

Fixes hover/focus/active states for background on tokens/chains
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/styles/chains.ts
  packages/synapse-interface/styles/tokens.ts
Due: none

Adds distinct connected statuses for InputContainer
  packages/synapse-interface/components/StateManagedBridge/ConnectedIndicator.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/components/ConnectedIndicator.tsx
Due: none

Path conditions:
  agents: any of: agents/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/git-changes-action: any of: contrib/git-changes-action/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  release-copier-action: any of: contrib/release-copier-action/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/terraform-provider-iap: any of: contrib/terraform-provider-iap/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  contrib/tfcore: any of: contrib/tfcore/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  core: any of: core/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  ethergo: any of: ethergo/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  services/explorer: any of: services/explorer/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  services/omnirpc: any of: services/omnirpc/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  services/scribe: any of: services/scribe/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
  tools: any of: tools/*, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, */test/*.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/test/*.sol, services/scribe/grpc/client/*
