Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

[ci skip] downgrade labeler
  .github/workflows/labeler.yml
Due: none

fix opbot in public chan (issue #2850) (#2851)
  contrib/opbot/botmd/middleware.go
Due: none

cleanp assert
  agents/go.mod
  contrib/opbot/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/cctp-relayer/relayer/util_test.go
  services/explorer/go.mod
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/relconfig/config_test.go
  services/scribe/go.mod
Due: agents, cctp-relayer, rfq, explorer, scribe

Feat: cap semaphore
  services/rfq/relayer/service/relayer.go
Due: rfq

RFQ Relayer: cap db semaphore (#2852)
  services/rfq/relayer/service/relayer.go
Due: rfq

fix submitter bug [goreleaser]
  services/cctp-relayer/relayer/relayer.go
Due: cctp-relayer

part 2 [goreleaser]
  services/rfq/relayer/service/relayer.go
Due: rfq

block semaphore acquisition
  ethergo/listener/otel.go
  services/rfq/relayer/service/relayer.go
Due: ethergo, rfq

fix cctp submitter race (#2853)
  services/cctp-relayer/relayer/relayer.go
  services/rfq/relayer/service/relayer.go
Due: cctp-relayer, rfq

Feat: impl listener otel recorder for lastBlock and lastBlockAge
  ethergo/listener/listener.go
  ethergo/listener/otel.go
  ethergo/listener/otel_generated.go
Due: ethergo

Fix: equality
  ethergo/listener/otel.go
Due: ethergo

Fix: remove hard error on db query
  services/rfq/relayer/service/handlers.go
Due: rfq

Revert "Fix: remove hard error on db query"
  services/rfq/relayer/service/handlers.go
Due: rfq

Fix: pass chainID to otelRecorder
  ethergo/listener/listener.go
  ethergo/listener/otel.go
Due: ethergo

PLZ PLZ UNDO ME [goreleaser]
  services/rfq/relayer/service/chainindexer.go
Due: rfq

[goreleaser]
  services/rfq/relayer/service/chainindexer.go
Due: rfq

relayrace lost bulletproof [goreleaser]
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/service/chainindexer.go
Due: rfq

Upgrades ponder to 0.4.28
  packages/explorer-message-bus-api/package.json
  yarn.lock
Due: none

Cleanup: rename lastBlockAge -> lastFetchedBlockAge
  ethergo/listener/otel.go
Due: ethergo

Update
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

Feat: add otel recorder for relayer
  services/rfq/relayer/service/otel.go
  services/rfq/relayer/service/otel_generated.go
Due: rfq

Fix: record status counts instead of statuses by chain
  services/rfq/relayer/service/otel.go
  services/rfq/relayer/service/otel_generated.go
Due: rfq

Feat: add GetStatusCounts() for db
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/db.go
Due: rfq

Feat: relayer records status metrics
  services/rfq/relayer/service/otel.go
  services/rfq/relayer/service/relayer.go
Due: rfq

Cleanup: naming
  services/rfq/relayer/service/otel.go
Due: rfq

Cleanup: lint
  services/rfq/relayer/service/otel.go
Due: rfq

[rfq] metrics, hotfixes (#2854)
  ethergo/listener/listener.go
  ethergo/listener/otel.go
  ethergo/listener/otel_generated.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/relayer.go
Due: ethergo, rfq

Fix: supply non-terminal states to GetStatusCounts() query
  services/rfq/relayer/service/relayer.go
Due: rfq

Purge CDN Cache workflow
  .github/workflows/purge.yml
Due: none

Cleanup: go mod tidy
  services/rfq/go.mod
Due: rfq
