Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

Feat: add TestEnsureNotaryActive
  agents/agents/notary/export_test.go
  agents/agents/notary/notary_test.go
Due: agents

Cleanup: loadSummitMyLatestStates -> loadMyLatestStates, loadSummitGuardLatestStates -> loadGuardLatestStates
  agents/agents/notary/notary.go
Due: agents

f
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/inventory/suite_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relayer.go
Due: none

Feat: add TestLoadMyLatestStates
  agents/agents/notary/export_test.go
  agents/agents/notary/notary_test.go
Due: agents

m
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
Due: none

Package json updates (#53)
  package.json
Due: none

Updates name for scope (#54)
  package.json
Due: none

Uses package from registry (#55)
  examples/with-react/package.json
  examples/with-react/src/App.tsx
  examples/with-react/yarn.lock
Due: none

Increment version (#56)
  README.md
  package.json
Due: none

Uses 0.0.2 (#57)
  examples/with-react/package.json
  examples/with-react/yarn.lock
Due: none

add new test contracts
  .gitmodules
  ethergo/backends/base/base.go
  ethergo/backends/base/blacklist.go
  ethergo/debug/source.go
  services/rfq/contracts/testcontracts/usdc/FiatToken.abigen.go
  services/rfq/contracts/testcontracts/usdc/FiatToken.contractinfo.json
  services/rfq/contracts/testcontracts/usdc/FiatToken.metadata.go
  services/rfq/contracts/testcontracts/usdc/doc.go
  services/rfq/contracts/testcontracts/usdc/generate.go
  services/rfq/contracts/testcontracts/usdc/helpers.go
  services/rfq/contracts/testcontracts/usdt/TetherToken.sol
  services/rfq/contracts/testcontracts/usdt/doc.go
  services/rfq/contracts/testcontracts/usdt/generate.go
  services/rfq/contracts/testcontracts/usdt/helpers.go
  services/rfq/contracts/testcontracts/usdt/tether.sh
  services/rfq/contracts/testcontracts/usdt/usdt.abigen.go
  services/rfq/contracts/testcontracts/weth9/generate.go
  services/rfq/contracts/testcontracts/weth9/helpers.go
  services/rfq/contracts/testcontracts/weth9/weth9.abigen.go
  services/rfq/contracts/testcontracts/weth9/weth9.contractinfo.json
  services/rfq/contracts/testcontracts/weth9/weth9.metadata.go
  services/rfq/external/README.md
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/contracttypeimpl_string.go
  services/rfq/testutil/deployers.go
  services/rfq/testutil/tokens.go
  services/rfq/testutil/typecast.go
  tools/abigen/cmd/commands.go
  tools/abigen/internal/generate.go
Due: ethergo, tools

functionalize quoter, WIP asap to re-structue token matching
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
Due: none

Increment to 0.0.3 (#58)
  examples/with-react/package.json
  examples/with-react/yarn.lock
  package.json
Due: none

Feat: add TestLoadStates
  agents/agents/notary/export_test.go
  agents/agents/notary/notary_test.go
Due: agents

Feat: add TestSubmitAttestation, remove TestNotaryE2E
  agents/agents/notary/notary_test.go
Due: agents

moar
  ethergo/backends/anvil/anvil.go
  ethergo/backends/backend.go
  ethergo/backends/base/base.go
  ethergo/backends/geth/geth.go
  ethergo/backends/mocks/simulated_test_backend.go
  ethergo/backends/simulated/simulated.go
  services/rfq/contracts/testcontracts/dai/dai.abigen.go
  services/rfq/contracts/testcontracts/dai/dai.contractinfo.json
  services/rfq/contracts/testcontracts/dai/dai.metadata.go
  services/rfq/contracts/testcontracts/dai/generate.go
  services/rfq/contracts/testcontracts/dai/helpers.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/inventory/suite_test.go
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/decimal.go
  services/rfq/testutil/decimal_test.go
  services/rfq/testutil/deployers.go
  services/rfq/testutil/tokens.go
  services/rfq/testutil/typecast.go
Due: ethergo

fix
  agents/contracts/gasoracle/generate.go
  core/math.go
Due: agents, core

todo
  services/rfq/relayer/quoter/quoter.go
Due: none

Adds terser to minify (#60)
  examples/with-react/package.json
  examples/with-react/yarn.lock
  package.json
  rollup.config.js
  yarn.lock
Due: none

Bridge Button States with Tooltip (#59)
  src/components/AvailableBalance.tsx
  src/components/BridgeButton.tsx
  src/components/Receipt.tsx
  src/components/Tooltip.tsx
  src/components/Widget.tsx
  src/components/icons/Warning.tsx
  src/constants/index.ts
  src/utils/checkExists.ts
Due: none

0.0.5 (#61)
  examples/with-react/package.json
  examples/with-react/yarn.lock
  package.json
Due: none

Fix/eth approval (#62)
  src/components/Widget.tsx
  src/utils/actions/fetchErc20TokenAllowance.ts
Due: none

0.0.6 (#63)
  examples/with-react/package.json
  examples/with-react/yarn.lock
  package.json
Due: none

reachgas
  ethergo/backends/geth/geth.go
Due: ethergo

add excluded
  packages/synapse-interface/constants/blacklist.ts
  packages/synapse-interface/contexts/SegmentAnalyticsProvider.tsx
Due: none

Fe/fix exclusion (#1667)
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/constants/blacklist.ts
  packages/synapse-interface/contexts/SegmentAnalyticsProvider.tsx
  packages/synapse-interface/package.json
  yarn.lock
Due: none

add quoter validarequote comment
  services/rfq/relayer/quoter/quoter.go
Due: none

integration test starting point
  core/slice.go
  services/rfq/e2e/doc.go
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/relconfig/config.go
Due: core

more quotes
  services/rfq/api/rest/server.go
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/relayer.go
  services/rfq/relayer/relconfig/config.go
Due: none

fix quoting api
  services/rfq/api/db/api_db.go
  services/rfq/api/db/api_db_test.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/rest/handler.go
Due: none

fast bridge improvements
  ethergo/signer/wallet/wallet.go
  packages/contracts-rfq/test/FastBridgeMock.sol
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/rest/server.go
  services/rfq/contracts/fastbridge/bridgestatus_string.go
  services/rfq/contracts/fastbridge/export_test.go
  services/rfq/contracts/fastbridge/status.go
  services/rfq/contracts/fastbridge/status_test.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relayer.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/reldb/db.go
  services/rfq/testutil/decimal.go
  services/rfq/testutil/deployers.go
Due: ethergo

ss
  packages/contracts-rfq/package.json
Due: none

finish up
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
Due: none

claim
  services/rfq/contracts/fastbridge/events.go
  services/rfq/contracts/fastbridge/eventtype_string.go
  services/rfq/contracts/fastbridge/parser.go
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/relayer.go
  services/rfq/relayer/reldb/db.go
Due: none

latest version that works when the path is set
  packages/synapse-constants/constants/bridgeMap.ts
  packages/synapse-constants/data/providers.json
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/generateMaps.js
  packages/synapse-constants/webpack.config.js
Due: none

another wild attempt
  packages/synapse-constants/.babelrc
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
Due: none

Chore: bridgeId -> synapseTxId
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Due: packages

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
