Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

build: add legacy contracts to fmt, solhint exceptions
  packages/contracts-rfq/.solhintignore
  packages/contracts-rfq/foundry.toml
Due: solidity-rfq

span name
  services/omnirpc/proxy/forwarder.go
Due: omnirpc

go generate
  services/rfq/api/db/activequoterequeststatus_string.go
Due: none

test: add FB RouterV2 integration tests
  packages/contracts-rfq/test/FastBridgeV2.Src.FBRV2.t.sol
Due: none

test: override edge case scenarios handled by Router
  packages/contracts-rfq/test/FastBridgeV2.Src.FBRV2.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Due: none

fix(rfq-relayer): profitability check accounts for offsets (#3288)
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Due: rfq

rearrange reads on dispute
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

build: ignore legacy contract in slither
  packages/contracts-rfq/slither.config.json
Due: solidity-rfq

Feat: make QuoteWidthBps token-level param
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

Fix: build
  services/rfq/relayer/relconfig/getters.go
Due: rfq

idr
  contrib/opbot/botmd/commands.go
Due: none

ci: add optional coverage filter step
  .github/workflows/solidity.yml
  packages/contracts-rfq/package.json
Due: solidity-rfq

ci: install lcov in Foundry Coverage job
  .github/workflows/solidity.yml
Due: none

merge
  services/rfq/relayer/quoter/quoter_test.go
Due: rfq

retest withdrawal api [goreleaser]
  services/rfq/relayer/relapi/handler.go
Due: rfq

Fix: tests
  services/rfq/relayer/quoter/quoter_test.go
Due: rfq

refund from rfq indexer
  contrib/opbot/botmd/commands.go
  contrib/opbot/internal/model.go
Due: none

[goreleaser] copy value
  services/rfq/relayer/relapi/handler.go
Due: rfq

build: try fixing slither filter paths
  packages/contracts-rfq/slither.config.json
Due: solidity-rfq

Cleanup: lint
  services/rfq/relayer/quoter/quoter_test.go
Due: rfq

Returns bridge refunds with status
  packages/rest-api/src/constants/abis/fastBridge.json
  packages/rest-api/src/constants/abis/fastBridgeRouter.json
  packages/rest-api/src/constants/enums.ts
  packages/rest-api/src/constants/index.ts
  packages/rest-api/src/controllers/destinationTxController.ts
  packages/rest-api/src/serializers/serializeBridgeInfo.ts
  packages/rest-api/src/tests/destinationTxRoute.test.ts
  packages/rest-api/src/utils/fetchBridgeTransaction.ts
  packages/rest-api/src/utils/getBridgeStatus.ts
Due: none

Revert "build: try fixing slither filter paths"
  packages/contracts-rfq/slither.config.json
Due: solidity-rfq

fix withdrawal api [SLT-365] (#3306)
  services/rfq/relayer/relapi/handler.go
Due: rfq

ci: add slither-config path
  .github/workflows/solidity.yml
Due: none

Updates docs
  packages/rest-api/src/routes/destinationTxRoute.ts
Due: none

Remove error details that are already contained in logs
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/bridgeLimitsController.ts
  packages/rest-api/src/controllers/bridgeTxInfoController.ts
  packages/rest-api/src/controllers/bridgeTxStatusController.ts
  packages/rest-api/src/controllers/destinationTokensController.ts
  packages/rest-api/src/controllers/destinationTxController.ts
  packages/rest-api/src/controllers/indexController.ts
  packages/rest-api/src/controllers/swapController.ts
  packages/rest-api/src/controllers/swapTxInfoController.ts
  packages/rest-api/src/controllers/synapseTxIdController.ts
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/routes/bridgeTxStatusRoute.ts
  packages/rest-api/src/routes/destinationTokensRoute.ts
  packages/rest-api/src/routes/destinationTxRoute.ts
  packages/rest-api/src/routes/indexRoute.ts
  packages/rest-api/src/routes/swapRoute.ts
  packages/rest-api/src/routes/swapTxInfoRoute.ts
  packages/rest-api/src/routes/synapseTxIdRoute.ts
  packages/rest-api/src/routes/tokenListRoute.ts
Due: none

updates docs for fields
  packages/rest-api/src/routes/destinationTxRoute.ts
Due: none

read storage to local stack - claim
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

Cache providers, other cleanup
  packages/rest-api/src/controllers/destinationTxController.ts
  packages/rest-api/src/serializers/serializeBridgeInfo.ts
  packages/rest-api/src/types/index.d.ts
  packages/rest-api/src/utils/fetchBridgeTransaction.ts
  packages/rest-api/src/utils/getBridgeStatus.ts
Due: none

add request field
  packages/rfq-indexer/api/src/types/index.ts
Due: none

yarn lcok
  .vscode/settings.json
  package-lock.json
  yarn.lock
Due: none

Revert "yarn lcok"
  .vscode/settings.json
  package-lock.json
  yarn.lock
Due: none

Revert "add request field"
  packages/rfq-indexer/api/src/types/index.ts
Due: none

add missing fields
  package-lock.json
  packages/rfq-indexer/api/src/types/index.ts
Due: none

idfk
  package-lock.json
  packages/rfq-indexer/api/src/types/index.ts
Due: none

add missing fields
  packages/rfq-indexer/api/src/types/index.ts
Due: none

Feat: add context on request body in rpc fwd errs
  services/omnirpc/proxy/forward.go
Due: omnirpc
