Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

update endpoint (runs go generate
  docs/bridge/docs/rfq/API/upsert-quotes.api.mdx
Due: none

Fix: reset db on every test
  services/rfq/api/client/suite_test.go
Due: rfq

add rfq [goreleaser]
  contrib/opbot/botmd/botmd.go
  services/rfq/api/rest/server.go
  services/rfq/relayer/relapi/handler.go
Due: rfq

stuff
  agents/go.sum
  contrib/promexporter/go.sum
  contrib/screener-api/go.sum
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/go.sum
  services/rfq/go.sum
  services/scribe/go.sum
  tools/go.sum
Due: agents, screener-api, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, tools

Revert "stuff"
  agents/go.sum
  contrib/promexporter/go.sum
  contrib/screener-api/go.sum
  core/go.sum
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/go.sum
  services/rfq/go.sum
  services/scribe/go.sum
  tools/go.sum
Due: agents, screener-api, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, tools

note synapsecns/sanguine#2845
  agents/go.sum
  contrib/opbot/botmd/commands.go
  contrib/promexporter/go.sum
  contrib/screener-api/go.sum
  core/go.sum
  ethergo/go.sum
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/client/client.go
  services/omnirpc/go.sum
  services/rfq/go.sum
  services/scribe/go.sum
  tools/go.sum
Due: agents, screener-api, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, tools

request id [goreleaser]
  contrib/opbot/botmd/commands.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/model.go
Due: rfq

RFQ API: add bulk quotes endpoint (#2846)
  docs/bridge/docs/rfq/API/upsert-quotes.api.mdx
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/client/suite_test.go
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/model/request.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relconfig/config.go
Due: rfq

last origin chain id commit
  contrib/opbot/botmd/commands.go
Due: none

[goreleaser]
  contrib/opbot/botmd/commands.go
  contrib/opbot/sql/sqlite/sqlite.go
Due: none

[goreleaser]
  contrib/opbot/botmd/commands.go
Due: none

Feat: generate quotes in parallel
  services/rfq/relayer/quoter/quoter.go
Due: rfq

cleanup
  contrib/opbot/botmd/commands.go
Due: none

Cleanup: lint
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Clean, fix current chain pause selection when only single pause exists
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/functions/getSynapsePauseData.ts
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/utils/hooks/useFetchGasDataOnInterval.ts
Due: none

Clean, use jsdelivr urls
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

Revert package.json, remove jest command
  packages/synapse-interface/package.json
Due: none

Resolve file name
  packages/synapse-interface/components/Maintenance/functions/fetchJsonData.test.ts
  packages/synapse-interface/components/Maintenance/functions/fetchJsonData.ts
  packages/synapse-interface/components/Maintenance/functions/getSynapsePauseData.ts
Due: none

event parsing
  ethergo/submitter/submitter.go
  services/rfq/contracts/fastbridge/events.go
  services/rfq/contracts/fastbridge/eventtype_string.go
  services/rfq/contracts/fastbridge/parser.go
  services/rfq/guard/service/guard.go
  services/rfq/guard/service/handlers.go
Due: ethergo, rfq

RFQ Quoter: generate quotes in parallel (#2847)
  services/rfq/relayer/quoter/quoter.go
Due: rfq

fix tests
  ethergo/backends/anvil/anvil.go
  ethergo/submitter/submitter.go
  services/rfq/e2e/setup_test.go
Due: ethergo, rfq

anvil removal [goreleaser]
  services/rfq/e2e/rfq_test.go
Due: rfq

ci again
  ethergo/backends/anvil/anvil.go
  services/rfq/e2e/rfq_test.go
Due: ethergo, rfq

Add RFQ Guard (#2840)
  docs/bridge/docs/rfq/Relayer/Relayer.md
  ethergo/backends/anvil/anvil.go
  ethergo/submitter/submitter.go
  services/rfq/contracts/fastbridge/events.go
  services/rfq/contracts/fastbridge/eventtype_string.go
  services/rfq/contracts/fastbridge/parser.go
  services/rfq/e2e/rfq_test.go
  services/rfq/e2e/setup_test.go
  services/rfq/guard/cmd/cmd.go
  services/rfq/guard/cmd/commands.go
  services/rfq/guard/guardconfig/config.go
  services/rfq/guard/guarddb/base/bridge.go
  services/rfq/guard/guarddb/base/doc.go
  services/rfq/guard/guarddb/base/model.go
  services/rfq/guard/guarddb/base/proven.go
  services/rfq/guard/guarddb/base/store.go
  services/rfq/guard/guarddb/connect/sql.go
  services/rfq/guard/guarddb/db.go
  services/rfq/guard/guarddb/doc.go
  services/rfq/guard/guarddb/mysql/mysql.go
  services/rfq/guard/guarddb/pendingprovenstatus_string.go
  services/rfq/guard/guarddb/sqlite/sqlite.go
  services/rfq/guard/service/doc.go
  services/rfq/guard/service/guard.go
  services/rfq/guard/service/handlers.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/reldb/doc.go
  services/rfq/relayer/service/relayer.go
Due: ethergo, rfq

carforward cctp relayer [ci skip]
  .codecov.yml
Due: none

cleanup
  contrib/promexporter/go.sum
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  ethergo/go.sum
  services/omnirpc/go.sum
Due: screener-api, core, ethergo, omnirpc

weekly dependency bump [goreleaser]
  .github/actions/add-label/action.yml
  .github/actions/remove-label/action.yml
  .github/workflows/close-stale.yml
  .github/workflows/codeql.yaml
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  .github/workflows/helm-test.yml
  .github/workflows/labeler.yml
  agents/go.mod
  agents/go.sum
  contrib/git-changes-action/go.mod
  contrib/git-changes-action/go.sum
  contrib/opbot/botmd/commands.go
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  docker/goreleaser/Dockerfile
  ethergo/go.mod
  ethergo/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  tools/go.mod
  tools/go.sum
Due: agents, screener-api, git-changes-action, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, tools

fix
  agents/go.mod
  agents/go.sum
  contrib/opbot/go.sum
  contrib/promexporter/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Due: agents, cctp-relayer, rfq, explorer, omnirpc, scribe

Revert "fix"
  agents/go.mod
  agents/go.sum
  contrib/opbot/go.sum
  contrib/promexporter/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Due: agents, cctp-relayer, rfq, explorer, omnirpc, scribe

fix fasthttp issues [goreleaser]
  agents/go.mod
  agents/go.sum
  contrib/opbot/go.sum
  contrib/promexporter/go.sum
  go.work.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Due: agents, cctp-relayer, rfq, explorer, omnirpc, scribe

cleanup
  services/omnirpc/http/fasthttp.go
  services/omnirpc/proxy/export_test.go
  services/omnirpc/proxy/forwarder.go
Due: omnirpc

fix semconv
  core/metrics/base.go
  core/metrics/instrumentation/otelginmetrics/config.go
  core/metrics/instrumentation/otelginmetrics/example/main.go
  core/metrics/instrumentation/otelginmetrics/middleware.go
Due: core

fix semconv changes [goreleaser]
  core/metrics/instrumentation/otelginmetrics/config.go
  core/metrics/instrumentation/otelginmetrics/middleware.go
Due: core

fix #2850
  contrib/opbot/botmd/middleware.go
Due: none
