Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Add additional wallet options
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/wagmiConfig.ts
Due: none

TODO: note to figure out DFK multicall issue
  packages/synapse-interface/utils/actions/fetchPortfolioBalances.tsx
Due: none

Adds engines
  packages/coverage-aggregator/package.json
  yarn.lock
Due: packages

Adds engines (#2443)
  packages/coverage-aggregator/package.json
  yarn.lock
Due: packages

Fix: build
  services/rfq/relayer/inventory/manager.go
Due: rfq

small nits around event types
  services/explorer/types/bridge/eventtype.go
  services/explorer/types/bridge/eventtype_string.go
  services/explorer/types/rfq/event.go
Due: explorer

stage #2355
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Due: none

stage #2355 (#2444)
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Due: none

adding the parser
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/db/sql/model.go
  services/explorer/types/rfq/event.go
Due: explorer

update bl
  packages/synapse-interface/public/blacklist.json
Due: none

update bl (#2445)
  packages/synapse-interface/public/blacklist.json
Due: none

adding parser and build
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/contracts/rfq/generate.go
  services/explorer/contracts/rfq/helpers.go
  services/explorer/contracts/rfq/request.go
  services/explorer/contracts/rfq/rfq.abigen.go
  services/explorer/contracts/rfq/rfq.contractinfo.json
  services/explorer/contracts/rfq/rfq.metadata.go
  services/explorer/contracts/rfq/topics.go
  services/explorer/db/sql/model.go
  services/explorer/types/rfq/event.go
Due: explorer

finishing up the fetcher
  services/explorer/consumer/fetcher/rfqfetcher.go
Due: explorer

Use latest devops package
  packages/contracts-communication/package.json
  yarn.lock
Due: none

Adjust devops config
  packages/contracts-communication/.env.example
  packages/contracts-communication/devops.json
  packages/contracts-communication/foundry.toml
Due: none

Rm old deployments
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/eth_sepolia/ProxyAdmin.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.Implementation.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/eth_sepolia/TransparentUpgradeableProxy.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/op_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/op_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/op_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/op_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/op_sepolia/ProxyAdmin.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/op_sepolia/SynapseExecutionServiceV1.Implementation.json
  packages/contracts-communication/deployments/op_sepolia/SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/op_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/op_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/op_sepolia/TransparentUpgradeableProxy.SynapseExecutionServiceV1.json
Due: none

Chore: regroup contracts in scripts
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
Due: none

"Is this a proxy?" on Etherscan programmatically
  packages/contracts-communication/script/testnet-deploy.sh
Due: none

Fix compilation error in script
  packages/contracts-communication/script/deploy/DeployProxy.s.sol
Due: none

It's a TRAP
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
Due: none

update bl (#2446)
  packages/synapse-interface/public/blacklist.json
Due: none

Added BL addresses for DPRK and Kokomo exit scam
  packages/synapse-interface/public/blacklist.json
Due: none

Deploy contracts on ETH Sepolia
  packages/contracts-communication/deployments/eth_sepolia/ExecutionFees.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainClientV1.json
  packages/contracts-communication/deployments/eth_sepolia/InterchainDB.json
  packages/contracts-communication/deployments/eth_sepolia/PingPongApp.json
  packages/contracts-communication/deployments/eth_sepolia/ProxyAdmin.SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.Implementation.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseExecutionServiceV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseGasOracleV1.json
  packages/contracts-communication/deployments/eth_sepolia/SynapseModule.json
  packages/contracts-communication/deployments/eth_sepolia/TransparentUpgradeableProxy.SynapseExecutionServiceV1.json
Due: none

fix(solidity-devops): use only priority fee for 1559 until foundry bug is fixed
  packages/solidity-devops/js/utils/chain.js
Due: none

fix(solidity-devops): use only priority fee for 1559 until foundry bug is fixed (#2447)
  packages/solidity-devops/js/utils/chain.js
Due: none

Publish
  packages/solidity-devops/CHANGELOG.md
  packages/solidity-devops/package.json
Due: none

Update bl (#2448)
  packages/synapse-interface/public/blacklist.json
Due: none

testing suite all configured
  services/explorer/backfill/chain.go
  services/explorer/backfill/chain_test.go
  services/explorer/config/indexer/config.go
  services/explorer/config/server/config.go
  services/explorer/consumer/fetcher/rfqfetcher.go
  services/explorer/contracts/contracts/testcontracts/TestSynapseRFQV1_flat.sol
  services/explorer/contracts/contracts/testcontracts/TestSynapseRFQV2_flat.sol
  services/explorer/contracts/rfq/testrfq/generate.go
  services/explorer/contracts/rfq/testrfq/helpers.go
  services/explorer/contracts/rfq/testrfq/request.go
  services/explorer/contracts/rfq/testrfq/testrfq.abigen.go
  services/explorer/contracts/rfq/testrfq/testrfq.contractinfo.json
  services/explorer/contracts/rfq/testrfq/testrfq.metadata.go
  services/explorer/contracts/rfq/testrfq/topics.go
  services/explorer/db/sql/store.go
  services/explorer/node/explorer.go
  services/explorer/testutil/contracttype.go
  services/explorer/testutil/contracttypeimpl_string.go
  services/explorer/testutil/deployers.go
  services/explorer/testutil/manager.go
  services/explorer/testutil/testcontracts/contracttype.go
  services/explorer/testutil/testcontracts/contracttypeimpl_string.go
  services/explorer/testutil/testcontracts/deployers.go
  services/explorer/testutil/testcontracts/manager.go
  services/explorer/testutil/testcontracts/typecast.go
  services/explorer/testutil/testcontracts/typecast_test.go
  services/explorer/testutil/typecast.go
  services/explorer/testutil/typecast_test.go
Due: explorer
