Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

status/proof mapping packing [SLT-186]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Due: solidity-rfq

fix BridgeProofs def to use struct
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Due: solidity-rfq

feat(synapse-interface): confirm new price [SLT-150] (#3084)
  packages/synapse-interface/components/StateManagedBridge/BridgeQuoteResetTimer.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeValidations.ts
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
  packages/synapse-interface/components/StateManagedBridge/hooks/useStaleQuoteUpdater.ts
  packages/synapse-interface/components/buttons/TransactionButton.tsx
  packages/synapse-interface/components/ui/AmountInput.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/bridgeQuote/reducer.ts
  packages/synapse-interface/store/middleware/bridgeQuoteHistoryMiddleware.ts
  packages/synapse-interface/store/middleware/destinationAddressMiddleware.ts
  packages/synapse-interface/store/store.ts
  packages/synapse-interface/utils/hooks/useStaleQuoteUpdater.ts
  packages/synapse-interface/utils/time.ts
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

refactor of CCTP and RFQ docs pages
  docs/bridge/docs/Contracts/01-Synapse-Token.md
  docs/bridge/docs/Contracts/02-Synapse-Router.md
  docs/bridge/docs/Contracts/03-Liquidity-Pools.md
  docs/bridge/docs/Contracts/04-CCTP.md
  docs/bridge/docs/Contracts/05-RFQ.md
  docs/bridge/docs/Contracts/08-Bridge-Zaps.md
  docs/bridge/docs/Contracts/09-MiniChef.md
  docs/bridge/docs/Routers/CCTP/index.md
  docs/bridge/docs/Routers/RFQ/01-Relayer.md
  docs/bridge/docs/Routers/RFQ/API/index.md
  docs/bridge/docs/Routers/RFQ/MOVED_Contracts.md
  docs/bridge/docs/Routers/RFQ/Relayer/Relayer.md
  docs/bridge/docs/Routers/RFQ/dashboard.png
  docs/bridge/docs/Routers/RFQ/index.md
  docs/bridge/docs/Services/01-Scribe.md
  docs/bridge/docs/Services/index.md
Due: none

fix: formatted bridge fee amount (#3165)
  packages/rest-api/src/controllers/bridgeController.ts
Due: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
Due: none

fix build errors
  docs/bridge/docs/Routers/CCTP/index.md
  docs/bridge/docs/Routers/RFQ/01-Relayer.md
  docs/bridge/docs/Routers/RFQ/API/index.md
  docs/bridge/docs/Routers/RFQ/index.md
Due: none

bugfix: css dark mode specificity
  docs/bridge/src/css/custom.css
Due: none

bugfix: wrong Redirect import
  docs/bridge/src/pages/index.tsx
Due: none

add duplicate command warning
  core/commandline/shell.go
Due: core

rename
  packages/rest-api/src/controllers/bridgeLimitsController.ts
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
  packages/rest-api/src/tests/bridgeLimitsRoute.test.ts
Due: none

Fixes build issue
  docs/bridge/docs/Routers/RFQ/index.md
  docs/bridge/docusaurus.config.ts
  docs/bridge/package.json
  yarn.lock
Due: none

update full bridge limit map
  packages/synapse-interface/scripts/data/bridgeLimitMap.json
Due: none

undo tsconfig changes
  packages/synapse-interface/tsconfig.json
Due: none

rm excess include
  packages/synapse-interface/tsconfig.json
Due: none

add retries for fetching bridge quotes
  packages/synapse-interface/constants/limitsMap.ts
  packages/synapse-interface/scripts/generateLimits.js
Due: none

generate-limits-script (#3166)
  packages/rest-api/package.json
  packages/rest-api/src/controllers/bridgeLimitsController.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/scripts/data/bridgeLimitMap.json
  packages/synapse-interface/scripts/generateLimits.js
  packages/synapse-interface/scripts/utils/fetchBridgeQuote.js
Due: none

update naming
  packages/rest-api/src/controllers/bridgeLimitsController.ts
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
  packages/rest-api/src/tests/bridgeLimitsRoute.test.ts
Due: none

add eth test for bridge limit endpoint, use checksumd address in util
  packages/rest-api/src/tests/bridgeLimitsRoute.test.ts
  packages/rest-api/src/utils/tokenAddressToToken.ts
Due: none

middleware check order
  packages/rest-api/src/routes/bridgeLimitsRoute.ts
Due: none

use generated bridge limits json to provide min/max values
  packages/rest-api/src/controllers/bridgeLimitsController.ts
Due: none

return generated min/max values
  packages/rest-api/src/constants/bridgeLimitsMap.ts
  packages/rest-api/src/controllers/bridgeLimitsController.ts
  packages/rest-api/src/utils/bridgeLimitMapping.ts
  packages/synapse-interface/constants/bridgeLimitsMap.ts
  packages/synapse-interface/scripts/data/bridgeLimitMap.json
  packages/synapse-interface/scripts/generateLimits.js
Due: none

bridge limit map
  packages/synapse-interface/scripts/data/bridgeLimitMap.json
Due: none

fix: license, files
  packages/contracts-rfq/package.json
Due: solidity-rfq

fix: package name
  packages/contracts-rfq/package.json
Due: solidity-rfq

build: update solhint to latest
  packages/contracts-rfq/package.json
  yarn.lock
Due: solidity-rfq

build: remove prettier dependencies
  packages/contracts-rfq/package.json
  yarn.lock
Due: solidity-rfq

fix: solhint workflows
  packages/contracts-rfq/package.json
Due: solidity-rfq

build: update solhint in other packages as well
  packages/contracts-core/package.json
  packages/solidity-devops/package.json
  yarn.lock
Due: solidity-core

chore: solhint rules, exceptions
  packages/contracts-rfq/.solhint.json
  packages/contracts-rfq/.solhintignore
  packages/contracts-rfq/package.json
Due: solidity-rfq

fix: silence linter warnings in tests
  packages/contracts-rfq/test/FastBridgeV2.t.sol
  packages/contracts-rfq/test/MockERC20.sol
  packages/contracts-rfq/test/UniversalTokenLib.t.sol
  packages/contracts-rfq/test/UniversalTokenLibHarness.sol
Due: none

chore: forge fmt
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Due: solidity-rfq

add variable to test linter CI
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

Revert "add variable to test linter CI"
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

generate limits map
  packages/synapse-interface/constants/bridgeLimitsMap.ts
  packages/synapse-interface/scripts/generateLimits.js
Due: none

use map logic in bridge limits controller, remove sdk fetches at time of endpoint call
  packages/rest-api/src/constants/bridgeLimitsMap.ts
  packages/rest-api/src/controllers/bridgeLimitsController.ts
Due: none

Fix: respecting context
  services/rfq/api/client/client.go
Due: rfq

Replace: Fulfilled -> Closed
  services/rfq/api/db/activequoterequeststatus_string.go
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/rest/rfq.go
  services/rfq/api/rest/rfq_test.go
Due: rfq
