Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

Chore: fix linter warnings
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/test/proxy/ProxyTest.t.sol
Due: none

Regenerate
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
Due: none

sin
  ethergo/listener/listener.go
  ethergo/submitter/submitter.go
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/relapi/server.go
  services/rfq/relayer/service/relayer.go
  services/sin-explorer/config/config.go
  services/sin-explorer/db/base/models.go
  services/sin-explorer/db/base/store.go
  services/sin-explorer/db/db.go
  services/sin-explorer/go.mod
  services/sin-explorer/graphql/schema/generate.go
  services/sin-explorer/graphql/schema/generated.graphql
  services/sin-explorer/graphql/schema/interchain.graphql
  services/sin-explorer/indexer/indexer.go
  sin-executor/executor/executor.go
Due: ethergo

cleanup
  committee/db/base/model.go
  committee/go.mod
Due: none

remove commitee listener (#2382)
  committee/db/base/block.go
  committee/db/base/model.go
  committee/db/base/store.go
  committee/go.mod
  committee/listener/doc.go
  committee/listener/listener.go
  committee/node/node.go
Due: none

Resolve TODOs, leave notes
  packages/contracts-communication/contracts/legacy/MessageBus.sol
Due: none

Chore: consistent params ordering
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/contracts/legacy/interfaces/IMessageBus.sol
  packages/contracts-communication/test/legacy/MessageBus.Management.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Src.t.sol
Due: none

Adds planar example
  packages/widget/examples/landing-page/src/app/page.tsx
Due: none

Adds planar example (#2383)
  packages/widget/examples/landing-page/src/app/page.tsx
Due: none

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: none

fix: clean recursion
  contrib/git-changes-action/detector/depgraph.go
Due: git-changes-action

flatten
  packages/contracts-communication/test/gomocks/InterchainClientV1Mock.sol
Due: none

Removes STIP (#2367)
  packages/synapse-interface/components/Activity/Activity.tsx
  packages/synapse-interface/components/Activity/AirdropRewards.tsx
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificTokenButton.tsx
  packages/synapse-interface/constants/chainlink.ts
  packages/synapse-interface/contexts/UserProvider.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/feeAndRebateSlice.ts
  packages/synapse-interface/slices/priceDataSlice.ts
  packages/synapse-interface/store/reducer.ts
  packages/synapse-interface/utils/actions/getPrices.ts
  packages/synapse-interface/utils/hooks/useFetchPricesOnInterval.ts
  packages/synapse-interface/utils/hooks/useStipEligibility.ts
Due: none

flatten symlink
  make/scripts/flatten.sh
  packages/contracts-communication/flatten.sh
  packages/contracts-core/script/sh/flatten.sh
  packages/contracts-rfq/flatten.sh
Due: solidity

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Chore: silence linter in tests
  packages/contracts-communication/test/legacy/MessageBus.Base.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Management.t.sol
Due: none

Mark SynExecServiceV1 functions as virtual to simplify V2 development
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
Due: none

Implement global markup management
  packages/contracts-communication/contracts/events/SynapseExecutionServiceEvents.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
Due: none

Chore: simplify Fees test
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
Due: none

Add new tests
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
Due: none

Implement global markup
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
Due: none

Regenerate `sin-executor`
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
Due: none

flatten symlink (#2384)
  make/scripts/flatten.sh
  packages/contracts-communication/flatten.sh
  packages/contracts-core/script/sh/flatten.sh
  packages/contracts-rfq/flatten.sh
Due: solidity

Fix: mark ReplacedOrConfirmed on Pending / Stored statuses
  ethergo/submitter/db/txdb/store.go
Due: ethergo

Publish
  packages/contracts-communication/CHANGELOG.md
  packages/contracts-communication/package.json
  packages/contracts-core/CHANGELOG.md
  packages/contracts-core/package.json
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
Due: solidity

refactor: split detector package into three
  contrib/git-changes-action/detector/depgraph.go
  contrib/git-changes-action/detector/doc.go
  contrib/git-changes-action/detector/export_test.go
  contrib/git-changes-action/detector/git/doc.go
  contrib/git-changes-action/detector/git/eventtype_string.go
  contrib/git-changes-action/detector/git/git.go
  contrib/git-changes-action/detector/git/ref.go
  contrib/git-changes-action/detector/module/depgraph.go
  contrib/git-changes-action/detector/module/detector.go
  contrib/git-changes-action/detector/module/detector_test.go
  contrib/git-changes-action/detector/module/doc.go
  contrib/git-changes-action/detector/module/export_test.go
  contrib/git-changes-action/detector/module/suite_test.go
  contrib/git-changes-action/detector/package/depgraph.go
  contrib/git-changes-action/detector/package/detector.go
  contrib/git-changes-action/detector/package/doc.go
  contrib/git-changes-action/main.go
Due: git-changes-action

Construct `GasToken` type, add initial few gas tokens to test portfolio fetch
  packages/synapse-interface/constants/tokens/gasTokens.ts
Due: none

Feat: synapse execution service V1 (#2378)
  packages/contracts-communication/configs/global/SynapseExecutionServiceV1.testnet.json
  packages/contracts-communication/contracts/ExecutionService.sol
  packages/contracts-communication/contracts/events/ExecutionServiceEvents.sol
  packages/contracts-communication/contracts/events/SynapseExecutionServiceEvents.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/package.json
  packages/contracts-communication/script/config/ConfigureSynapseExecutionServiceV1.s.sol
  packages/contracts-communication/script/deploy/DeployProxy.s.sol
  packages/contracts-communication/script/deploy/DeploySynapseExecutionServiceV1.s.sol
  packages/contracts-communication/script/testnet-config.sh
  packages/contracts-communication/script/testnet-deploy.sh
  packages/contracts-communication/test/ExecutionService.Fees.t.sol
  packages/contracts-communication/test/ExecutionService.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Proxy.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
  packages/contracts-communication/test/harnesses/SynapseExecutionServiceV1Harness.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/proxy/ProxyTest.t.sol
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/executionservice/generate.go
  sin-executor/contracts/executionservice/helpers.go
  sin-executor/contracts/executionservice/parser.go
  sin-executor/contracts/executionservice/topics.go
  sin-executor/testutil/contracttype.go
  sin-executor/testutil/deployers.go
  sin-executor/testutil/typecast.go
  yarn.lock
Due: none

Feat: legacy `MessageBus` (#2380)
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/contracts/legacy/events/MessageBusEvents.sol
  packages/contracts-communication/contracts/legacy/interfaces/ILegacyReceiver.sol
  packages/contracts-communication/contracts/legacy/interfaces/IMessageBus.sol
  packages/contracts-communication/contracts/legacy/libs/LegacyMessage.sol
  packages/contracts-communication/contracts/legacy/libs/LegacyOptions.sol
  packages/contracts-communication/test/legacy/MessageBus.Base.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Dst.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Management.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Src.t.sol
  packages/contracts-communication/test/legacy/harnesses/LegacyMessageLibHarness.sol
  packages/contracts-communication/test/legacy/harnesses/LegacyOptionsLibHarness.sol
  packages/contracts-communication/test/legacy/libs/LegacyMessage.t.sol
  packages/contracts-communication/test/legacy/libs/LegacyOptions.t.sol
  packages/contracts-communication/test/legacy/mocks/LegacyReceiverMock.sol
Due: none

Publish
  packages/contracts-communication/CHANGELOG.md
  packages/contracts-communication/package.json
Due: none

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
