Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

harmony update [goreleaser]
  services/omnirpc/proxy/simpleproxy.go
Due: omnirpc

Chore: clean up promise resolution
  packages/sdk-router/src/sdk.test.ts
Due: packages

Fix excludeCCTP flag tests
  packages/sdk-router/src/sdk.test.ts
Due: packages

SDK: fix exclude cctp tests (#1702)
  packages/sdk-router/src/sdk.test.ts
Due: packages

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: packages

[REVERT IN PROD] use local SDK
  packages/synapse-interface/package.json
  yarn.lock
Due: none

Revert "[REVERT IN PROD] use local SDK"
  packages/synapse-interface/package.json
  yarn.lock
Due: none

Move dotenv to dev deps (#1696)
  packages/sdk-router/package.json
  packages/sdk-router/src/constants/index.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages

minimizing images in the webpack bundle
  packages/synapse-constants/constants/assets/icons/hyperjump.png
  packages/synapse-constants/constants/assets/icons/hyperjump.svg
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/custom.d.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
  yarn.lock
Due: none

p
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Due: none

unp
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Due: none

removing hyperjump
  packages/synapse-constants/constants/assets/icons/index.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/webpack.config.js
Due: none

Generate bindings using latest TypeChain
  packages/sdk-router/src/typechain/FastBridge.ts
  packages/sdk-router/src/typechain/SynapseBridge.ts
  packages/sdk-router/src/typechain/SynapseCCTPRouter.ts
  packages/sdk-router/src/typechain/SynapseRouter.ts
  packages/sdk-router/src/typechain/common.ts
Due: packages

Add FastBridge ABI
  packages/sdk-router/src/abi/FastBridge.json
Due: packages

SDK: update bindings (#1706)
  packages/sdk-router/src/abi/FastBridge.json
  packages/sdk-router/src/typechain/FastBridge.ts
  packages/sdk-router/src/typechain/SynapseBridge.ts
  packages/sdk-router/src/typechain/SynapseCCTPRouter.ts
  packages/sdk-router/src/typechain/SynapseRouter.ts
  packages/sdk-router/src/typechain/common.ts
Due: packages

Updates sdk-router to 0.3.6 (#88)
  package.json
  yarn.lock
Due: none

Updates package version (#89)
  package.json
Due: none

re-update [goreleaser]
  services/rfq/relayer/listener/listener_test.go
Due: none

trigger [goreleaser]
  services/rfq/README.md
Due: none

fix lint
  .github/workflows/go.yml
Due: none

fu
  .github/workflows/go.yml
Due: none

max paralell a lil bit
  .github/workflows/go.yml
Due: none

more lint:
  core/dbcommon/escape_test.go
  core/server/server.go
  core/server/server_test.go
  core/slice_test.go
  ethergo/submitter/export_test.go
Due: core, ethergo

limit lint to push
  .github/workflows/go.yml
Due: none

Don't Panic. It's the first helpful or intelligible thing anybody's said to me all day.
  core/server/server_test.go
Due: core

reduce string literals
  services/rfq/api/rest/server.go
Due: none

adding coingecko ids to token type for explorer
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/constants/types/index.tsx
  packages/synapse-constants/package.json
  yarn.lock
Due: none

landing page improvements (#90)
  examples/with-react/src/App.tsx
  examples/with-react/src/Footer.tsx
  examples/with-react/src/Header.tsx
  examples/with-react/src/icons.tsx
  examples/with-react/src/index.css
  src/components/Widget.tsx
  src/index.css
Due: none

Adds chains & synapse provider (#91)
  src/components/Widget.tsx
  src/components/ui/ChainSelect.tsx
  src/constants/bridgeable.ts
  src/constants/chains.ts
  src/index.tsx
  src/providers/SynapseProvider.tsx
  src/types/index.d.ts
  tsconfig.json
Due: none

Increments to 0.0.9 (#92)
  package.json
Due: none
