Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Increments version
  packages/synapse-constants/package.json
Due: none

Increments version (#3209)
  packages/synapse-constants/package.json
Due: none

WIP: ws error handling
  services/rfq/api/client/client.go
  services/rfq/api/rest/ws.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
Due: packages

Feat: ws client uses errgroup
  services/rfq/api/rest/ws.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Cleanup: remove log
  services/rfq/api/client/client.go
Due: rfq

Increments version (#3210)
  packages/synapse-constants/package.json
Due: none

Increments
  packages/synapse-constants/package.json
Due: none

Increments (#3211)
  packages/synapse-constants/package.json
Due: none

senderNonce [SLT-183]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Due: solidity-rfq

uint96 -> uint256
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

Replace: PutUserQuoteResponse -> PutRFQResponse
  services/rfq/api/client/client.go
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/model/response.go
  services/rfq/api/rest/server.go
Due: rfq

Feat: add QuoteID to PutRFQResponse
  services/rfq/api/docs/docs.go
  services/rfq/api/docs/swagger.json
  services/rfq/api/docs/swagger.yaml
  services/rfq/api/model/request.go
  services/rfq/api/model/response.go
  services/rfq/api/rest/rfq.go
  services/rfq/api/rest/server.go
Due: rfq

bump
  packages/synapse-constants/package.json
Due: none

bump (#3213)
  packages/synapse-constants/package.json
Due: none

respond to feedback
  docs/bridge/docs/01-About/01-DAO.md
  docs/bridge/docs/01-About/index.md
  docs/bridge/docs/02-Bridge/01-SDK.md
  docs/bridge/docs/02-Bridge/02-REST-API.md
  docs/bridge/docs/02-Bridge/03-Widget.md
  docs/bridge/docs/02-Bridge/04-Code-Examples.md
  docs/bridge/docs/04-Routers/01-Synapse-Router/index.md
  docs/bridge/docs/04-Routers/CCTP/index.md
  docs/bridge/docs/04-Routers/RFQ/index.md
  docs/bridge/docs/05-Contracts/01-Synapse-Token.md
  docs/bridge/docs/05-Contracts/02-Synapse-Router.md
  docs/bridge/docs/05-Contracts/03-Intermediate-Tokens.md
  docs/bridge/docs/05-Contracts/04-Liquidity-Pools.md
  docs/bridge/docs/05-Contracts/05-CCTP.md
  docs/bridge/docs/05-Contracts/06-RFQ.md
  docs/bridge/docs/05-Contracts/07-Bridge-Zaps.md
  docs/bridge/docs/05-Contracts/08-MiniChef.md
  docs/bridge/src/css/custom.css
Due: none

Update CCTP Relayer description
  docs/bridge/docs/04-Routers/CCTP/index.md
Due: none

cctp-typo
  docs/bridge/docs/04-Routers/CCTP/index.md
Due: none

update bl
  packages/synapse-interface/public/blacklist.json
Due: none

Cleanup: lint
  services/rfq/api/client/client.go
  services/rfq/api/rest/rfq.go
Due: rfq

Fix: build
  services/rfq/api/rest/server.go
Due: rfq

Cleanup: lint
  services/rfq/api/client/client.go
Due: rfq

sender nonces [SLT-183]
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Due: solidity-rfq

Fix constants v
  docs/bridge/package.json
  yarn.lock
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

refactor nonce test for codecov
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
Due: none

refactor: make `nonce` an immutable var
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

chore: ignore local coverage report
  packages/contracts-rfq/.gitignore
Due: solidity-rfq

FbV2 sender nonces [SLT-183] (#3214)
  packages/contracts-rfq/.gitignore
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.Base.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Due: solidity-rfq
