Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

WIP: attempt to fix e2e test
  services/rfq/e2e/setup_test.go
Due: none

Removes inputAmount from redux (#84)
  src/components/AvailableBalance.tsx
  src/components/BridgeButton.tsx
  src/components/Widget.tsx
  src/components/ui/TokenPopoverSelect.tsx
  src/components/ui/TokenSelect.tsx
  src/hooks/useValidations.tsx
  src/state/slices/bridge/reducer.ts
  src/state/slices/wallet/hooks.ts
Due: none

Cleanup: add quoting description in readme
  services/rfq/relayer/README.md
Due: none

test fix
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/service/relayer.go
Due: none

fixes
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/contracttypeimpl_string.go
Due: none

update string literals (from #1687)
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/contracttypeimpl_string.go
Due: none

have SubmitAllQuotes respect context (from #1687)
  services/rfq/relayer/quoter/quoter.go
Due: none

fix e2e (from #1687)
  services/rfq/e2e/setup_test.go
Due: none

remove tunnel functionality
  core/go.mod
  core/go.sum
  core/tunnel/internal/check.go
  core/tunnel/internal/internal.go
  core/tunnel/internal/proxy.go
  core/tunnel/internal/proxy_test.go
  core/tunnel/moe/doc.go
  core/tunnel/moe/export_test.go
  core/tunnel/moe/moe.go
  core/tunnel/moe/ssh.go
  core/tunnel/moe/ssh_test.go
  core/tunnel/ngrok/doc.go
  core/tunnel/ngrok/ngrok.go
  core/tunnel/options.go
  core/tunnel/provider.go
  core/tunnel/provider_string.go
  core/tunnel/suite_test.go
  core/tunnel/tunnel.go
  core/tunnel/tunnel_test.go
  core/tunnel/types/provider.go
Due: core

remove tunnel functionality (#1688)
  core/go.mod
  core/go.sum
  core/tunnel/internal/check.go
  core/tunnel/internal/internal.go
  core/tunnel/internal/proxy.go
  core/tunnel/internal/proxy_test.go
  core/tunnel/moe/doc.go
  core/tunnel/moe/export_test.go
  core/tunnel/moe/moe.go
  core/tunnel/moe/ssh.go
  core/tunnel/moe/ssh_test.go
  core/tunnel/ngrok/doc.go
  core/tunnel/ngrok/ngrok.go
  core/tunnel/options.go
  core/tunnel/provider.go
  core/tunnel/provider_string.go
  core/tunnel/suite_test.go
  core/tunnel/tunnel.go
  core/tunnel/tunnel_test.go
  core/tunnel/types/provider.go
Due: core

Update services/rfq/api/db/api_db.go
  services/rfq/api/db/api_db.go
Due: none

Fix failing test (not enough pool liquidity)
  packages/sdk-router/src/sdk.test.ts
Due: packages

Fix failing test (not enough pool liquidity) (#1690)
  packages/sdk-router/src/sdk.test.ts
Due: packages

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: packages

test success bridge with chain gas
  packages/contracts-rfq/contracts/Admin.sol
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IAdmin.sol
  packages/contracts-rfq/test/FastBridge.t.sol
Due: none

Module: generalize Bridge/CCTP/RFQ
  packages/sdk-router/src/module/index.ts
  packages/sdk-router/src/module/synapseModule.ts
  packages/sdk-router/src/router/router.ts
Due: packages

ModuleSet: generalize Bridge/CCTP/RFQ sets
  packages/sdk-router/src/module/index.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
Due: packages

Generalize chainId -> Module mapping
  packages/sdk-router/src/module/synapseModule.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
Due: packages

Move tx status functions to ModuleSet
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
Due: packages

test success relay with chain gas
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/test/FastBridge.t.sol
Due: none

Use bridgeModuleName in internal BridgeRoute
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/types.ts
Due: packages

chainGasAmount in bridge relayed event
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
Due: none

chain gas amount in bridge relay event
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/test/FastBridge.t.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
Due: none

test setChainGasAmount
  packages/contracts-rfq/contracts/Admin.sol
  packages/contracts-rfq/test/FastBridge.t.sol
Due: none

use rebate local on relay
  packages/contracts-rfq/contracts/FastBridge.sol
Due: none

Move types around
  packages/sdk-router/src/module/index.ts
  packages/sdk-router/src/module/query.test.ts
  packages/sdk-router/src/module/query.ts
  packages/sdk-router/src/module/synapseModule.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/router/index.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/types.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Due: packages

remove bundle map for space concerns and add findMissing tokens script
  packages/synapse-constants/constants/tokens/auxilliary.ts
  packages/synapse-constants/constants/tokens/bridgeable.ts
  packages/synapse-constants/package.json
  packages/synapse-constants/scripts/findMissing.js
  packages/synapse-constants/unsupportedTokens.txt
  packages/synapse-constants/webpack.config.js
  yarn.lock
Due: none

primkey fix [goreleaser]
  services/rfq/api/db/api_db.go
Due: none

remove tunnel from readme
  core/README.md
Due: core

remove tunnel from readme (#1692)
  core/README.md
Due: core

SDK: fix native value (#1683)
  packages/sdk-router/src/constants/testValues.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/utils/handleNativeToken.ts
Due: packages

SDK: generalize modules (#1691)
  packages/sdk-router/src/module/index.ts
  packages/sdk-router/src/module/query.test.ts
  packages/sdk-router/src/module/query.ts
  packages/sdk-router/src/module/synapseModule.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/router/index.ts
  packages/sdk-router/src/router/router.ts
  packages/sdk-router/src/router/routerSet.ts
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.test.ts
  packages/sdk-router/src/router/synapseCCTPRouterSet.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
  packages/sdk-router/src/router/synapseRouter.ts
  packages/sdk-router/src/router/synapseRouterSet.test.ts
  packages/sdk-router/src/router/synapseRouterSet.ts
  packages/sdk-router/src/router/types.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
Due: packages
