Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

fix: apply `MaxRelayAmount` on origin for quotes
  services/rfq/relayer/quoter/quoter.go
Due: rfq

test: add TODO to fix
  services/rfq/relayer/quoter/quoter_test.go
Due: rfq

fix: apply `MaxRelayAmount` on origin for quotes (#3635) [goreleaser]
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
Due: rfq

fix: stringify BigNumber in exported V2 types
  packages/sdk-router/src/types/bridge.ts
  packages/sdk-router/src/types/intent.ts
  packages/sdk-router/src/types/misc.ts
  packages/sdk-router/src/types/swap.ts
Due: packages

fix: update bridge modules
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
  packages/sdk-router/src/utils/index.ts
  packages/sdk-router/src/utils/stringify.ts
Due: packages

fix: update V2 operations
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/intent.ts
  packages/sdk-router/src/operations/swap.ts
Due: packages

fix: update rest-api
  packages/rest-api/src/controllers/bridgeV2Controller.ts
  packages/rest-api/src/controllers/intentController.ts
  packages/rest-api/src/controllers/swapV2Controller.ts
  packages/rest-api/src/utils/formatTransactionData.ts
  packages/rest-api/src/utils/prettify.ts
  packages/rest-api/src/utils/replaceTxValue.ts
Due: none

fix(sdk-router, rest-api): stringify BigNumber in exported V2 types [SYN-77] (#3636)
  packages/rest-api/src/controllers/bridgeV2Controller.ts
  packages/rest-api/src/controllers/intentController.ts
  packages/rest-api/src/controllers/swapV2Controller.ts
  packages/rest-api/src/utils/formatTransactionData.ts
  packages/rest-api/src/utils/prettify.ts
  packages/rest-api/src/utils/replaceTxValue.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/intent.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
  packages/sdk-router/src/types/bridge.ts
  packages/sdk-router/src/types/intent.ts
  packages/sdk-router/src/types/misc.ts
  packages/sdk-router/src/types/swap.ts
  packages/sdk-router/src/utils/index.ts
  packages/sdk-router/src/utils/stringify.ts
Due: packages

Update bl
  packages/synapse-interface/public/blacklist.json
Due: none

api html format impvs, pricing, scanner links
  packages/rfq-indexer/api/src/constants/config.ts
  packages/rfq-indexer/api/src/controllers/conflictingProofsController.ts
  packages/rfq-indexer/api/src/controllers/disputesController.ts
  packages/rfq-indexer/api/src/controllers/invalidRelaysController.ts
  packages/rfq-indexer/api/src/controllers/pendingTransactionsController.ts
  packages/rfq-indexer/api/src/controllers/refundedAndRelayedController.ts
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/utils/enrichResults.ts
  packages/rfq-indexer/api/src/utils/json_formatter.ts
Due: none

v2, refund, log impvs
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/queries/depositsQueries.ts
  packages/rfq-indexer/api/src/types/index.ts
  packages/rfq-indexer/api/src/utils/json_formatter.ts
Due: none

cancel icon logic fix
  packages/rfq-indexer/api/src/utils/json_formatter.ts
Due: none

add flags to json to table & synapse mode conditionals
  packages/rfq-indexer/api/src/controllers/conflictingProofsController.ts
  packages/rfq-indexer/api/src/controllers/disputesController.ts
  packages/rfq-indexer/api/src/controllers/invalidRelaysController.ts
  packages/rfq-indexer/api/src/controllers/pendingTransactionsController.ts
  packages/rfq-indexer/api/src/controllers/refundedAndRelayedController.ts
  packages/rfq-indexer/api/src/controllers/transactionIdController.ts
  packages/rfq-indexer/api/src/utils/enrichResults.ts
  packages/rfq-indexer/api/src/utils/json_formatter.ts
Due: none

fix: packages/explorer-ui/package.json to reduce vulnerabilities
  packages/explorer-ui/package.json
Due: packages

chore: fix existing documentation
  packages/sdk-router/src/types/bridge.ts
  packages/sdk-router/src/types/intent.ts
  packages/sdk-router/src/types/misc.ts
  packages/sdk-router/src/types/swap.ts
Due: packages

fix: restrict fromAmount type to string in exported parameters
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/intent.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/types/bridge.ts
  packages/sdk-router/src/types/intent.ts
  packages/sdk-router/src/types/swap.ts
Due: packages

fix(sdk-router): restrict `fromAmount` to `string` in the exported intent parameters (#3645)
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/intent.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/types/bridge.ts
  packages/sdk-router/src/types/intent.ts
  packages/sdk-router/src/types/misc.ts
  packages/sdk-router/src/types/swap.ts
Due: packages

fix: add decimal metadata to each intent step
  packages/sdk-router/src/operations/intent.ts
  packages/sdk-router/src/types/intent.ts
Due: packages

refactor: isolate token decimals retrieval
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/swapEngineSet.ts
  packages/sdk-router/src/utils/TokenMetadataFetcher.ts
  packages/sdk-router/src/utils/index.ts
Due: packages

fix: make tokenMetadataFetcher optional
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/swapEngineSet.ts
Due: packages

fix(sdk-router): add decimals to intent steps (#3646)
  packages/sdk-router/src/operations/intent.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/swapEngineSet.ts
  packages/sdk-router/src/types/intent.ts
  packages/sdk-router/src/utils/TokenMetadataFetcher.ts
  packages/sdk-router/src/utils/index.ts
Due: packages

adding hyperevm [goreleaser]
  packages/explorer-ui/graphql/queries/index.ts
  services/explorer/api/server_test.go
  services/explorer/consumer/fetcher/rfqfetcher.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/chainIDs.yaml
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Due: explorer, packages

updating chart color
  packages/explorer-ui/components/ChainChart/index.tsx
Due: packages

fixing pricing issues [goreleaser]
  services/explorer/consumer/fetcher/rfqfetcher.go
  services/explorer/consumer/parser/tokendata/cache.go
Due: explorer

fix(sdk-router): add `HYPEREVM` to intents supported chains
  packages/sdk-router/src/constants/chainIds.ts
Due: packages

chore: small change to publish 9abecbef5ff8e07c969832c3eb357ca3cf06d20a
  packages/sdk-router/README.md
Due: packages

chore: small change to publish 9abecbef5ff8e07c969832c3eb357ca3cf06d20a (#3648)
  packages/sdk-router/README.md
Due: packages

feat: scaffold FastBridgeInterceptor
  packages/contracts-rfq/contracts/FastBridgeInterceptor.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeInterceptor.sol
Due: solidity-rfq

feat: implement interceptor
  packages/contracts-rfq/contracts/FastBridgeInterceptor.sol
Due: solidity-rfq

test: different decimals ratio
  packages/contracts-rfq/test/interception/FastBridgeInterceptor.Src18.Dst6.t.sol
  packages/contracts-rfq/test/interception/FastBridgeInterceptor.Src6.Dst18.t.sol
  packages/contracts-rfq/test/interception/FastBridgeInterceptor.t.sol
Due: solidity-rfq

test: add coverage
  packages/contracts-rfq/test/interception/FastBridgeInterceptor.t.sol
Due: solidity-rfq

docs: improve FastBridgeInterceptor documentation
  packages/contracts-rfq/contracts/FastBridgeInterceptor.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeInterceptor.sol
Due: solidity-rfq

chore: fix lint
  packages/contracts-rfq/contracts/FastBridgeInterceptor.sol
Due: solidity-rfq

refactor: relabel percentage vars
  packages/contracts-rfq/contracts/FastBridgeInterceptor.sol
Due: solidity-rfq

fix for native tokens [goreleaser]
  services/explorer/consumer/fetcher/rfqfetcher.go
  services/explorer/consumer/parser/rfqparser.go
Due: explorer
