Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

fixing linea image in the explorer ui
  packages/synapse-constants/constants/assets/chains/linea.svg
  packages/synapse-constants/constants/assets/explorer/linea.svg
  packages/synapse-constants/package.json
Due: none

Feat: add mux for metrics db query
  services/rfq/guard/service/otel.go
Due: rfq

RFQ Guard: add prometheus metrics for disputes (#2894)
  services/rfq/guard/service/guard.go
  services/rfq/guard/service/otel.go
  services/rfq/guard/service/otel_generated.go
Due: rfq

save for later
  services/rfq/relayer/service/statushandler.go
Due: rfq

refactor(promexporter): use `otelRecorder` observer pattern (#2871)
  contrib/promexporter/config.yml
  contrib/promexporter/exporters/bridge.go
  contrib/promexporter/exporters/dfk.go
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/exporters/otel.go
  contrib/promexporter/exporters/otel_generated.go
  contrib/promexporter/exporters/submitter.go
  contrib/promexporter/exporters/util.go
  contrib/promexporter/go.mod
  contrib/promexporter/internal/decoders/gettokenbyid.go
Due: none

Feat: convert MaxBalance to string ptr
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

feat(docs): submitter docs (#2837)
  docs/bridge/docs/Services/Submitter.md
  ethergo/submitter/chain_queue.go
Due: ethergo

Feat: handle nil as positive inf
  services/rfq/relayer/quoter/quoter.go
Due: rfq

combine into Validate func
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
Due: rfq

add withdraw trace
  contrib/promexporter/internal/gql/explorer/models.gen.go
  contrib/screener-api/go.mod
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/server.go
Due: screener-api, rfq

Cleanup: prints
  services/rfq/relayer/relconfig/getters.go
Due: rfq

fix lint issue
  contrib/promexporter/exporters/util.go
Due: none

Fix: chain ids for finalizedepositerc20
  services/rfq/relayer/inventory/scroll.go
Due: rfq

print error
  services/rfq/relayer/cmd/commands.go
Due: rfq

[rfq] add withdraw tracing (#2929)
  contrib/promexporter/exporters/util.go
  contrib/promexporter/internal/gql/explorer/models.gen.go
  contrib/screener-api/go.mod
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/relapi/handler.go
  services/rfq/relayer/relapi/server.go
Due: screener-api, rfq

Updates Linea svg in synapse constants (#2928)
  packages/synapse-constants/constants/assets/chains/linea.svg
  packages/synapse-constants/constants/assets/explorer/linea.svg
Due: none

Cleanup: tracing msg
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
Due: packages

Fix: set allowances for l1/l2 gateways
  services/rfq/relayer/inventory/manager.go
Due: rfq

Replace: CCTPStartBlock -> RebalanceStartBlock
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/scroll.go
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

trace txByNonce
  services/rfq/relayer/relapi/handler.go
Due: rfq

trace txByNonce (#2930)
  services/rfq/relayer/relapi/handler.go
Due: rfq

Feat: refactor address fields into RebalanceConfigs
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/scroll.go
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

Feat: don't update origin token addr
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/rebalance.go
Due: rfq

Feat: add ChainName pulled from chain
  services/rfq/relayer/inventory/manager.go
Due: rfq

Try uuid lib
  packages/sdk-router/README.md
  packages/sdk-router/jest.config.js
  packages/sdk-router/jest.setup.js
  packages/sdk-router/package.json
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  yarn.lock
Due: packages

commnent
  services/rfq/relayer/relconfig/config.go
Due: rfq

better call to loadconfig and abstract away validate
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/relconfig/config.go
Due: rfq

abstract away validate
  services/rfq/relayer/cmd/commands.go
  services/rfq/relayer/relconfig/config.go
Due: rfq

cleaning up all linting problems
  packages/explorer-ui/components/BridgeTransaction/BridgeTransactionTable.tsx
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/explorer-ui/components/GetCsvButton/index.tsx
  packages/explorer-ui/components/layouts/MainLayout/TopBarNavLink.tsx
  packages/explorer-ui/components/misc/HolisticStats.tsx
  packages/explorer-ui/components/misc/IconAndAmount.tsx
  packages/explorer-ui/components/pages/Home/UniversalSearch/SearchBox.tsx
  packages/explorer-ui/components/pages/Home/UniversalSearch/index.tsx
  packages/explorer-ui/components/pages/Home/index.tsx
  packages/explorer-ui/pages/address/[address].tsx
  packages/explorer-ui/pages/chain/[chainId].tsx
  packages/explorer-ui/pages/index.tsx
  packages/explorer-ui/pages/privacy/index.tsx
  packages/explorer-ui/pages/terms/index.tsx
  packages/explorer-ui/pages/token/[tokenAddress].tsx
  packages/explorer-ui/pages/tx/[kappa].tsx
  packages/explorer-ui/pages/txs/index.tsx
Due: packages

Cleanup: add doc.go
  services/rfq/contracts/l1gateway/doc.go
  services/rfq/contracts/l2gateway/doc.go
Due: rfq

Cleanup: lints
  services/rfq/relayer/inventory/rebalance.go
Due: rfq

feat(synapse-interface): adds BSC, Blast, Linea to RFQ (#2905)
  packages/synapse-interface/assets/chains/linea.svg
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/supportedChains.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/scripts/generateMaps.js
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Feat: add claimCache
  services/rfq/relayer/inventory/scroll.go
Due: rfq
