Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

remove eip-155 considerations from arbitrary data signing (#1634)
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
Due: ethergo

* Adds ETH (#49)
  examples/with-react/src/App.tsx
  src/components/Widget.tsx
  src/components/ui/ChainSelect.tsx
  src/components/ui/TokenSelect.tsx
  src/types/index.d.ts
  src/utils/actions/fetchTokenBalances.ts
Due: none

Implement EIP191 Authentication and Refactor Server in RFQ Service
  services/rfq/api/rest/auth.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/suite_test.go
Due: none

Add unsuccessful auth test case
  services/rfq/api/rest/server_test.go
Due: none

Handles remaining token options (#51)
  src/components/ui/TokenPopoverSelect.tsx
  src/components/ui/TokenSelect.tsx
Due: none

Feat/callback required provider (#50)
  src/components/Widget.tsx
  src/hooks/useAllowance.tsx
  src/hooks/useApproveCallback.tsx
  src/utils/actions/approveErc20Token.ts
  src/utils/actions/fetchErc20TokenAllowance.ts
  src/utils/actions/switchNetwork.ts
Due: none

fix auth middleware application
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
Due: none

add basic get quote functions
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
Due: none

deploy block emtadata
  ethergo/backends/anvil/anvil.go
  ethergo/backends/backend.go
  ethergo/backends/geth/geth.go
  ethergo/backends/simulated/simulated.go
  ethergo/chain/client/client.go
  packages/contracts-rfq/contracts/FastBridge.sol
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/relayer/config/config.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/listener/doc.go
  services/rfq/relayer/listener/export_test.go
  services/rfq/relayer/listener/listener.go
  services/rfq/relayer/listener/suite_test.go
Due: ethergo

Flow control for bridging eth (#52)
  src/components/Widget.tsx
  src/hooks/useBridgeCallback.tsx
Due: none

chainlistener first pass
  services/rfq/contracts/fastbridge/events.go
  services/rfq/relayer/listener/listener.go
Due: none

chainlistener first pass
  services/rfq/relayer/listener/listener.go
Due: none

backup
  services/rfq/relayer/doc.go
  services/rfq/relayer/relayer.go
Due: none

Refactor ModifyQuote handler and add context-based request validation
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
Due: none

more stuff
  services/rfq/contracts/fastbridge/events.go
  services/rfq/contracts/fastbridge/eventtype_string.go
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/parser.go
  services/rfq/relayer/config/config.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/suite_test.go
  services/rfq/relayer/listener/export_test.go
  services/rfq/relayer/listener/listener.go
  services/rfq/relayer/listener/suite_test.go
  services/rfq/relayer/relayer.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/reldb/base/block.go
  services/rfq/relayer/reldb/base/doc.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/store.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/db_test.go
  services/rfq/relayer/reldb/doc.go
  services/rfq/relayer/reldb/mysql/mysql.go
  services/rfq/relayer/reldb/sqlite/sqlite.go
  services/rfq/relayer/reldb/suite_test.go
Due: none

rf
  services/rfq/relayer/relayer.go
Due: none

ADjust table schema, TODO: Fix PUT requests
  services/rfq/api/db/api_db.go
  services/rfq/api/db/api_db_test.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/rest/server.go
Due: none

lit
  agents/go.mod
  agents/go.sum
  contrib/terraform-provider-helmproxy/go.mod
  ethergo/go.mod
  ethergo/go.sum
  go.work
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
  services/rfq/contracts/fastbridge/events.go
  services/rfq/contracts/fastbridge/helper.go
  services/rfq/contracts/fastbridge/parser.go
  services/rfq/contracts/mockerc20/helper.go
  services/rfq/go.mod
  services/rfq/go.sum
  services/rfq/relayer/inventory/doc.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/suite_test.go
  services/rfq/relayer/relayer.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/reldb/base/block.go
  services/rfq/relayer/reldb/base/store.go
  services/rfq/relayer/reldb/mysql/mysql.go
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/deployers.go
  services/rfq/testutil/typecast.go
  services/scribe/go.mod
  services/scribe/go.sum
  services/sinner/go.mod
  services/sinner/go.sum
Due: agents, terraform-provider-helmproxy, ethergo, cctp-relayer, omnirpc, scribe, sinner

Adjust PUT requests to use new Quote table variables
  packages/contracts-core/deployments/address_printer.py
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
Due: solidity

Revert "remove eip-155 considerations from arbitrary data signing (#1634)"
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
Due: ethergo

Add method to get quotes by origin and destination
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server_test.go
Due: none

fast bridge mock
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/test/FastBridgeMock.sol
  services/rfq/contracts/mockerc20/generate.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.metadata.go
  services/rfq/contracts/testcontracts/fastbridgemock/generate.go
  services/rfq/contracts/testcontracts/fastbridgemock/helper.go
  services/rfq/contracts/testcontracts/mockerc20/generate.go
  services/rfq/contracts/testcontracts/mockerc20/helper.go
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.abigen.go
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.contractinfo.json
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.metadata.go
  services/rfq/relayer/listener/export_test.go
  services/rfq/relayer/listener/suite_test.go
  services/rfq/testutil/contracttype.go
  services/rfq/testutil/contracttypeimpl_string.go
  services/rfq/testutil/deployers.go
  services/rfq/testutil/typecast.go
Due: none

asdf
  services/rfq/api/rest/memory/api.db
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/suite_test.go
  services/rfq/relayer/listener/listener.go
  services/rfq/relayer/listener/listener_test.go
Due: none

f
  services/rfq/api/rest/server_test.go
  services/rfq/api/rest/suite_test.go
  services/rfq/go.mod
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/listener/export_test.go
  services/rfq/relayer/listener/listener.go
  services/rfq/testutil/contracttype.go
Due: none

fixing yarn build and getting rid of an unused file
  packages/explorer-ui/components/misc/TokenOnChain.tsx
  packages/explorer-ui/utils/chainAutocomplete.ts
Due: packages

remove eip-155 considerations from arbitrary data signing (#1634) (#1661)
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
Due: ethergo

Revert "remove eip-155 considerations from arbitrary data signing (#1634) (#1661)"
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
Due: ethergo

Revert "remove eip-155 considerations from arbitrary data signing (#1634) (#1661)" (#1662)
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
Due: ethergo

f
  services/rfq/api/rest/suite_test.go
  services/rfq/contracts/fastbridge/events.go
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/go.mod
  services/rfq/relayer/listener/listener_test.go
  services/rfq/testutil/typecast.go
Due: none

finish quoting
  contrib/promexporter/exporters/bridge.go
  core/dbcommon/enum.go
  core/math.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/base/store.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/quoterequeststatus_string.go
Due: core

step 1
  core/math.go
  services/rfq/relayer/relayer.go
Due: core

fix api rest tests
  services/rfq/api/rest/suite_test.go
Due: none

dont use mockerc20
  services/rfq/contracts/ierc20/IERC20.sol
  services/rfq/contracts/ierc20/generate.go
  services/rfq/contracts/ierc20/ierc20.abigen.go
  services/rfq/contracts/ierc20/ierc20.contractinfo.json
  services/rfq/contracts/ierc20/ierc20.metadata.go
  services/rfq/relayer/relayer.go
Due: none

a
  services/rfq/relayer/relayer.go
Due: none

REMOVE 27 FROM SIGNING. Create client package which requests to RFQ API and handles auth via Signer.signer fix rest api tests adjust some db functions
  ethergo/signer/signer/localsigner/signer.go
  ethergo/signer/signer/signer.go
  services/rfq/api/client/client.go
  services/rfq/api/client/client_test.go
  services/rfq/api/client/memory/api.db
  services/rfq/api/client/suite_test.go
  services/rfq/api/db/sql/base/store.go
  services/rfq/api/rest/memory/api.db
  services/rfq/api/rest/server.go
  services/rfq/api/rest/server_test.go
Due: ethergo

round trip test TestRoundtripBetweenFromQuoteRequestAndToQuoteRequest
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/model_test.go
Due: none

resolve round trip test by adjusting wei -> ethers, scaling decimals down
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/model_test.go
Due: none

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
