Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

pr 3299 comments. modify Zap checks
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

adding other venues
  docs/bridge/docs/01-About/04-SYN.md
Due: none

new venues
  docs/bridge/docs/01-About/04-SYN.md
Due: none

new venues (#3444)
  docs/bridge/docs/01-About/04-SYN.md
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
Due: none

feat: scaffold finalToken, forwardTo in ZapDataV1
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
  packages/contracts-rfq/test/harnesses/ZapDataV1Harness.sol
  packages/contracts-rfq/test/libs/ZapDataV1.t.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

feat: add finalToken, forwardTo
  packages/contracts-rfq/contracts/libs/ZapDataV1.sol
Due: solidity-rfq

feat: scaffold TokenZap.encodeZapData
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
Due: solidity-rfq

test: update existing tests
  packages/contracts-rfq/test/integration/TokenZapV1.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.GasBench.t.sol
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

test: forwardTo scenarios
  packages/contracts-rfq/test/router/SynapseIntentRouter.BalanceChecks.t.sol
  packages/contracts-rfq/test/router/SynapseIntentRouter.t.sol
Due: solidity-rfq

feat: token zeor address checks
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
Due: solidity-rfq

feat:scaffold token forwarding
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
Due: solidity-rfq

test: more revert cases
  packages/contracts-rfq/test/zaps/TokenZapV1.t.sol
Due: solidity-rfq

feat: final token forwarding
  packages/contracts-rfq/contracts/zaps/TokenZapV1.sol
Due: solidity-rfq

test: forwardTo behaviour in SIP
  packages/contracts-rfq/contracts/interfaces/ISynapseIntentPreviewer.sol
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
  packages/contracts-rfq/test/router/SynapseIntentPreviewer.t.sol
Due: solidity-rfq

feat: support optional `forwardTo` in SIP
  packages/contracts-rfq/contracts/router/SynapseIntentPreviewer.sol
Due: solidity-rfq

deploy: redeploy SIP, TokenZap
  packages/contracts-rfq/deployments/arbitrum/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/arbitrum/TokenZapV1.json
  packages/contracts-rfq/deployments/optimism/SynapseIntentPreviewer.json
  packages/contracts-rfq/deployments/optimism/TokenZapV1.json
Due: solidity-rfq

feat: use temporary V2 routers [REVERT IN PROD]
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/constants/chainIds.ts
Due: packages

feat: use staging API URL [REVERT IN PROD]
  packages/sdk-router/src/rfq/api.ts
Due: packages

chore: add a staging log in the SDK
  packages/sdk-router/src/sdk.ts
Due: packages

fix: URL
  packages/sdk-router/src/rfq/api.ts
Due: packages

feat: add typechain bindings
  packages/sdk-router/src/typechain/FastBridgeV2.ts
  packages/sdk-router/src/typechain/SynapseIntentPreviewer.ts
  packages/sdk-router/src/typechain/SynapseIntentRouter.ts
  packages/sdk-router/src/typechain/TokenZapV1.ts
Due: packages

feat: add ABIs
  packages/sdk-router/src/abi/FastBridgeV2.json
  packages/sdk-router/src/abi/SynapseIntentPreviewer.json
  packages/sdk-router/src/abi/SynapseIntentRouter.json
  packages/sdk-router/src/abi/TokenZapV1.json
Due: packages

feat: scaffold `bridge` implementation
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/rfq/sir.ts
Due: packages

feat: scaffold SIR module
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/rfq/sir.ts
Due: packages

feat: encoding of saved params for FB V2
  packages/sdk-router/src/rfq/paramsV2.test.ts
  packages/sdk-router/src/rfq/paramsV2.ts
Due: packages

feat: initial impl of SIR module
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/rfq/sir.ts
Due: packages

feat: steps array encoding
  packages/sdk-router/src/rfq/steps.test.ts
  packages/sdk-router/src/rfq/steps.ts
Due: packages

feat: SIR module set
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

fix: update SIP, TkenZap deployments, ABIs
  packages/sdk-router/src/abi/SynapseIntentPreviewer.json
  packages/sdk-router/src/abi/TokenZapV1.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/typechain/SynapseIntentPreviewer.ts
  packages/sdk-router/src/typechain/TokenZapV1.ts
Due: packages

feat: expose SIR in SDK
  packages/sdk-router/src/rfq/index.ts
  packages/sdk-router/src/sdk.ts
Due: packages

fix: don't use forwarding for origin swap / bridge
  packages/sdk-router/src/rfq/sir.ts
Due: packages

fix(sdk-router): bridge module name
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

feat: prioritize SIN quotes on the FE [REVERT IN PROD]
  packages/synapse-interface/components/StateManagedBridge/hooks/useBridgeValidations.ts
  packages/synapse-interface/components/_Transaction/_Transaction.tsx
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
Due: none

chore: trigger staging api build
  packages/rest-api/README.md
Due: none

zap data nil check & test fixes
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
Due: rfq

fix: packages/rest-api/package.json to reduce vulnerabilities
  packages/rest-api/package.json
Due: none
