Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

Base for integration tests
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
Due: none

Add common setup for integration tests
  packages/contracts-communication/test/integration/ICSetup.t.sol
Due: none

Source chain: events test
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
Due: none

Update PingPong app to emit nonce/index
  packages/contracts-communication/contracts/apps/PingPongApp.sol
Due: none

Dst chain: verifying remote batch
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
Due: none

Source chain: state tests
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
Due: none

Isolate "ping sent" complex checks
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
Due: none

Dst chain: interchain execute (ping/pong messages)
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
Due: none

Add integration tests for gas limits
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
Due: none

Add integration tests for isExecutable
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
Due: none

Add integration tests for reverts
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
Due: none

make tidy fix
  agents/go.mod
  agents/go.sum
  committee/go.mod
  committee/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  ethergo/backends/base/trace.go
  ethergo/deployer/functional.go
  ethergo/go.mod
  ethergo/parser/tracely/request.go
  ethergo/signer/signer/awssigner/unsafe.go
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  sin-executor/go.mod
  sin-executor/go.sum
Due: agents, ethergo, cctp-relayer, explorer, omnirpc, scribe

remove package-docs
  package-docs/.nojekyll
  package-docs/README.md
  package-docs/classes/SynapseSDK.md
  package-docs/modules.md
  package.json
Due: none

remove package-docs (#2336)
  package-docs/.nojekyll
  package-docs/README.md
  package-docs/classes/SynapseSDK.md
  package-docs/modules.md
  package.json
Due: none

y
  yarn.lock
Due: none

Revert "y"
  yarn.lock
Due: none

Add integration tests for `contracts-communication` (#2335)
  packages/contracts-communication/contracts/apps/PingPongApp.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
Due: none

regen
  committee/Makefile
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
  make/go.Makefile
Due: none

instruct coderabbit not to rc
  .coderabbit.yaml
Due: none

instruct coderabbit not to rc (#2337)
  .coderabbit.yaml
Due: none

resolve #754
  packages/contracts-core/.prettierignore
  packages/contracts-core/.prettierrc.js
  packages/contracts-core/package.json
  yarn.lock
Due: solidity

resolve #754 (#2338)
  packages/contracts-core/.prettierignore
  packages/contracts-core/.prettierrc.js
  packages/contracts-core/package.json
  yarn.lock
Due: solidity

Publish
  packages/contracts-core/CHANGELOG.md
  packages/contracts-core/package.json
Due: solidity

Update README.md
  ethergo/parser/tracely/README.md
Due: ethergo

Upgrades to wagmi to 1.3.5
  packages/synapse-interface/package.json
  yarn.lock
Due: none

update bl
  packages/synapse-interface/public/blacklist.json
Due: none

update bl (#2340)
  packages/synapse-interface/public/blacklist.json
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

new addresses
  contrib/promexporter/config/config.go
Due: none

more cleanup
  packages/contracts-core/package.json
  yarn.lock
Due: solidity

new addresses (#2343)
  contrib/promexporter/config/config.go
Due: none

fix(contracts-core) cleanup packages (#2342)
  packages/contracts-core/package.json
  yarn.lock
Due: solidity

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
