Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Publish
  packages/contracts-communication/CHANGELOG.md
  packages/contracts-communication/package.json
Due: none

refactor: "value mismatch" errors
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
Due: none

refactor: "above max" and "below min" errors
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/fees/ClaimableFees.sol
  packages/contracts-communication/contracts/interfaces/IClaimableFees.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/legacy/LegacyReceiver.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
  packages/contracts-communication/test/fees/ClaimableFees.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Dst.t.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Due: none

refactor: "zero amount" and "zero address" errors
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/fees/ClaimableFees.sol
  packages/contracts-communication/contracts/interfaces/IClaimableFees.sol
  packages/contracts-communication/contracts/interfaces/IInterchainAppV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/legacy/LegacyReceiver.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Management.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Management.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
  packages/contracts-communication/test/fees/ClaimableFees.t.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Due: none

refactor: "chain id not remote/not local" errors
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseGasOracleV1.sol
  packages/contracts-communication/contracts/legacy/LegacyReceiver.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/oracles/SynapseGasOracleV1.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Management.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/oracles/SynapseGasOracleV1.Getters.t.sol
  packages/contracts-communication/test/oracles/SynapseGasOracleV1.Management.t.sol
Due: none

refactor: "caller not allowed" errors
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/legacy/LegacyReceiver.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Management.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Fees.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
Due: none

refactor: misc "subject - reason" errors
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainAppV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/contracts/legacy/interfaces/IMessageBus.sol
  packages/contracts-communication/contracts/legacy/libs/LegacyOptions.sol
  packages/contracts-communication/contracts/libs/AppConfig.sol
  packages/contracts-communication/contracts/libs/BatchingV1.sol
  packages/contracts-communication/contracts/libs/Options.sol
  packages/contracts-communication/contracts/libs/ThresholdECDSA.sol
  packages/contracts-communication/contracts/libs/VersionedPayload.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.GenericViews.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Management.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Base.t.sol
  packages/contracts-communication/test/legacy/MessageBus.Src.t.sol
  packages/contracts-communication/test/legacy/libs/LegacyOptions.t.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
  packages/contracts-communication/test/libs/ThresholdECDSALib.t.sol
  packages/contracts-communication/test/libs/VersionedPayloadLib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Destination.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
Due: none

cleanup: TODOs
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
Due: none

feat(sdk-router): Adds Scroll to SDK (#2554)
  packages/sdk-router/src/constants/chainIds.ts
  packages/sdk-router/src/constants/medianTime.ts
Due: packages

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

Adds Scroll via RFQ
  packages/synapse-interface/assets/chains/scroll.svg
  packages/synapse-interface/components/StateManagedBridge/components/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/constants/bridge.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/supportedChains.ts
  packages/synapse-interface/constants/existingBridgeRoutes.ts
  packages/synapse-interface/constants/existingRfqRoutes.ts
  packages/synapse-interface/constants/rfqMap.ts
  packages/synapse-interface/constants/swap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/scripts/generateMaps.js
  packages/synapse-interface/scripts/generateRfqMaps.js
  packages/synapse-interface/scripts/utils/prettyPrintTs.js
  packages/synapse-interface/utils/getEstimatedBridgeTime.tsx
  packages/synapse-interface/utils/types/index.tsx
Due: none

Adds NewTag
  packages/synapse-interface/assets/chains/scroll.svg
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/utils/types/index.tsx
Due: none

Adds announcement banner
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
Due: none

Adds RFQ logic into the generateMaps script
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/existingBridgeRoutes.ts
  packages/synapse-interface/constants/existingRfqRoutes.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/package.json
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/scripts/data/rfqResponse.json
  packages/synapse-interface/scripts/generateMaps.js
  packages/synapse-interface/scripts/generateRfqMaps.js
Due: none

Linting
  packages/synapse-interface/scripts/generateMaps.js
Due: none

API call for quotes
  packages/synapse-interface/components/ui/SelectSpecificNetworkButton.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/rfqMap.ts
  packages/synapse-interface/scripts/generateMaps.js
  packages/synapse-interface/scripts/utils/fetchRfqData.js
  packages/synapse-interface/utils/types/index.tsx
Due: none

Adjusts order
  packages/synapse-interface/constants/chains/supportedChains.ts
Due: none

feat: add `batchNonce` to `module.requestBatchVerification()`
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
  packages/contracts-communication/test/modules/SynapseModule.Source.t.sol
Due: none

fix: add `SynapseExecutionService__GasOracleNotContract`
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.Management.t.sol
  packages/contracts-communication/test/execution/SynapseExecutionServiceV1.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
Due: none

fix: remove unreachable custom error
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Due: none

fix: don't decode a batch within the module
  packages/contracts-communication/contracts/modules/InterchainModule.sol
Due: none

Remove onClick Portfolio Token Balance, allow Token selection from Portfolio only without Balance input update
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
Due: none

Cursor default on Portfolio Token Balance
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
Due: none

Feat: bump default quote submission timeout
  services/rfq/relayer/relconfig/getters.go
Due: rfq

Feat: apply quote submission timeout to individual quotes
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Cleanup: whitespace
  services/rfq/relayer/quoter/quoter.go
Due: rfq

RFQ: apply quote submission timeout to individual quotes (#2561)
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

Cleanup: lint
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

Add `QuoteOffsetBps` to RFQ quoter (#2313)
  services/rfq/relayer/quoter/export_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq
