Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Adds query params hooks to sync with redux state for bridge and swap (#1547)
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  packages/synapse-interface/utils/hooks/useSyncQueryParamsWithBridgeState.ts
  packages/synapse-interface/utils/hooks/useSyncQueryParamsWithSwapState.ts
  packages/synapse-interface/utils/routeMaker/getToChainIds.ts
Due: none

adding eth linked pool assets and updated the tab title for synapse explorer (#1568)
  packages/explorer-ui/assets/icons/lusd.svg
  packages/explorer-ui/constants/tokens/basic.ts
  packages/explorer-ui/pages/_app.tsx
  packages/explorer-ui/public/_document.js
  packages/explorer-ui/public/manifest.json
Due: packages

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: packages

Initial commit
  .gitignore
  .nvmrc
  README.md
  package.json
  tsconfig.json
  yarn.lock
Due: none

Adds rollup publishing build tool
  .gitignore
  package.json
  rollup.config.js
  src/components/Button/Button.tsx
  src/index.tsx
  tsconfig.json
  yarn.lock
Due: none

[goreleaser] remove shouldSendToDestination from shouldRegisterNotaryOnDestination()
  agents/agents/notary/notary.go
Due: agents

[goreleaser] isAlreadySubmitted() returns false for attNonce == 0
  agents/agents/notary/notary.go
Due: agents

Adds examples React app
  examples/with-react/.gitignore
  examples/with-react/README.md
  examples/with-react/package.json
  examples/with-react/public/favicon.ico
  examples/with-react/public/index.html
  examples/with-react/public/logo192.png
  examples/with-react/public/logo512.png
  examples/with-react/public/manifest.json
  examples/with-react/public/robots.txt
  examples/with-react/src/App.css
  examples/with-react/src/App.tsx
  examples/with-react/src/index.css
  examples/with-react/src/index.tsx
  examples/with-react/src/react-app-env.d.ts
  examples/with-react/tsconfig.json
  examples/with-react/yarn.lock
Due: none

Removes react from devDependencies, only peerDeps
  package.json
  yarn.lock
Due: none

Adds synapse sdk to package, ethers to example app, testing a fixed quote
  examples/with-react/package.json
  examples/with-react/src/App.tsx
  examples/with-react/yarn.lock
  src/components/Button/Button.tsx
  src/index.tsx
Due: none

[goreleaser] add attestedSnapRoot to prevent duplicate attestations
  agents/agents/notary/notary.go
Due: agents

Static typing
  packages/synapse-interface/utils/actions/fetchBlockNumber.tsx
Due: none

Add `GetBlockHeight` graphql file
  packages/synapse-interface/graphql/GetBlockHeight.graphql
  packages/synapse-interface/slices/api/generated.ts
Due: none

Fetches bridge quote with static data
  src/index.tsx
  src/utils/fetchBridgeQuote.ts
  tsconfig.json
Due: none

Add LastAttestationNonce to destination domain
  agents/domains/domain.go
  agents/domains/evm/destination.go
Due: agents

Return early from 0 attestation nonce
  agents/agents/notary/notary.go
Due: agents

Add Notary.notaryStatus
  agents/agents/notary/notary.go
  core/metrics/consistentnames.go
Due: agents, core

[goreleaser] Add last attestation nonce check
  agents/agents/notary/notary.go
Due: agents

Cleanup: temp disable tests that require anvil
  agents/agents/executor/executor_test.go
  agents/agents/guard/fraud_test.go
Due: agents

Fix: remove unnecessary test condition
  agents/agents/executor/executor_test.go
Due: agents

Cleanup: go mod tidy
  agents/go.mod
  agents/go.sum
Due: agents

Adds tailwind, postcss rollup config
  examples/with-react/src/App.css
  examples/with-react/src/App.tsx
  examples/with-react/src/index.css
  package.json
  postcss.config.cjs
  rollup.config.js
  src/index.css
  src/index.tsx
  tailwind.config.js
  yarn.lock
Due: none

Basic styling
  examples/with-react/src/index.css
  src/index.tsx
Due: none

Adds dynamic fetching for amount
  src/index.tsx
  src/utils/fetchBridgeQuote.ts
  src/utils/formatBigIntToString.ts
  src/utils/stringToBigInt.ts
Due: none

Adds receipt
  src/index.tsx
  src/utils/cleanNumberInput.ts
Due: none

Sets up theming and variable colors
  src/index.css
  src/index.tsx
  tailwind.config.js
Due: none

Minor naming changes & organization
  src/components/Button/Button.tsx
  src/components/DoubleDownArrow.tsx
  src/components/DoubleUpArrow.tsx
  src/components/DownArrow.tsx
  src/index.tsx
Due: none

Adds customTheme support
  src/hooks/useCustomTheme.ts
  src/index.tsx
  src/types/index.d.ts
  src/utils/formatRgb.ts
Due: none

fix: packages/coverage-aggregator/package.json to reduce vulnerabilities
  packages/coverage-aggregator/package.json
Due: packages

Use proper ping pong client addresses in load config
  tools/testnet/load-config.yaml
Due: tools

Adds night theming preset
  examples/with-react/src/App.tsx
  src/components/DoubleDownArrow.tsx
  src/components/DoubleUpArrow.tsx
  src/components/Receipt.tsx
  src/constants/index.ts
  src/hooks/useCustomTheme.ts
  src/index.css
  src/index.tsx
  src/types/index.d.ts
  tailwind.config.js
Due: none

[goreleaser] add merkle_index span
  agents/agents/executor/executor_utils.go
Due: agents

Adds tokens with token metadata as prop
  examples/with-react/src/App.tsx
  src/components/Receipt.tsx
  src/index.tsx
Due: none

Adds rollup watch mode
  package.json
  rollup.config.js
Due: none

[goreleaser] new build
  agents/agents/executor/executor.go
Due: agents
