Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Resolve hooks render issue with localized component
  packages/widget/src/components/Maintenance/CountdownProgressBar.tsx
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Maintenance/MaintenanceCountdownProgress.tsx
  packages/widget/src/components/Maintenance/helpers/getCountdownTimeStatus.ts
  packages/widget/src/components/Maintenance/hooks/useEventCountdownProgressBar.tsx
  packages/widget/src/components/Widget.tsx
Due: packages

Progress bar renders when not isabled
  packages/widget/src/components/Maintenance/MaintenanceCountdownProgress.tsx
Due: packages

Clean and simplify Maintenance components
  packages/widget/src/components/Maintenance/CountdownProgressBar.tsx
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Maintenance/MaintenanceCountdownProgress.tsx
  packages/widget/src/components/Maintenance/hooks/useEventCountdownProgressBar.tsx
  packages/widget/src/components/Maintenance/hooks/useMaintenanceCountdownProgress.tsx
  packages/widget/src/components/Widget.tsx
Due: packages

New test
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

Test pause
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

New pauses
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

getMaintenanceData
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/utils/getSynapsePauseData.ts
Due: packages

Organize back into useMaintenance hook
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/utils/getSynapsePauseData.ts
Due: packages

Clean / organize
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Maintenance/components/LinearAnimatedProgressBar.tsx
  packages/widget/src/components/Maintenance/helpers/getCountdownTimeStatus.ts
  packages/widget/src/components/Maintenance/helpers/getSynapsePauseData.ts
  packages/widget/src/components/Widget.tsx
Due: packages

Update test
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

Use prod urls
  packages/widget/src/components/Maintenance/helpers/getSynapsePauseData.ts
Due: packages

txs arent landing" && gp
  committee/devnet/pconfig.yml
  committee/devnet/provisioner/provisioner.go
  committee/devnet/sconfig.yml
  committee/devnet/sender/sender.go
  docker/committee-devnet/config/committee-config1.yml
  docker/committee-devnet/config/committee-config2.yml
  docker/committee-devnet/config/committee-config3.yml
  docker/committee-devnet/config/devnet-config.yml
  packages/contracts-communication/contracts/selectors.txt
Due: committee

Organizational updates
  packages/widget/src/components/Maintenance/EventCountdownProgressBar.tsx
  packages/widget/src/components/Maintenance/LinearAnimatedProgressBar.tsx
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Maintenance/MaintenanceWarningMessage.tsx
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/constants/index.ts
  packages/widget/src/hooks/useEventCountdownProgressBar.tsx
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/utils/actions/fetchTokenBalances.ts
  packages/widget/src/utils/fetchJsonData.ts
  packages/widget/src/utils/getBridgeModuleNames.ts
  packages/widget/src/utils/getCountdownTimeStatus.ts
  packages/widget/src/utils/getSynapsePauseData.ts
  packages/widget/src/utils/isValidBridgeModule.ts
  packages/widget/src/utils/routeMaker/generateRoutePossibilities.ts
Due: packages

Cleanup: add tracing
  services/rfq/relayer/service/handlers.go
Due: rfq

it works
  committee/devnet/cmd/commands.go
  committee/devnet/manager/manager.go
  committee/devnet/provisioner/provisioner.go
  committee/devnet/sconfig.yml
  committee/devnet/sender/sender.go
  docker/committee-devnet/config/omnirpc.yaml
Due: committee

Fetch pause data every render, set fetching status flag
  packages/widget/src/utils/getSynapsePauseData.ts
Due: packages

Rm timestamp key
  packages/widget/src/utils/getSynapsePauseData.ts
Due: packages

feat(widget): maintenance (#2616)
  packages/widget/src/components/BridgeButton.tsx
  packages/widget/src/components/Maintenance/EventCountdownProgressBar.tsx
  packages/widget/src/components/Maintenance/LinearAnimatedProgressBar.tsx
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Maintenance/MaintenanceWarningMessage.tsx
  packages/widget/src/components/Transaction.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/constants/index.ts
  packages/widget/src/hooks/useEventCountdownProgressBar.tsx
  packages/widget/src/hooks/useIntervalTimer.ts
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/utils/actions/fetchTokenBalances.ts
  packages/widget/src/utils/fetchJsonData.ts
  packages/widget/src/utils/getBridgeModuleNames.ts
  packages/widget/src/utils/getCountdownTimeStatus.ts
  packages/widget/src/utils/getSynapsePauseData.ts
  packages/widget/src/utils/isChainIncluded.ts
  packages/widget/src/utils/isValidBridgeModule.ts
  packages/widget/src/utils/routeMaker/generateRoutePossibilities.ts
Due: packages

Publish
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

it works but bad
  committee/devnet/config/config.go
  committee/devnet/sconfig.yml
  committee/devnet/sender/sender.go
  committee/devnet/signer/sender-signer.txt
  committee/node/node.go
  docker/committee-devnet/docker-compose.yml
  ethergo/backends/geth/geth.go
  ethergo/signer/config/signer.go
  go.work
  services/explorer/go.mod
  sin-executor/executor/executor.go
Due: committee, sin-executor, ethergo, explorer

LFG les go play outside now
  committee/devnet/config/config.go
  committee/devnet/sconfig.yml
  committee/devnet/sender/sender.go
Due: committee

cleanup
  committee/devnet/cmd/cmd.go
  committee/devnet/cmd/commands.go
  committee/devnet/manager/manager.go
  committee/devnet/sender/sender.go
Due: committee

works for good now
  committee/devnet/manager/manager.go
  committee/devnet/provisioner/provisioner.go
  docker/committee-devnet/config/devnet-provisioner-config.yml
  docker/committee-devnet/docker-compose.yml
Due: committee

honestly based
  committee/devnet/provisioner/provisioner.go
Due: committee

finally works for good
  committee/devnet/provisioner/provisioner.go
  committee/devnet/sender/sender.go
  docker/committee-devnet/config/devnet-sender-config.yml
  docker/committee-devnet/config/provisioner-config.yml
  docker/committee-devnet/config/sender-config.yml
  docker/committee-devnet/config/sender-signer.txt
  docker/committee-devnet/devnet.Dockerfile
  docker/committee-devnet/docker-compose.yml
Due: committee
