Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

rework logic, make primary/secondary optional, make code clearer, update readme
  core/metrics/README.md
  core/metrics/otlp.go
Due: core

Updating es.json
  packages/synapse-interface/messages/es.json
Due: none

Updating es.json (#3102)
  packages/synapse-interface/messages/es.json
Due: none

Adds script to check translation keys to ensure they match en-US.json
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/package.json
  packages/synapse-interface/scripts/checkTranslationJsons.js
Due: none

Lints
  packages/synapse-interface/scripts/checkTranslationJsons.js
Due: none

clearer code
  core/metrics/otlp.go
Due: core

interfacify it better
  core/metrics/multiexporter.go
  core/metrics/otlp.go
Due: core

lint
  core/metrics/multiexporter.go
Due: core

Update rebalancing docs
  docs/bridge/docs/rfq/Relayer/Relayer.md
Due: none

Defaults to en-US locale messages of translation is missing
  packages/synapse-interface/package.json
  packages/synapse-interface/pages/index.tsx
  packages/synapse-interface/pages/landing/index.tsx
  packages/synapse-interface/pages/pool/[poolId].tsx
  packages/synapse-interface/pages/pools/index.tsx
  packages/synapse-interface/pages/returntomonke/index.tsx
  packages/synapse-interface/pages/stake/[routerIndex].tsx
  packages/synapse-interface/pages/stake/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
  yarn.lock
Due: none

Updates lock
  yarn.lock
Due: none

Adds instructions to add new language
  packages/synapse-interface/README.md
Due: none

bump go version for lint
  .github/workflows/go.yml
  ethergo/backends/anvil/anvil.go
Due: ethergo

bmp
  .github/workflows/go.yml
Due: none

fix lint
  ethergo/examples/usdclistener/main.go
Due: ethergo

fix rfq lint
  services/rfq/api/rest/auth.go
  services/rfq/guard/service/handlers.go
  services/rfq/relayer/inventory/rebalance.go
Due: rfq

Update rebalancing docs (#3103)
  docs/bridge/docs/rfq/Relayer/Relayer.md
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
Due: none

more lint
  services/rfq/api/rest/auth.go
  services/rfq/relayer/service/handlers.go
Due: rfq

Adds translations to dependency array
  packages/synapse-interface/components/Wallet.tsx
Due: none

fix int64
  services/rfq/guard/service/handlers.go
Due: rfq

change button text ordering for insufficient balance
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Due: none

rm log
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
Due: none

fe/updating-quote (#3104)
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
Due: none

lint again
  services/rfq/relayer/service/handlers.go
Due: rfq

clean logic
  packages/synapse-interface/components/StateManagedBridge/BridgeTransactionButton.tsx
  packages/synapse-interface/components/StateManagedBridge/hooks/useConfirmNewBridgePrice.ts
Due: none

Adds inputMode numeric to auto popup numeric keypad on mobile
  packages/synapse-interface/components/ui/AmountInput.tsx
Due: none

animate-quote-refresh
  packages/synapse-interface/components/StateManagedBridge/OutputContainer.tsx
Due: none

fix: package.json to reduce vulnerabilities
  package.json
Due: none

fix: packages/explorer-ui/package.json to reduce vulnerabilities
  packages/explorer-ui/package.json
Due: packages

+X-API-Version http header, +versions.json
  services/rfq/api/rest/handler.go
  services/rfq/api/rest/server.go
  services/rfq/api/versions.json
Due: rfq

lint
  services/rfq/api/rest/handler.go
Due: rfq

switch to hard stop error upon version lookup failure
  services/rfq/api/rest/server.go
Due: rfq

error wrap
  services/rfq/api/rest/server.go
Due: rfq

versions.json path tweak
  services/rfq/api/rest/server.go
Due: rfq

abandoning versions.json in favor of versions.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/versions.go
Due: rfq

lint
  services/rfq/api/rest/server.go
  services/rfq/api/rest/versions.go
Due: rfq

Prevents extra vertical scroll when disconnected
  packages/synapse-interface/pages/index.tsx
Due: none
