Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, contrib/git-changes-action, release-copier-action, contrib/terraform-provider-helmproxy, contrib/terraform-provider-iap, contrib/terraform-provider-kubeproxy, contrib/tfcore, core, ethergo, services/explorer, services/omnirpc, services/scribe, tools

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  agents:
    paths:
      - agents/*
    carryforward: true
  contrib/git-changes-action:
    paths:
      - contrib/git-changes-action/*
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/*
    carryforward: true
  contrib/terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/*
    carryforward: true
  contrib/terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/*
    carryforward: true
  contrib/terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/*
    carryforward: true
  contrib/tfcore:
    paths:
      - contrib/tfcore/*
    carryforward: true
  core:
    paths:
      - core/*
    carryforward: true
  ethergo:
    paths:
      - ethergo/*
    carryforward: true
  services/explorer:
    paths:
      - services/explorer/*
    carryforward: true
  services/omnirpc:
    paths:
      - services/omnirpc/*
    carryforward: true
  services/scribe:
    paths:
      - services/scribe/*
    carryforward: true
  tools:
    paths:
      - tools/*
    carryforward: true



ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '*/test/*.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/test/*.sol'
  - 'services/scribe/grpc/client/*'

Reverting timeout changes in git-change-actions for now
  contrib/git-changes-action/main.go
Due: contrib/git-changes-action

Increasing change default time out to 15m from 1m
  contrib/git-changes-action/main.go
Due: contrib/git-changes-action

Upgrading from golangci-lint-action@v2 to golangci-lint-action@v3
  .github/workflows/go.yml
Due: none

Separate library for faking test data
  packages/contracts-core/test/utils/libs/FakeIt.t.sol
  packages/contracts-core/test/utils/proof/AttestationProofGeneratorTest.t.sol
Due: none

Basic execute tests for Destination
  packages/contracts-core/test/mocks/client/MessageRecipientMock.t.sol
  packages/contracts-core/test/suite/Destination.t.sol
  packages/contracts-core/test/utils/SynapseProofs.t.sol
Due: none

Upgrading from golangci-lint-action@v2 to golangci-lint-action@v3 (#609)
  .github/workflows/go.yml
Due: none

Increasing change default time out to 15m from 1m (#608)
  contrib/git-changes-action/main.go
Due: contrib/git-changes-action

Trying to fix bug with git change detection where git list files times out
  contrib/git-changes-action/detector/ref.go
  contrib/git-changes-action/main.go
  go.work.sum
Due: contrib/git-changes-action

Trying to fix bug with git change detection where git list files times out (#610)
  contrib/git-changes-action/detector/ref.go
  contrib/git-changes-action/main.go
  go.work.sum
Due: contrib/git-changes-action

first
  agents/contracts/test/stateharness/doc.go
  agents/contracts/test/stateharness/generate.go
  agents/contracts/test/stateharness/helpers.go
  agents/contracts/test/stateharness/stateharness.abigen.go
  agents/contracts/test/stateharness/stateharness.contractinfo.json
  agents/contracts/test/stateharness/stateharness.metadata.go
  agents/testutil/contracttype.go
  agents/testutil/contracttypeimpl_string.go
  agents/testutil/harness.go
  agents/testutil/manager.go
  agents/testutil/typecast.go
  agents/types/encoder.go
  agents/types/parity_test.go
  agents/types/state.go
Due: none

first (#611)
  agents/contracts/test/stateharness/doc.go
  agents/contracts/test/stateharness/generate.go
  agents/contracts/test/stateharness/helpers.go
  agents/contracts/test/stateharness/stateharness.abigen.go
  agents/contracts/test/stateharness/stateharness.contractinfo.json
  agents/contracts/test/stateharness/stateharness.metadata.go
  agents/testutil/contracttype.go
  agents/testutil/contracttypeimpl_string.go
  agents/testutil/harness.go
  agents/testutil/manager.go
  agents/testutil/typecast.go
  agents/types/encoder.go
  agents/types/parity_test.go
  agents/types/state.go
Due: none

implement snapshot
  agents/contracts/test/snapshotharness/doc.go
  agents/contracts/test/snapshotharness/generate.go
  agents/contracts/test/snapshotharness/helpers.go
  agents/contracts/test/snapshotharness/snapshotharness.abigen.go
  agents/contracts/test/snapshotharness/snapshotharness.contractinfo.json
  agents/contracts/test/snapshotharness/snapshotharness.metadata.go
  agents/testutil/contracttype.go
  agents/testutil/contracttypeimpl_string.go
  agents/testutil/harness.go
  agents/testutil/manager.go
  agents/testutil/typecast.go
  agents/types/encoder.go
  agents/types/parity_test.go
  agents/types/snapshot.go
Due: none

Now trying smaller page sizes when fetching files from git repoo for change detections
  contrib/git-changes-action/detector/ref.go
Due: none

Now trying smaller page sizes when fetching files from git repoo for change detections (#613)
  contrib/git-changes-action/detector/ref.go
Due: none

implement snapshot (#612)
  agents/contracts/test/snapshotharness/doc.go
  agents/contracts/test/snapshotharness/generate.go
  agents/contracts/test/snapshotharness/helpers.go
  agents/contracts/test/snapshotharness/snapshotharness.abigen.go
  agents/contracts/test/snapshotharness/snapshotharness.contractinfo.json
  agents/contracts/test/snapshotharness/snapshotharness.metadata.go
  agents/testutil/contracttype.go
  agents/testutil/contracttypeimpl_string.go
  agents/testutil/harness.go
  agents/testutil/manager.go
  agents/testutil/typecast.go
  agents/types/encoder.go
  agents/types/parity_test.go
  agents/types/snapshot.go
Due: none

update go.yml
  .github/workflows/go.yml
Due: none

cleanup readme
  agents/README.md
Due: agents

add crosscheck (redo #614)
  agents/README.md
Due: agents

attestation parity
  agents/agents/executor/db/datastore/sql/base/attestation.go
  agents/agents/executor/db/executor_db.go
  agents/contracts/destination/parser.go
  agents/domains/domain.go
  agents/types/attestation.go
  agents/types/encoder.go
  agents/types/encoder_test.go
  agents/types/parity_test.go
Due: none

[goreleaser]
  contrib/git-changes-action/detector/ref.go
Due: none

add pr to check if needs go generate
  .github/workflows/fail-on-needs-generate.yaml
Due: none

fix exit
  .github/workflows/fail-on-needs-generate.yaml
Due: none

use fixed git-changes-action
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Due: none

Revert "use fixed git-changes-action" [ci skip]
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Due: none

use docker to pin version of golangci-lint
  contrib/git-changes-action/detector/ref.go
  make/go.Makefile
Due: none

fix job
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Due: none

[ci skip] Revert "fix job"
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Due: none
