Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

deployments
  packages/contracts-rfq/deployments/berachain/.chainId
  packages/contracts-rfq/deployments/berachain/FastBridge.json
  packages/contracts-rfq/deployments/hyperliquid/.chainId
  packages/contracts-rfq/deployments/hyperliquid/FastBridge.json
  packages/contracts-rfq/deployments/unichain/.chainId
  packages/contracts-rfq/deployments/unichain/FastBridge.json
Due: solidity-rfq

fixing bera weth [goreleaser]
  services/explorer/consumer/parser/rfqparser.go
Due: explorer

fix: exclude RFQ sources on KyberSwap
  packages/sdk-router/src/swap/engines/kyberSwapEngine.ts
Due: packages

feat: add Cortex promo popup
  packages/synapse-interface/components/CortexPromoPopup.tsx
  packages/synapse-interface/pages/_app.tsx
  packages/synapse-interface/tailwind.config.js
Due: none

Update index.tsx
  packages/synapse-interface/constants/urls/index.tsx
Due: none

fix: paraSwap partner, LiFi timing strategy
  packages/sdk-router/src/swap/engines/liFiEngine.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
Due: packages

build: deploy Interceptor on supported mainnets
  packages/contracts-rfq/configs/global/Create2Factory.json
  packages/contracts-rfq/deployments/arbitrum/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/base/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/berachain/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/blast/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/bnb/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/ethereum/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/hyperevm/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/linea/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/optimism/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/scroll/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/unichain/FastBridgeInterceptor.json
  packages/contracts-rfq/deployments/worldchain/FastBridgeInterceptor.json
  packages/contracts-rfq/script/DeploySIR.s.sol
  packages/contracts-rfq/script/utils/get-mainnet-chains.sh
  packages/contracts-rfq/script/utils/sd-mainnets.sh
  packages/contracts-rfq/script/utils/sd-sir.sh
Due: solidity-rfq

fix: don't cap origin slippage
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
Due: packages

fix: make minToAmount requied in SwapEngineRoute
  packages/sdk-router/src/swap/engines/defaultPoolsEngine.ts
  packages/sdk-router/src/swap/engines/noOpEngine.ts
  packages/sdk-router/src/swap/engines/response.ts
  packages/sdk-router/src/swap/models/route.ts
Due: packages

feat: use FBI for Route V2 zap data
  packages/sdk-router/src/abi/FastBridgeInterceptor.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/typechain/FastBridgeInterceptor.ts
Due: packages

fix: don't use interceptor without origin swaps
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
Due: packages

fix(sdk-router): swap engine improvements, remove cap on RFQ origin slippage (#3652)
  packages/sdk-router/src/abi/FastBridgeInterceptor.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/module/synapseModuleSet.ts
  packages/sdk-router/src/module/types.ts
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/rfq/fastBridgeRouterSet.ts
  packages/sdk-router/src/sir/synapseIntentRouterSet.ts
  packages/sdk-router/src/swap/engines/defaultPoolsEngine.ts
  packages/sdk-router/src/swap/engines/kyberSwapEngine.ts
  packages/sdk-router/src/swap/engines/liFiEngine.ts
  packages/sdk-router/src/swap/engines/noOpEngine.ts
  packages/sdk-router/src/swap/engines/paraSwapEngine.ts
  packages/sdk-router/src/swap/engines/response.ts
  packages/sdk-router/src/swap/models/route.ts
  packages/sdk-router/src/typechain/FastBridgeInterceptor.ts
Due: packages

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

removing all old fetcher changes
  services/explorer/consumer/fetcher/rfqfetcher.go
Due: explorer

[goreleaser]
  services/explorer/consumer/fetcher/rfqfetcher.go
Due: explorer

removing old routes and tokens
  docs/bridge/src/components/Routes.tsx
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
Due: none

lint
  services/explorer/consumer/fetcher/rfqfetcher.go
Due: explorer

Adding hyperevm to the explorer (#3647)
  packages/explorer-ui/components/ChainChart/index.tsx
  packages/explorer-ui/graphql/queries/index.ts
  services/explorer/api/server_test.go
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/consumer/parser/tokendata/cache.go
  services/explorer/graphql/client/client.go
  services/explorer/graphql/client/queries/queries.graphql
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/partials.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/static/chainIDs.yaml
  services/explorer/static/tokenIDToCoinGeckoID.yaml
  services/explorer/static/tokenSymbolToTokenID.yaml
Due: explorer, packages

Publish
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
Due: packages

Update RFQ Indexer API
  packages/rest-api/src/utils/isGatewayRoute.ts
Due: none

adding hyperevm to constants
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
Due: none

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
Due: packages

fix: `handleNativeToken` non-checksummed address, reorganize
  packages/sdk-router/src/utils/TokenMetadataFetcher.ts
  packages/sdk-router/src/utils/addressUtils.test.ts
  packages/sdk-router/src/utils/addressUtils.ts
  packages/sdk-router/src/utils/handleNativeToken.test.ts
  packages/sdk-router/src/utils/index.ts
  packages/sdk-router/src/utils/stringify.ts
  packages/sdk-router/src/utils/transactionUtils.ts
Due: packages

fix: export address utils
  packages/sdk-router/src/index.ts
  packages/sdk-router/src/sdk.ts
  packages/sdk-router/src/types/misc.ts
Due: packages

refactor: handleParams
  packages/sdk-router/src/operations/bridge.ts
  packages/sdk-router/src/operations/intent.ts
  packages/sdk-router/src/operations/swap.ts
  packages/sdk-router/src/utils/addressUtils.test.ts
  packages/sdk-router/src/utils/addressUtils.ts
Due: packages

test: ensure that 0xEE is working with integrations
  packages/sdk-router/src/swap/engines/__tests__/kyberSwapEngine.test.ts
  packages/sdk-router/src/swap/engines/__tests__/liFiEngine.test.ts
  packages/sdk-router/src/swap/engines/__tests__/paraSwapEngine.test.ts
Due: packages

SYN-86 Deprecate heroes/DFK exporters and remove unused code
  contrib/promexporter/CLAUDE.md
  contrib/promexporter/config/config.go
  contrib/promexporter/dashboards/bridges.json
  contrib/promexporter/exporters/dfk.go
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/exporters/otel.go
  contrib/promexporter/exporters/otel_generated.go
  contrib/promexporter/internal/gql/dfk/.gqlgenc.yml
  contrib/promexporter/internal/gql/dfk/README.md
  contrib/promexporter/internal/gql/dfk/client.gen.go
  contrib/promexporter/internal/gql/dfk/doc.go
  contrib/promexporter/internal/gql/dfk/generate.go
  contrib/promexporter/internal/gql/dfk/models.gen.go
  contrib/promexporter/internal/gql/dfk/queries/queries.graphql
  contrib/promexporter/internal/gql/explorer/models.gen.go
Due: none

update go.work.sum
  go.work.sum
Due: none

deprecate: remove contrib/restclient module
  .codecov.yml
  README.md
  contrib/restclient/.goreleaser.yml
  contrib/restclient/Makefile
  contrib/restclient/README.md
  contrib/restclient/client.gen.go
  contrib/restclient/client_test.go
  contrib/restclient/doc.go
  contrib/restclient/generate.go
  contrib/restclient/go.mod
  contrib/restclient/go.sum
Due: none

update go.work
  go.work
Due: none

Deprecate and remove go restclient module [SYN-88] (#3658)
  .codecov.yml
  README.md
  contrib/restclient/.goreleaser.yml
  contrib/restclient/Makefile
  contrib/restclient/README.md
  contrib/restclient/client.gen.go
  contrib/restclient/client_test.go
  contrib/restclient/doc.go
  contrib/restclient/generate.go
  contrib/restclient/go.mod
  contrib/restclient/go.sum
  go.work
Due: none

Fix goimports formatting issues for linting
  contrib/opbot/cmd/cmd.go
  contrib/opbot/sql/mysql/store.go
  contrib/opbot/sql/sqlite/sqlite.go
  contrib/opbot/sql/store.go
Due: none

update json model
  contrib/promexporter/dashboards/bridges.json
Due: none

SYN-86 Delete Old exporters and remove unused code (#3656)
  contrib/promexporter/CLAUDE.md
  contrib/promexporter/config/config.go
  contrib/promexporter/dashboards/bridges.json
  contrib/promexporter/exporters/dfk.go
  contrib/promexporter/exporters/exporter.go
  contrib/promexporter/exporters/otel.go
  contrib/promexporter/exporters/otel_generated.go
  contrib/promexporter/internal/gql/dfk/.gqlgenc.yml
  contrib/promexporter/internal/gql/dfk/README.md
  contrib/promexporter/internal/gql/dfk/client.gen.go
  contrib/promexporter/internal/gql/dfk/doc.go
  contrib/promexporter/internal/gql/dfk/generate.go
  contrib/promexporter/internal/gql/dfk/models.gen.go
  contrib/promexporter/internal/gql/dfk/queries/queries.graphql
  contrib/promexporter/internal/gql/explorer/models.gen.go
Due: none

nuke signoz example [goreleaser]
  contrib/opbot/.goreleaser.yml
Due: none
