Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Update Bridge/Swap page with parsed / formatted balances
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/ui/SelectSpecificTokenButton.tsx
  packages/synapse-interface/utils/formatAmount.ts
  packages/synapse-interface/utils/getParsedBalance.ts
  packages/synapse-interface/utils/trimTrailingZeroesAfterDecimal.ts
Due: none

fix: disable hydration
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
Due: packages

chore: don't log quotes in the integration test
  packages/sdk-router/src/rfq/api.integration.test.ts
Due: packages

docs(contracts-communication): move natspec from interfaces (#2595)
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/ICAppV1.sol
  packages/contracts-communication/contracts/execution/SynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/IClaimableFees.sol
  packages/contracts-communication/contracts/interfaces/IExecutionService.sol
  packages/contracts-communication/contracts/interfaces/IGasOracle.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainAppV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/interfaces/ISynapseExecutionServiceV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseGasOracle.sol
  packages/contracts-communication/contracts/interfaces/ISynapseGasOracleV1.sol
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/contracts/legacy/interfaces/IMessageBus.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
  packages/contracts-communication/contracts/oracles/SynapseGasOracleV1.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.t.sol
  packages/contracts-communication/test/libs/AppConfigLib.t.sol
  packages/contracts-communication/test/libs/OptionsLib.t.sol
  packages/contracts-communication/test/modules/SynapseModule.Management.t.sol
Due: none

Publish
  packages/contracts-communication/CHANGELOG.md
  packages/contracts-communication/package.json
Due: none

Clean imports
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
Due: none

fix(sdk-rouder): remove cache hydration (#2597)
  packages/sdk-router/src/rfq/api.integration.test.ts
  packages/sdk-router/src/rfq/fastBridgeRouter.ts
  packages/sdk-router/src/router/synapseCCTPRouter.ts
  packages/sdk-router/src/router/synapseRouter.ts
Due: packages

Fe/format amount (#2598)
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/ui/SelectSpecificTokenButton.tsx
  packages/synapse-interface/utils/formatAmount.ts
  packages/synapse-interface/utils/getParsedBalance.ts
  packages/synapse-interface/utils/trimTrailingZeroesAfterDecimal.ts
Due: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

Clean imports
  packages/synapse-interface/components/Portfolio/components/PortfolioTokenAsset.tsx
  packages/synapse-interface/components/Portfolio/components/SingleNetworkPortfolio.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/buttons/MiniMaxButton.tsx
  packages/synapse-interface/utils/formatAmount.ts
Due: none

Swap Max spacing
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
Due: none

Replaces with Postgres and serializes modules[] responses
  packages/interchain-explorer-api/prisma/schema.prisma
  packages/interchain-explorer-api/src/schema.ts
Due: none

Adds indexes to tables
  packages/interchain-explorer-indexer/package.json
  packages/interchain-explorer-indexer/ponder.schema.ts
  packages/interchain-explorer-indexer/src/index.ts
  yarn.lock
Due: none

Renames appConfigId to appConfigV1Id
  packages/interchain-explorer-api/prisma/schema.prisma
  packages/interchain-explorer-api/src/schema.ts
  packages/interchain-explorer-api/types.ts
Due: none

Improve html element composition
  packages/synapse-interface/components/StateManagedBridge/InputContainer.tsx
  packages/synapse-interface/components/StateManagedBridge/MaxButton.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapInputContainer.tsx
  packages/synapse-interface/components/ui/AmountInput.tsx
Due: none

dockerfile
  docker/devnet/committee.Dockerfile
  docker/devnet/docker-compose.yml
Due: none

committe yaml
  committee/dummy.yml
  committee/node/e2e_test.go
  docker/devnet/config/committee-config.yml
  docker/devnet/docker-compose.yml
Due: committee

config shit
  docker/devnet/config/committee-config.yml
  docker/devnet/config/committee-signer.txt
Due: none

Re-trigger action
  packages/widget/examples/landing-page/src/app/page.tsx
Due: packages

idk docker
  committee/go.mod
  committee/go.sum
  docker/devnet/config/committee-config.yml
  docker/devnet/config/committee-signer.txt
  docker/devnet/docker-compose.yml
  ethergo/go.mod
  services/rfq/go.mod
  services/rfq/go.sum
Due: committee, ethergo, rfq

oops
  services/rfq/go.mod
  services/rfq/go.sum
Due: rfq

ok
  ethergo/go.mod
  services/rfq/go.sum
Due: ethergo, rfq

it builds, todo: get chains working locally, then send txs + check dbs
  docker/devnet/agents.Dockerfile
  docker/devnet/committee.Dockerfile
  docker/devnet/docker-compose.yml
  docker/devnet/omnirpc.Dockerfile
  docker/devnet/scribe.Dockerfile
Due: none

add docs
  docs/bridge/docs/CCTP/Contracts.md
  docs/bridge/docs/CCTP/Overview.md
  docs/bridge/docs/CCTP/Relayer.md
  docs/bridge/docs/CCTP/_category_.json
  docs/bridge/docs/Services/Finality Considerations.md
  docs/bridge/docs/Services/Screener.md
  docs/bridge/docs/Services/Scribe.md
  docs/bridge/docs/Services/Signer.md
  docs/bridge/docs/Services/Submitter.md
  docs/bridge/docs/intro.md
  docs/bridge/docs/rfq/API/API.md
  docs/bridge/docs/rfq/Contracts.md
  docs/bridge/docs/rfq/Relayer/Getting Started.md
  docs/bridge/docs/rfq/Relayer/Relayer.md
  docs/bridge/docs/tutorial-basics/_category_.json
  docs/bridge/docs/tutorial-basics/congratulations.md
  docs/bridge/docs/tutorial-basics/create-a-blog-post.md
  docs/bridge/docs/tutorial-basics/create-a-document.md
  docs/bridge/docs/tutorial-basics/create-a-page.md
  docs/bridge/docs/tutorial-basics/deploy-your-site.md
  docs/bridge/docs/tutorial-basics/markdown-features.mdx
Due: none

feat: update InterchainEntry
  packages/contracts-communication/contracts/libs/InterchainEntry.sol
  packages/contracts-communication/test/harnesses/InterchainEntryLibHarness.sol
  packages/contracts-communication/test/libs/InterchainEntryLib.t.sol
Due: none

feat: scaffold InterchainDB interface changes
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainDB.sol
  packages/contracts-communication/test/mocks/InterchainDBMock.sol
Due: none

feat: scaffold Module interface changes
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/interfaces/IInterchainModule.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Due: none

test: update Client tests
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
Due: none

test: update DB tests
  packages/contracts-communication/test/InterchainDB.Dst.t.sol
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/mocks/InterchainModuleMock.sol
Due: none

refactor: ModuleBatch -> ModuleEntry
  packages/contracts-communication/contracts/libs/ModuleBatch.sol
  packages/contracts-communication/contracts/libs/ModuleEntry.sol
  packages/contracts-communication/test/harnesses/ModuleBatchLibHarness.sol
  packages/contracts-communication/test/harnesses/ModuleEntryLibHarness.sol
  packages/contracts-communication/test/libs/ModuleBatchLib.t.sol
  packages/contracts-communication/test/libs/ModuleEntryLib.t.sol
Due: none

feat: scaffold Client interface changes
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/interfaces/IInterchainClientV1.sol
  packages/contracts-communication/test/mocks/InterchainClientV1Mock.sol
Due: none

feat: remove `entryIndex` from InterchainTx
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/harnesses/InterchainTransactionLibHarness.sol
  packages/contracts-communication/test/libs/InterchainTransaction.t.sol
Due: none

feat: start updating the Module
  packages/contracts-communication/contracts/interfaces/ISynapseModule.sol
  packages/contracts-communication/contracts/modules/InterchainModule.sol
  packages/contracts-communication/contracts/modules/SynapseModule.sol
Due: none

test: update integration tests
  packages/contracts-communication/test/integration/ICIntegration.t.sol
  packages/contracts-communication/test/integration/ICSetup.t.sol
  packages/contracts-communication/test/integration/PingPong.Dst.t.sol
  packages/contracts-communication/test/integration/PingPong.Src.t.sol
  packages/contracts-communication/test/integration/PingPong.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Dst.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.Src.t.sol
  packages/contracts-communication/test/integration/legacy/LegacyPingPong.t.sol
Due: none

cleanup: remove BatchingV1
  packages/contracts-communication/contracts/InterchainClientV1.sol
  packages/contracts-communication/contracts/InterchainDB.sol
  packages/contracts-communication/contracts/libs/BatchingV1.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
Due: none

cleanup: remove entryIndex from apps
  packages/contracts-communication/contracts/apps/AbstractICApp.sol
  packages/contracts-communication/contracts/apps/examples/ExampleAppV1.sol
  packages/contracts-communication/contracts/apps/examples/PingPongApp.sol
  packages/contracts-communication/contracts/interfaces/IInterchainApp.sol
  packages/contracts-communication/contracts/legacy/MessageBus.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/apps/InterchainAppV1.Messaging.t.sol
  packages/contracts-communication/test/harnesses/ICAppV1Harness.sol
  packages/contracts-communication/test/integration/PingPong.t.sol
  packages/contracts-communication/test/interfaces/IInterchainAppV1Harness.sol
  packages/contracts-communication/test/legacy/MessageBus.Dst.t.sol
  packages/contracts-communication/test/mocks/InterchainAppMock.sol
Due: none

cleanup: remove entryIndex from Client events
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
  packages/contracts-communication/contracts/libs/InterchainTransaction.sol
  packages/contracts-communication/test/InterchainClientV1.Base.t.sol
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
  packages/contracts-communication/test/InterchainClientV1.Src.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
Due: none
