Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  sinner:
    paths:
      - services/sinner/
    carryforward: true
  solidity:
    paths:
      - packages/contracts-core/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

shellcheck
  rfq/generate-bindings.sh
Due: none

yamllint
  rfq/rfq-relayer/config.yaml
  rfq/rfq-relayer/go.sum
Due: none

feat/multicall-balances (#44)
  package.json
  rollup.config.js
  src/components/AvailableBalance.tsx
  src/components/Widget.tsx
  src/components/ui/ChainPopoverSelect.tsx
  src/components/ui/TokenPopoverSelect.tsx
  src/components/ui/TokenSelect.tsx
  src/constants/abis/erc20.json
  src/constants/abis/multicall.json
  src/constants/index.ts
  src/hooks/useAllowance.tsx
  src/hooks/useApproveCallback.tsx
  src/hooks/useBridgeCallback.tsx
  src/index.tsx
  src/state/slices/bridge/hooks.ts
  src/state/slices/bridge/reducer.ts
  src/state/store.ts
  src/types/index.d.ts
  src/utils/actions/approveErc20Token.ts
  src/utils/actions/fetchErc20TokenAllowance.ts
  src/utils/actions/fetchTokenBalances.ts
  src/utils/actions/switchNetwork.ts
  tsconfig.json
  yarn.lock
Due: none

Remove `viem` package from roll up config (#45)
  rollup.config.js
  src/constants/bridgeable.ts
  src/constants/index.ts
  yarn.lock
Due: none

[goreleaser] Don't complain about unknown topic
  services/cctp-relayer/relayer/relayer.go
Due: cctp-relayer

cleanup
  rfq/quoting-api/internal/testutil/contracts.go
  rfq/rfq-relayer/bindings/FastBridge.abigen.go
  rfq/rfq-relayer/bindings/MockERC20.abigen.go
  rfq/rfq-relayer/cmd/cmd.go
  rfq/rfq-relayer/cmd/commands.go
  rfq/rfq-relayer/config/config.go
  rfq/rfq-relayer/config/config_test.go
  rfq/rfq-relayer/config/doc.go
  rfq/rfq-relayer/db/db.go
  rfq/rfq-relayer/db/doc.go
  rfq/rfq-relayer/db/model/model.go
  rfq/rfq-relayer/db/read_test.go
  rfq/rfq-relayer/db/sql/base/write.go
  rfq/rfq-relayer/db/write_test.go
  rfq/rfq-relayer/go.mod
  rfq/rfq-relayer/service/balance/balance.go
  rfq/rfq-relayer/service/balance/balance_test.go
  rfq/rfq-relayer/service/doc.go
  rfq/rfq-relayer/service/listener/doc.go
  rfq/rfq-relayer/service/listener/listener.go
  rfq/rfq-relayer/service/listener/listener_test.go
  rfq/rfq-relayer/service/queue/queue.go
  rfq/rfq-relayer/service/queue/queue_test.go
  rfq/rfq-relayer/service/quote/dllhm.go
  rfq/rfq-relayer/service/quote/doc.go
  rfq/rfq-relayer/service/quote/quote.go
  rfq/rfq-relayer/service/quote/quote_test.go
  rfq/rfq-relayer/service/relayer.go
  rfq/rfq-relayer/service/routines.go
  rfq/rfq-relayer/service/suite_test.go
  rfq/rfq-relayer/testutil/backend.go
  rfq/rfq-relayer/testutil/backend_test.go
  rfq/rfq-relayer/testutil/contracts.go
  rfq/rfq-relayer/testutil/contracts_test.go
  rfq/rfq-relayer/testutil/util.go
  rfq/rfq-relayer/utils/doc.go
  rfq/rfq-relayer/utils/fastbridge.go
  rfq/rfq-relayer/utils/fastbridge_test.go
  rfq/rfq-relayer/utils/ids.go
  rfq/rfq-relayer/utils/types.go
Due: none

more cleanuper [goreleaser]
  agents/go.sum
  contrib/terraform-provider-helmproxy/go.sum
  ethergo/go.sum
  services/cctp-relayer/go.sum
  services/omnirpc/go.sum
  services/scribe/go.sum
  services/sinner/go.sum
Due: agents, terraform-provider-helmproxy, ethergo, cctp-relayer, omnirpc, scribe, sinner

bundle update
  contrib/terraform-provider-kubeproxy/generated/configschema/configschema_gen.go
  contrib/terraform-provider-kubeproxy/generated/convert/convert_gen.go
  contrib/terraform-provider-kubeproxy/generated/logging/logging_gen.go
  contrib/terraform-provider-kubeproxy/generated/manifest/manifest_gen.go
Due: none

update for possibly undefined (#1613)
  packages/synapse-interface/components/Portfolio/Activity.tsx
  packages/synapse-interface/components/Portfolio/Transaction/MostRecentTransaction.tsx
  packages/synapse-interface/slices/transactions/reducer.ts
  packages/synapse-interface/slices/transactions/updater.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeDestinationQuery.tsx
  packages/synapse-interface/utils/hooks/useFallbackBridgeOriginQuery.tsx
Due: none

Fixes copy (#1619)
  packages/synapse-interface/pages/landing/sections/UseCasesSection.tsx
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Filters for consumer provided tokens (#46)
  src/components/ui/TokenSelect.tsx
Due: none

Cleanup: remove gas limit from DoPing() call, temp disable bsc testnet
  agents/domains/evm/pingpongtestclient.go
  tools/testnet/load-config.yaml
  tools/testnet/main.go
Due: agents, tools

Add new SynapseCCTpRouter address
  packages/sdk-router/src/constants/addresses.ts
Due: packages

Adjust median time for Polygon: 8 minutes
  packages/sdk-router/src/constants/medianTime.ts
Due: packages

set skip migrations to false
  rfq/quoting-api/internal/rest/rest.go
Due: none

Fix Polygon USDC, add Polygon USDC.e
  packages/synapse-interface/constants/tokens/bridgeable.ts
Due: none

[goreleaser] trigger
  rfq/quoting-api/main.go
Due: none

Regenerate bridge Map with USDC.e override
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/scripts/data/symbolOverrides.json
Due: none

[goreleaser] Updated config for quoter api
  rfq/quoting-api/config.yaml
  rfq/quoting-api/internal/config/config.go
Due: none

Fe: polygon usdc and usdc.e (#1621)
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/symbolOverrides.json
Due: none

Update CCTP Router Address
  packages/synapse-interface/utils/actions/fetchPortfolioBalances.tsx
Due: none

Update CCTP router addresses
  packages/explorer-ui/constants/networks.ts
  packages/sdk-router/src/constants/addresses.ts
Due: packages

Set gas limit of DoPing() to 500000
  agents/domains/evm/pingpongtestclient.go
  tools/testnet/main.go
Due: agents, tools

update for new tokens
  packages/explorer-ui/constants/tokens/basic.ts
Due: packages

update for new tokens (#1623)
  packages/explorer-ui/constants/tokens/basic.ts
Due: packages

revert tests
  rfq/rfq-relayer/service/balance/balance.go
  rfq/rfq-relayer/service/quote/quote.go
  rfq/rfq-relayer/service/quote/quote_test.go
  rfq/rfq-relayer/service/relayer.go
Due: none

Revert "revert tests"
  rfq/rfq-relayer/service/balance/balance.go
  rfq/rfq-relayer/service/quote/quote.go
  rfq/rfq-relayer/service/quote/quote_test.go
  rfq/rfq-relayer/service/relayer.go
Due: none

fix rfq [goreleaser]
  rfq/rfq-relayer/testutil/contracts.go
Due: none

fix import shadowing [goreleaser]
  rfq/rfq-relayer/service/quote/quote_test.go
Due: none

don't test on push anymore [goreleaser]
  .github/workflows/go.yml
Due: none

Chore: remove extra line
  packages/sdk-router/src/constants/addresses.ts
Due: packages

added new cctp contracts
  packages/explorer-ui/constants/networks.ts
Due: packages
