Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Create maintenance events reading from pausedChains.json
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/public/chainPauses.json
Due: none

Remove custom margins to allow Bridge parent gap styling to handle spacing
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Warning.tsx
  packages/synapse-interface/public/chainPauses.json
  packages/synapse-interface/public/pausedChains.json
Due: none

adding hot fix for eth and token price discovery
  services/explorer/consumer/parser/rfqparser.go
Due: explorer

[goreleaser] casing on rfq (#2489)
  services/explorer/consumer/fetcher/rfqfetcher.go
  services/explorer/consumer/parser/rfqparser.go
Due: explorer

Require all props to be defined
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
Due: none

RFQ: take transactor.Value into account in gas middleware (#2483)
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/inventory/mocks/manager.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/service/statushandler.go
Due: rfq

Add Swap to maintenance warning messages
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/MaintenanceWarningMessage.tsx
  packages/synapse-interface/components/StateManagedSwap/SwapTransactionButton.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Due: none

Update useMaintenanceCountdownProgresses to allow distinction between Swap and Bridge pauses
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/useMaintenanceCountdownProgress.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/pages/swap/index.tsx
Due: none

Move MaintenanceBanners into LandingPageWrapper so banner appears on all pages
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/pages/index.tsx
Due: none

Add ability to specify whether to pause bridge / swap with maintenance event in json
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/useMaintenanceCountdownProgress.tsx
  packages/synapse-interface/public/pausedChains.json
Due: none

Clean
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/components/MaintenanceWarningMessage.tsx
  packages/synapse-interface/components/Maintenance/components/useMaintenanceCountdownProgress.tsx
Due: none

Unused code
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

Update dev comments
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/components/Maintenance/components/AnnouncementBanner.tsx
  packages/synapse-interface/components/Maintenance/components/EventCountdownProgressBar.tsx
  packages/synapse-interface/components/Maintenance/components/LinearAnimatedProgressBar.tsx
  packages/synapse-interface/components/Maintenance/components/MaintenanceBanner.tsx
  packages/synapse-interface/components/Maintenance/components/MaintenanceWarningMessage.tsx
  packages/synapse-interface/components/Maintenance/components/useMaintenanceCountdownProgress.tsx
Due: none

update bl
  packages/synapse-interface/public/blacklist.json
Due: none

update bl (#2494)
  packages/synapse-interface/public/blacklist.json
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Revert "Regenerate `sin-executor`"
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
Due: sin-executor

Revert "Regenerate `committee`"
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  committee/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
Due: committee

Fix: gas value check only for non-in-flight requests
  services/rfq/relayer/service/statushandler.go
Due: rfq

Fix: gas value check only for non-in-flight requests (#2496)
  services/rfq/relayer/service/statushandler.go
Due: rfq

Fix: forgotten uint256 indexed chainId fields
  packages/contracts-communication/contracts/events/InterchainAppV1Events.sol
  packages/contracts-communication/contracts/events/InterchainModuleEvents.sol
  packages/contracts-communication/contracts/events/SynapseGasOracleV1Events.sol
  packages/contracts-communication/contracts/oracles/SynapseGasOracleV1.sol
Due: none

Regenerate `committee`
  committee/contracts/interchaindb/interchaindb.abigen.go
  committee/contracts/interchaindb/interchaindb.contractinfo.json
  committee/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  committee/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  committee/contracts/synapsemodule/synapsemodule.abigen.go
  committee/contracts/synapsemodule/synapsemodule.contractinfo.json
Due: committee

wrap workflow
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Due: none

wrap workflow (#2497)
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
Due: none

pause op
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
Due: none

pause op (#2498)
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
Due: none

release (#2499)
  .github/workflows/go.yml
  .github/workflows/goreleaser-actions.yml
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/components/Maintenance/Events/template/MaintenanceEvent.tsx
  packages/synapse-interface/package.json
  services/rfq/relayer/service/statushandler.go
Due: rfq

Removes hover from SelectorWrapper auto-toggle, replacing with click action
  packages/synapse-interface/components/ui/ChainSelector.tsx
  packages/synapse-interface/components/ui/SelectorWrapper.tsx
  packages/synapse-interface/components/ui/TokenSelector.tsx
Due: none

Feat: add decimalsCache, refactor decimal fetching
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/handlers.go
  services/rfq/relayer/service/relayer.go
Due: rfq
