Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Additional rpc field
  packages/synapse-interface/constants/chains/extraWagmiChains.ts
Due: none

feature(synapse-interface): Chain and bridgeMap updates (#3318)
  packages/synapse-interface/assets/chains/worldchain.svg
  packages/synapse-interface/assets/icons/wld.svg
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/bridgeMap.ts
  packages/synapse-interface/constants/chains/extraWagmiChains.ts
  packages/synapse-interface/constants/chains/index.tsx
  packages/synapse-interface/constants/chains/master.tsx
  packages/synapse-interface/constants/chains/supportedChains.ts
  packages/synapse-interface/constants/tokens/bridgeable.ts
  packages/synapse-interface/scripts/data/providers.json
  packages/synapse-interface/scripts/generateMaps.js
Due: none

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
Due: none

Pol updates
  packages/rest-api/src/constants/bridgeable.ts
Due: none

Fixes tests
  packages/rest-api/src/tests/indexRoute.test.ts
  packages/rest-api/src/tests/tokenListRoute.test.ts
Due: none

feat(rest-api): Chain and token updates (#3319)
  packages/rest-api/src/constants/bridgeMap.ts
  packages/rest-api/src/constants/bridgeable.ts
  packages/rest-api/src/constants/chains.ts
  packages/rest-api/src/tests/destinationTokensRoute.test.ts
  packages/rest-api/src/tests/indexRoute.test.ts
  packages/rest-api/src/tests/tokenListRoute.test.ts
Due: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
Due: none

Pol updates
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
Due: none

feat(synapse-constants): chain and token updates (#3320)
  packages/synapse-constants/src/constants/bridgeMap.ts
  packages/synapse-constants/src/constants/chains/master.ts
  packages/synapse-constants/src/constants/tokens/bridgeable.ts
  packages/widget/src/constants/bridgeMap.ts
Due: packages

Publish
  docs/bridge/CHANGELOG.md
  docs/bridge/package.json
  packages/explorer-ui/CHANGELOG.md
  packages/explorer-ui/package.json
  packages/synapse-constants/CHANGELOG.md
  packages/synapse-constants/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

uptime metrics
  core/metrics/README.md
  core/metrics/base.go
  core/metrics/standard.go
Due: core

update
  core/metrics/base.go
Due: core

add uptime metric [SLT-372] (#3321)
  core/metrics/README.md
  core/metrics/base.go
  core/metrics/standard.go
Due: core

Cleanup: lint
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

add new fiedl
  contrib/opbot/botmd/commands.go
  contrib/opbot/internal/model.go
Due: none

fix retry logic
  contrib/opbot/botmd/commands.go
Due: none

Cleanup: lint
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Fix: tests
  services/rfq/relayer/pricer/fee_pricer_test.go
Due: rfq

Cleanup: decompose func
  services/rfq/relayer/pricer/fee_pricer.go
Due: rfq

docs: update permisionless claim phrasing
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

api gateway
  .vscode/settings.json
  package.json
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  yarn.lock
Due: none

make it process env
  packages/rest-api/src/app.ts
Due: none

make jsons and tackle depdencnies
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/rest-api/src/swagger.json
  packages/rest-api/swagger.json
  packages/rfq-indexer/api/src/app.ts
  packages/rfq-indexer/api/src/swagger.json
  yarn.lock
Due: none

no idea whats going on
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/rest-api/src/swagger.ts
  packages/rest-api/swagger 2.json
  packages/rest-api/swagger.json
Due: none

fix: packages/sdk-router/package.json to reduce vulnerabilities
  packages/sdk-router/package.json
Due: packages

refactor(contracts-rfq): emit events before external calls, more explicit docs [SLT-342] (#3316)
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

Publish
  packages/contracts-rfq/CHANGELOG.md
  packages/contracts-rfq/package.json
Due: solidity-rfq

test: add case for EOA origin token
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
Due: none

refactor: remove `UniversalTokenLib`
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2Errors.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.FBRV2.t.sol
Due: solidity-rfq

works
  packages/rest-api/output.json
  packages/rest-api/package.json
  packages/rest-api/rfq-api-swagger.json
  packages/rest-api/rfq-indexer-swagger.json
  packages/rest-api/src/swagger.ts
  packages/rest-api/swagger.json
  packages/rfq-indexer/api/src/app.ts
  services/rfq/api/docs/swagger.json
  yarn.lock
Due: rfq

remove unneeded fiels
  packages/rest-api/rfq-api-swagger.json
  packages/rest-api/rfq-indexer-swagger.json
  packages/rest-api/src/swagger.ts
Due: none

cleanup
  packages/rest-api/output.json
  packages/rfq-indexer/api/src/swagger.json
Due: none

remove unneeded packages
  packages/rest-api/package.json
  yarn.lock
Due: none

feat(rfq-relayer): make QuoteWidthBps a token-level param [SLT-354] (#3305)
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/config_test.go
  services/rfq/relayer/relconfig/getters.go
Due: rfq

Feat: add FastBridgeAddress to pending proven model
  services/rfq/guard/guarddb/base/model.go
  services/rfq/guard/guarddb/db.go
Due: rfq
