Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

Cleanup: comments
  services/rfq/relayer/service/chainindexer.go
Due: rfq

Fix: build
  services/rfq/relayer/service/handlers.go
Due: rfq

Upgrades ponder to 0.4.3
  packages/interchain-explorer-api/package.json
  yarn.lock
Due: none

Feat: add GetTokenMetadata() getter
  services/rfq/relayer/inventory/manager.go
Due: rfq

Feat: add prom metrics for quote generation
  services/rfq/relayer/quoter/quoter.go
Due: rfq

Fix: mocks
  services/rfq/relayer/inventory/mocks/manager.go
Due: none

Feat: add registerBalance() call upon refreshing balances
  services/rfq/relayer/inventory/manager.go
Due: rfq

Refactor: HasPendingRebalance -> GetPendingRebalances
  services/rfq/e2e/rfq_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/reldb/base/rebalance.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/reldb/db_test.go
Due: rfq

Feat: add OriginTokenAddr to Rebalance models
  services/rfq/relayer/inventory/circle.go
  services/rfq/relayer/inventory/synapse.go
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/db.go
Due: rfq

Feat: add registerPendingRebalance() helper
  services/rfq/relayer/inventory/manager.go
Due: rfq

Update pause start/end time name for legibility
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/public/pausedChains.json
Due: none

Create type guard to check for paused bridge module
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/public/pausedChains.json
Due: none

usePausedBridgeModules
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/public/pausedChains.json
Due: none

usePausedBridgeModules to filter out SDK quotes
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none

adjusting sender and recipient based on null values
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/types/fastbridge/event.go
Due: explorer

[goreRFQ Explorer maintenence -- fixing sender/recipient (#2481)
  services/explorer/config.yaml
  services/explorer/configOrigin.yaml
  services/explorer/consumer/parser/rfqparser.go
  services/explorer/graphql/server/graph/model/models_gen.go
  services/explorer/graphql/server/graph/resolver/server.go
  services/explorer/graphql/server/graph/schema/types.graphql
  services/explorer/types/fastbridge/event.go
Due: explorer

Initialize paused routes to handle specific route pauses instead of grouping with chain pauses
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/public/pausedRoutes.json
Due: none

Adds manual count on Sent & Received
  packages/interchain-explorer-api/ponder.schema.ts
  packages/interchain-explorer-api/src/index.ts
Due: none

Adds count to FE query
  packages/interchain-explorer-ui/src/app/page.tsx
  packages/interchain-explorer-ui/src/hooks/useInterchainTransactions.ts
  packages/interchain-explorer-ui/src/types.ts
Due: none

Feat: add registerNumPendingTxes in submitter
  ethergo/submitter/chain_queue.go
Due: ethergo

Feat: add registerBumpTx()
  ethergo/submitter/chain_queue.go
Due: ethergo

Update `committee` with uint256 -> uint64 change
  committee/db/base/signrequest.go
Due: committee

Regenerate `sin-executor`
  sin-executor/contracts/executionservice/executionservice.abigen.go
  sin-executor/contracts/executionservice/executionservice.contractinfo.json
  sin-executor/contracts/interchainclient/interchainclient.abigen.go
  sin-executor/contracts/interchainclient/interchainclient.contractinfo.json
  sin-executor/contracts/interchaindb/interchaindb.abigen.go
  sin-executor/contracts/interchaindb/interchaindb.contractinfo.json
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.abigen.go
  sin-executor/contracts/mocks/executionfeesmock/executionfeesmock.contractinfo.json
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.abigen.go
  sin-executor/contracts/mocks/gasoraclemock/gasoraclemock.contractinfo.json
  sin-executor/contracts/mocks/interchainapp/interchainapp.abigen.go
  sin-executor/contracts/mocks/interchainapp/interchainapp.contractinfo.json
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.abigen.go
  sin-executor/contracts/mocks/interchainmodulemock/interchainmodulemock.contractinfo.json
Due: sin-executor

Adds pagination, separate query for stats
  packages/interchain-explorer-ui/src/app/page.tsx
  packages/interchain-explorer-ui/src/components/Stats.tsx
  packages/interchain-explorer-ui/src/components/TransactionsTable.tsx
  packages/interchain-explorer-ui/src/graphql/queries.ts
  packages/interchain-explorer-ui/src/hooks/useInterchainTransactions.ts
  packages/interchain-explorer-ui/src/hooks/useStats.ts
  packages/interchain-explorer-ui/src/types.ts
Due: none

Update paused route structure
  packages/synapse-interface/components/Maintenance/Maintenance.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/public/pausedRoutes.json
Due: none

Linting
  packages/interchain-explorer-ui/src/hooks/useInterchainTransactions.ts
  packages/interchain-explorer-ui/src/hooks/useStats.ts
Due: none

Rm idle import
  packages/synapse-interface/pages/returntomonke/ImageUploader.tsx
Due: none

Implement exposed utility func to fetch decoded app config
  packages/contracts-communication/contracts/InterchainClientV1.sol
Due: none

Add test coverage
  packages/contracts-communication/test/InterchainClientV1.Dst.t.sol
Due: none

Update tests to match the finalized event spec
  packages/contracts-communication/test/InterchainDB.Src.t.sol
  packages/contracts-communication/test/integration/ICIntegration.t.sol
Due: none

Finalize `InterchainDBEvents`
  packages/contracts-communication/contracts/events/InterchainDBEvents.sol
Due: none

Finalize `InterchainClientV1Events`
  packages/contracts-communication/contracts/events/InterchainClientV1Events.sol
Due: none
