Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

better css variable overrides
  docs/bridge/docusaurus.config.ts
  docs/bridge/src/css/custom.css
Due: none

fix build errors
  docs/bridge/docs/02-Bridge/index.md
  docs/bridge/src/components/HomepageFeatures/index.tsx
Due: none

footer color
  docs/bridge/src/components/Routes.tsx
  docs/bridge/src/css/custom.css
Due: none

adding originUserAddress for refunds [SLT-281] (#3206)
  packages/rest-api/src/controllers/bridgeController.ts
  packages/rest-api/src/controllers/bridgeTxInfoController.ts
  packages/rest-api/src/routes/bridgeRoute.ts
  packages/rest-api/src/routes/bridgeTxInfoRoute.ts
  packages/rest-api/src/tests/bridgeRoute.test.ts
  packages/rest-api/src/tests/bridgeTxInfoRoute.test.ts
Due: none

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
Due: none

fix: decode into BridgeTransactionV2 Note: technically this isn't necessary AS OF NOW, as V2 struct new fields are ignored by the V1 decoding func.
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

test: coverage for V1, V2 encoding
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
Due: none

More logs
  services/rfq/api/rest/server.go
Due: rfq

More logs
  services/rfq/relayer/quoter/quoter.go
Due: rfq

More logs
  services/rfq/api/client/client.go
  services/rfq/api/rest/ws.go
  services/rfq/relayer/service/relayer.go
Due: rfq

Close conn when encountering write err
  services/rfq/api/rest/ws.go
Due: rfq

More logs
  services/rfq/api/rest/ws.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

test: coverage for using V1 request instead of V2
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
Due: none

More logs
  services/rfq/api/client/client.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

More logs
  services/rfq/api/rest/ws.go
Due: rfq

refactor: unroll the nested v2 structure
  packages/contracts-rfq/contracts/FastBridgeV2.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridgeV2.sol
Due: solidity-rfq

More logs
  services/rfq/api/client/client.go
Due: rfq

test: update for the unrolled struct
  packages/contracts-rfq/test/FastBridgeV2.Dst.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Encoding.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.PFees.t.sol
  packages/contracts-rfq/test/FastBridgeV2.GasBench.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.ProtocolFees.t.sol
  packages/contracts-rfq/test/FastBridgeV2.Src.t.sol
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Due: none

refactor: make backwards-compatible view external
  packages/contracts-rfq/contracts/FastBridgeV2.sol
Due: solidity-rfq

Logs with ts
  services/rfq/api/client/client.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

More tracing
  services/rfq/api/rest/rfq.go
  services/rfq/api/rest/server.go
  services/rfq/api/rest/ws.go
  services/rfq/relayer/quoter/quoter.go
Due: rfq

dynamic confirmation wait based on volume
  services/rfq/relayer/limiter/limiter.go
  services/rfq/relayer/limiter/limiter_test.go
  services/rfq/relayer/limiter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/getters.go
  services/rfq/util/util.go
Due: rfq

Fix: send to reqChan
  services/rfq/relayer/quoter/quoter.go
Due: rfq

better division check
  services/rfq/relayer/limiter/limiter.go
Due: rfq

chore: `foundryup` -> `forge fmt` yes, this is slightly annoying :(
  packages/contracts-rfq/test/FastBridgeV2.t.sol
Due: none

Check for zero pong time
  services/rfq/api/rest/ws.go
Due: rfq

Fix: make close_at and closed_quote_id optional
  services/rfq/api/db/api_db.go
  services/rfq/api/db/sql/base/store.go
Due: rfq
