Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, explorer, omnirpc, scribe, sinner, solidity, tools, packages

double span [goreleaser]
  go.work.sum
  services/rfq/relayer/service/handlers.go
Due: none

Revert "double span [goreleaser]"
  go.work.sum
  services/rfq/relayer/service/handlers.go
Due: none

semconv update [goreleaser]
  core/metrics/base.go
Due: core

Reapply "double span [goreleaser]"
  go.work.sum
  services/rfq/relayer/service/handlers.go
Due: none

cleanup [goreleaser]
  services/rfq/relayer/service/handlers.go
Due: none

quotefix [goreleaser]
  services/rfq/api/rest/server.go
Due: none

string lit fix [goreleaser]
  services/rfq/api/rest/server.go
Due: none

[goreleaser]
  services/rfq/relayer/service/handlers.go
Due: none

update
  services/rfq/relayer/service/handlers.go
Due: none

[REVERT IN PROD] up the deadline for RFQ
  packages/sdk-router/src/rfq/fastBridgeSet.ts
Due: packages

new event
  services/rfq/relayer/service/handlers.go
Due: none

consolidate quote posting [goreleaser]
  services/rfq/relayer/quoter/quoter.go
Due: none

Docs: contribution workflow (#1723)
  README.md
Due: none

bridge params with originSender != msg.sender
  packages/contracts-rfq/contracts/FastBridge.sol
  packages/contracts-rfq/contracts/interfaces/IFastBridge.sol
  packages/contracts-rfq/test/FastBridge.t.sol
Due: none

deploy with origin sender update
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209634.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209657.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704209980.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704210076.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/10/run-1704210169.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704209557.json
  packages/contracts-rfq/broadcast/FastBridge.s.sol/42161/run-1704209577.json
Due: none

Feat: set DestTxHash on QuoteRequest model
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/service/handlers.go
Due: none

Fix: use DestTxHash in Prove() tx
  services/rfq/relayer/service/handlers.go
Due: none

Add `DestTxHash` field and use it in relayer `Prove()` call (#1726)
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/base/quote.go
  services/rfq/relayer/reldb/db.go
  services/rfq/relayer/service/handlers.go
Due: none

expose bl
  packages/synapse-interface/cypress/fixtures/bridge.json
  packages/synapse-interface/pages/blacklist/index.tsx
Due: none

Feat: clean up relayer config
  services/rfq/e2e/setup_test.go
  services/rfq/relayer/inventory/manager.go
  services/rfq/relayer/inventory/manager_test.go
  services/rfq/relayer/pricer/fee_pricer.go
  services/rfq/relayer/pricer/fee_pricer_test.go
  services/rfq/relayer/pricer/suite_test.go
  services/rfq/relayer/quoter/quoter.go
  services/rfq/relayer/quoter/quoter_test.go
  services/rfq/relayer/quoter/suite_test.go
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/service/chainindexer.go
  services/rfq/relayer/service/relayer.go
  services/rfq/relayer/service/statushandler.go
  services/rfq/relayer/service/suite_test.go
Due: none

regen
  services/rfq/contracts/fastbridge/fastbridge.abigen.go
  services/rfq/contracts/fastbridge/fastbridge.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
Due: none

Cleanup: move definition of config getters
  services/rfq/relayer/relconfig/config.go
Due: none

json bl
  packages/synapse-interface/constants/blacklist.json
  packages/synapse-interface/constants/blacklist.ts
  packages/synapse-interface/public/blacklist.json
Due: none

Feat: add IConfig
  services/rfq/relayer/relconfig/config.go
  services/rfq/relayer/relconfig/iconfig_generated.go
Due: none

Cleanup: config getter comments
  services/rfq/relayer/relconfig/config.go
Due: none

Feat: add UUID to submitter tx model
  ethergo/submitter/chain_queue.go
  ethergo/submitter/db/tx.go
  ethergo/submitter/db/txdb/model.go
  ethergo/submitter/db_test.go
  ethergo/submitter/export_test.go
  ethergo/submitter/submitter.go
  ethergo/submitter/util.go
  ethergo/submitter/util_test.go
Due: ethergo

Cleanup: Uuid -> UUID
  ethergo/submitter/util.go
Due: ethergo

Adjust for ssr
  packages/synapse-interface/constants/blacklist.json
  packages/synapse-interface/constants/blacklist.ts
  packages/synapse-interface/public/blacklist.json
Due: none

Update FastBridge bindings
  packages/sdk-router/src/abi/FastBridge.json
  packages/sdk-router/src/typechain/FastBridge.ts
Due: packages

Temp fix: support origin sender address
  packages/sdk-router/src/rfq/fastBridge.test.ts
  packages/sdk-router/src/rfq/fastBridge.ts
Due: packages

Update FastBridge addresses
  packages/sdk-router/src/constants/addresses.ts
Due: packages

SDK Slippage Helpers (#105)
  package.json
  src/state/slices/bridgeQuote/hooks.ts
  src/utils/slippage.ts
  yarn.lock
Due: none

Remove page in lieu of /.json
  packages/synapse-interface/pages/blacklist/index.tsx
Due: none

pause
  packages/synapse-interface/constants/chains/index.tsx
Due: none

pause 2
  packages/synapse-interface/constants/chains/index.tsx
Due: none

Path conditions:
  agents: any of: agents/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  git-changes-action: any of: contrib/git-changes-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  release-copier-action: any of: contrib/release-copier-action/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-helmproxy: any of: contrib/terraform-provider-helmproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-iap: any of: contrib/terraform-provider-iap/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  terraform-provider-kubeproxy: any of: contrib/terraform-provider-kubeproxy/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tfcore: any of: contrib/tfcore/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  core: any of: core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  ethergo: any of: ethergo/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  cctp-relayer: any of: services/cctp-relayer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  explorer: any of: services/explorer/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  omnirpc: any of: services/omnirpc/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  scribe: any of: services/scribe/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  sinner: any of: services/sinner/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  solidity: any of: packages/contracts-core/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  tools: any of: tools/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
  packages: any of: packages/coverage-aggregator/, packages/explorer-ui/, packages/sdk-router/, but not: **/*_generated.go, **/*.abigen.go, **/*_string.go, **/*_gen.go, **/*.pb.go, **/test/**.sol, */lib/*.sol, packages/contracts-core/contracts/libs/*.sol, packages/contracts-core/script/**.sol, packages/contracts-core/test/**.sol, services/scribe/grpc/client/*, **/graphql/server/graph/resolver/*, **/mocks/**.go
