Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

refactor: remove unnecessary binding
  packages/sdk-router/src/abi/TokenZapV1.json
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/typechain/TokenZapV1.ts
Due: packages

feat: update to the latest SIP
  packages/sdk-router/src/abi/SynapseIntentPreviewer.json
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
  packages/sdk-router/src/typechain/SynapseIntentPreviewer.ts
Due: packages

chore: remove rookout
  agents/go.mod
  agents/go.sum
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/README.md
  core/metrics/base.go
  core/metrics/internal/const.go
  core/metrics/rookout.go
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Due: agents, screener-api, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe

feat: implement tracing package with OpenTelemetry and Pyroscope support
  packages/tracing/package.json
  packages/tracing/rollup.config.js
  packages/tracing/tsconfig.json
Due: none

chore: remove rookout (#3470)
  agents/go.mod
  agents/go.sum
  contrib/opbot/go.mod
  contrib/opbot/go.sum
  contrib/promexporter/go.mod
  contrib/promexporter/go.sum
  contrib/screener-api/go.mod
  contrib/screener-api/go.sum
  core/go.mod
  core/go.sum
  core/metrics/README.md
  core/metrics/base.go
  core/metrics/internal/const.go
  core/metrics/rookout.go
  ethergo/go.mod
  ethergo/go.sum
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
Due: agents, screener-api, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe

chore: add eslint config and test:coverage script
  packages/tracing/.eslintrc.cjs
  packages/tracing/package.json
Due: none

fix: Revert golangci and ratelimiter changes per review feedback
  .golangci.yml
  tools/.golangci.yml
  tools/abigen/internal/etherscan/ratelimiter.go
  tools/abigen/internal/etherscan/ratelimiter_test.go
Due: tools

feat: update to latest TokenZap
  packages/sdk-router/src/constants/addresses.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
  packages/sdk-router/src/rfq/zapData.test.ts
  packages/sdk-router/src/rfq/zapData.ts
Due: packages

fix: add return types and fix lint errors
  packages/tracing/src/middleware/express.ts
  packages/tracing/src/middleware/metrics.ts
  packages/tracing/src/pyroscope.ts
Due: none

chore: Revert golangci-lint configuration changes
  .golangci.yml
Due: none

refactor: better SavedParamsV1 names, rm applySlippage
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/engine/noOpEngine.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
  packages/sdk-router/src/rfq/paramsV2.test.ts
  packages/sdk-router/src/rfq/paramsV2.ts
  packages/sdk-router/src/rfq/sir.ts
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

fix(tools): Fix integer overflow in binary download backoff and update generated contracts
  services/rfq/contracts/testcontracts/dai/dai.abigen.go
  services/rfq/contracts/testcontracts/dai/dai.contractinfo.json
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.abigen.go
  services/rfq/contracts/testcontracts/fastbridgemock/fastbridgemock.contractinfo.json
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.abigen.go
  services/rfq/contracts/testcontracts/mockerc20/mockerc20.contractinfo.json
  services/rfq/contracts/testcontracts/usdc/usdc.abigen.go
  services/rfq/contracts/testcontracts/usdc/usdc.contractinfo.json
  services/rfq/contracts/testcontracts/weth9/weth9.abigen.go
  services/rfq/contracts/testcontracts/weth9/weth9.contractinfo.json
  tools/abigen/internal/solc/binary.go
  tools/abigen/internal/solc/binary_test.go
  tools/abigen/internal/solc/binary_test_helpers_test.go
Due: rfq, tools

feat: remove SYN from Intents temporarily
  packages/rest-api/src/constants/bridgeMap.ts
  packages/synapse-interface/constants/bridgeMap.ts
Due: none

feat: external API logging
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
Due: packages

fix: cap slippage at 1%
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
Due: packages

fix: try different logging approach
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
Due: packages

refactor: RouteInput
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/engine/noOpEngine.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
Due: packages

fix: increase ParaSwap timeout to 2s
  packages/sdk-router/src/rfq/engine/paraSwapEngine.test.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
Due: packages

fix: better max slippage handling
  packages/sdk-router/src/rfq/engine/defaultEngine.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
Due: packages

build: add winston
  packages/contracts-rfq/package.json
  yarn.lock
Due: solidity-rfq

fix: better logging
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
  packages/sdk-router/src/rfq/sirSet.ts
  packages/sdk-router/src/utils/logger.ts
Due: packages

build: yarn.lock
  yarn.lock
Due: none

refactor: unify external API step generation
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
  packages/sdk-router/src/rfq/engine/response.ts
Due: packages

fix: use pino
  package.json
  packages/contracts-rfq/package.json
  packages/sdk-router/package.json
  packages/sdk-router/src/utils/logger.ts
  yarn.lock
Due: solidity-rfq, packages

fix: lint issues in app.ts and update dependencies
  lerna.json
  packages/rest-api/package.json
  packages/rest-api/src/app.ts
  packages/synapse-constants/package.json
  packages/tracing/package.json
  tsconfig.build.json
  yarn.lock
Due: none

fix: logging order
  packages/sdk-router/src/rfq/api.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
  packages/sdk-router/src/rfq/sirSet.ts
Due: packages

feat: scaffold Odos
  packages/sdk-router/src/rfq/engine/odosEngine.test.ts
  packages/sdk-router/src/rfq/engine/odosEngine.ts
  packages/sdk-router/src/rfq/engine/swapEngine.test.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
Due: packages

feat: complete Odos
  packages/sdk-router/src/rfq/engine/engineSet.ts
  packages/sdk-router/src/rfq/engine/odosEngine.test.ts
  packages/sdk-router/src/rfq/engine/odosEngine.ts
  packages/sdk-router/src/rfq/engine/paraSwapEngine.ts
  packages/sdk-router/src/rfq/engine/response.ts
  packages/sdk-router/src/rfq/engine/swapEngine.ts
Due: packages

Adds staking syn for cx link
  packages/synapse-interface/components/layouts/LandingPageWrapper/index.tsx
  packages/synapse-interface/constants/routes.ts
  packages/synapse-interface/constants/urls/index.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
Due: none

Feat: add Reason to rfq db model
  services/rfq/relayer/reldb/base/model.go
  services/rfq/relayer/reldb/db.go
Due: rfq

Feat: always store db record even if tokens are invalid
  services/rfq/relayer/service/handlers.go
Due: rfq

Feat: add GasPriceTTL param
  ethergo/submitter/config/config.go
Due: ethergo

Feat: reset gas price from prev tx if ttl exceeded
  ethergo/submitter/config/config.go
  ethergo/submitter/config/iconfig_generated.go
  ethergo/submitter/submitter.go
Due: ethergo

Cleanup: lint
  services/rfq/relayer/service/handlers.go
Due: rfq

fix: Odos logger
  packages/sdk-router/src/rfq/engine/odosEngine.ts
Due: packages

fix: native token address in Odos
  packages/sdk-router/src/rfq/engine/odosEngine.ts
Due: packages

chore: log API requests
  packages/sdk-router/src/rfq/api.ts
Due: packages

Fix: integration tests
  services/rfq/testutil/contracttypeimpl_string.go
  services/rfq/testutil/deployers.go
  services/rfq/testutil/typecast.go
Due: rfq
