Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

fix(sdk-router): handle decimal CCTP v2 minimum fee parsing
  packages/sdk-router/src/cctpV2/api.test.ts
  packages/sdk-router/src/cctpV2/api.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.test.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.ts
Due: packages

fix(sdk-router): derive CircleCCTPV2 estimatedTime from finality
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.ts
Due: packages

fix(sdk-router): simplify CCTP v2 minimumFee decimal parsing
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.test.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.ts
Due: packages

test(sdk-router): cover CircleCCTPV2 estimatedTime policy
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.test.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages

fix(sdk-router): fail closed on unmappable CCTP v2 finality
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.test.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.ts
Due: packages

docs(sdk-router): sync cctp v2 forwarder spec with progress
  spec_cctp_v2_forwarder.md
Due: none

fix(sdk-router): encode CCTPv2 synapseTxId with origin chain
  packages/sdk-router/src/cctpV2/cctpV2Module.test.ts
  packages/sdk-router/src/cctpV2/cctpV2Module.ts
  packages/sdk-router/src/sdk.test.ts
  spec_cctp_v2_forwarder.md
Due: packages

refactor: rename CircleCCTPV2 to CCTPv2 across sdk-router
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/README.md
  packages/sdk-router/src/cctpV2/cctpV2Module.test.ts
  packages/sdk-router/src/cctpV2/cctpV2Module.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.test.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.ts
  packages/sdk-router/src/sdk.test.ts
  packages/sdk-router/src/sdk.ts
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
  spec_cctp_v2_forwarder.md
Due: packages

fix(sdk-router): disable CCTPv2 /v2/messages caching
  packages/sdk-router/src/cctpV2/api.test.ts
  packages/sdk-router/src/cctpV2/api.ts
Due: packages

fix: lint
  packages/sdk-router/src/cctpV2/api.test.ts
  packages/sdk-router/src/cctpV2/cctpV2Module.test.ts
  packages/sdk-router/src/cctpV2/cctpV2Module.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.ts
Due: packages

fix(sdk-router): handle CONFIRMED forward state and add relay delay
  packages/sdk-router/src/cctpV2/cctpV2Module.test.ts
  packages/sdk-router/src/cctpV2/cctpV2Module.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.test.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.ts
  packages/sdk-router/src/sdk.test.ts
  spec_cctp_v2_forwarder.md
Due: packages

chore: rm spec
  spec_cctp_v2_forwarder.md
Due: none

chore: restore interface thunk and sdk-router docs from master
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/README.md
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
Due: packages

Revert "chore: restore interface thunk and sdk-router docs from master"
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/README.md
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
Due: packages

fix(sdk-router): correct CCTP v2 USDC checksums
  packages/sdk-router/src/constants/cctpV2.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages

Clean up CCTP v2 estimated times
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.test.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.ts
  packages/sdk-router/src/sdk.test.ts
Due: packages

Reapply "chore: restore interface thunk and sdk-router docs from master"
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/README.md
  packages/synapse-interface/slices/bridgeQuote/thunks.ts
Due: packages

test(sdk-router): align paused getModuleSet expectations
  packages/sdk-router/src/sdk.test.ts
Due: packages

feat: etherscanV2 support
  packages/solidity-devops/js/utils/chain.js
Due: none

feat: optional blockscout key
  packages/solidity-devops/js/utils/chain.js
Due: none

chore: trigger sdk-router release
  packages/sdk-router/README.md
Due: packages

build: add new chains to config
  packages/contracts-rfq/foundry.toml
Due: solidity-rfq

chore: lint
  packages/solidity-devops/js/utils/chain.js
Due: none

fix(sdk-router): skip router integration suites
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
Due: packages

Revert "chore: trigger sdk-router release"
  packages/sdk-router/README.md
Due: packages

fix(sdk-router): skip router integration suites (#3978)
  packages/sdk-router/src/router/synapseCCTPRouter.test.ts
  packages/sdk-router/src/router/synapseRouter.test.ts
Due: packages

Publish
  packages/rest-api/CHANGELOG.md
  packages/rest-api/package.json
  packages/sdk-router/CHANGELOG.md
  packages/sdk-router/package.json
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

docs: add synapse-interface ETA spec
  spec_synapse_interface_bridge_eta_display.md
Due: none

feat(synapse-interface): compact bridge eta labels
  packages/synapse-interface/__tests__/time.test.ts
  packages/synapse-interface/components/StateManagedBridge/BridgeExchangeRateInfo.tsx
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/utils/time.ts
Due: none

fix(synapse-interface): start countdown after confirm
  packages/synapse-interface/__tests__/getPendingBridgeTransactionTrackingData.test.ts
  packages/synapse-interface/components/_Transaction/components/AnimatedProgressBar.tsx
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
  packages/synapse-interface/slices/transactions/actions.ts
  packages/synapse-interface/utils/getPendingBridgeTransactionTrackingData.ts
  packages/synapse-interface/utils/hooks/use_TransactionsListener.ts
Due: none

fix(sdk-router): resolve CCTP v2 lint warnings
  packages/sdk-router/src/cctpV2/api.ts
  packages/sdk-router/src/cctpV2/cctpV2Module.ts
  packages/sdk-router/src/cctpV2/cctpV2ModuleSet.ts
Due: packages

fix(synapse-interface): restore eta remaining translations
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/tr.json
Due: none

fix(synapse-interface): rerun transactions listener on account resolve
  packages/synapse-interface/utils/hooks/use_TransactionsListener.ts
Due: none

docs: remove synapse-interface ETA spec
  spec_synapse_interface_bridge_eta_display.md
Due: none

fix(synapse-interface): restore master transaction ETA behavior
  packages/synapse-interface/components/_Transaction/components/TimeRemaining.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
Due: none

Use floored unix seconds for current time
  packages/synapse-interface/utils/time.ts
Due: none

docs: add spec for pause and chain warning cleanup
  packages/synapse-interface/spec_remove_chain_and_global_pause_configs.md
Due: none

chore(synapse-interface): clear shipped pause artifacts
  packages/synapse-interface/README.md
  packages/synapse-interface/public/pauses/v1/examples/paused-bridge-modules-example.json
  packages/synapse-interface/public/pauses/v1/examples/paused-chains-example.json
  packages/synapse-interface/public/pauses/v1/paused-bridge-modules.json
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

refactor(synapse-interface): remove hardcoded chain warnings
  packages/synapse-interface/components/Warning.tsx
  packages/synapse-interface/constants/impairedChains.tsx
  packages/synapse-interface/messages/ar.json
  packages/synapse-interface/messages/en-US.json
  packages/synapse-interface/messages/es.json
  packages/synapse-interface/messages/fr.json
  packages/synapse-interface/messages/jp.json
  packages/synapse-interface/messages/tr.json
  packages/synapse-interface/messages/zh-CN.json
  packages/synapse-interface/pages/state-managed-bridge/index.tsx
Due: none
