Repository synapsecns/sanguine: changes, and which Codecov flags are due for each by the changed paths.
All: agents, committee, sin-executor, screener-api, git-changes-action, release-copier-action, terraform-provider-helmproxy, terraform-provider-iap, terraform-provider-kubeproxy, tfcore, core, ethergo, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer, solidity-core, solidity-rfq, tools, packages

.codecov.yml:

codecov:
  require_ci_to_pass: false
# Team Yaml
coverage:
  round: down
  precision: 5

  status:
    project:
      default:
        target: auto
        threshold: 25%
    patch:
      default:
        threshold: 5%

# from go.work file
flags:
  # note: go.work flags should be in order of the directory structure
  # also, if you're using multiple module names, you're doing something wrong
  agents:
    paths:
      - agents/
    carryforward: true
  committee:
    paths:
      - committee/
    carryforward: true
  sin-executor:
    paths:
      - sin-executor/
    carryforward: true
  screener-api:
    paths:
      - contrib/screener-api/
    carryforward: true
  git-changes-action:
    paths:
      - contrib/git-changes-action/
    carryforward: true
  release-copier-action:
    paths:
      - contrib/release-copier-action/
    carryforward: true
  terraform-provider-helmproxy:
    paths:
      - contrib/terraform-provider-helmproxy/
    carryforward: true
  terraform-provider-iap:
    paths:
      - contrib/terraform-provider-iap/
    carryforward: true
  terraform-provider-kubeproxy:
    paths:
      - contrib/terraform-provider-kubeproxy/
    carryforward: true
  tfcore:
    paths:
      - contrib/tfcore/
    carryforward: true
  core:
    paths:
      - core/
    carryforward: true
  ethergo:
    paths:
      - ethergo/
    carryforward: true
  cctp-relayer:
    paths:
      - services/cctp-relayer/
  rfq:
    paths:
      - services/rfq/
    carryforward: true
  explorer:
    paths:
      - services/explorer/
    carryforward: true
  omnirpc:
    paths:
      - services/omnirpc/
    carryforward: true
  scribe:
    paths:
      - services/scribe/
    carryforward: true
  stiprelayer:
    paths:
      - services/stiprelayer/
    carryforward: true
  solidity-core:
    paths:
      - packages/contracts-core/
    carryforward: true
  solidity-rfq:
    paths:
      - packages/contracts-rfq/
    carryforward: true
  tools:
    paths:
      - tools/
    carryforward: true
  packages:
    paths:
      - packages/coverage-aggregator/
      - packages/explorer-ui/
      - packages/sdk-router/
      - packages/widget/
    carryforward: true

ignore:
  - '**/*_generated.go'
  - '**/*.abigen.go'
  - '**/*_string.go'
  - '**/*_gen.go'
  - '**/*.pb.go'
  # solidity test files
  - '**/test/**.sol'
  - '*/lib/*.sol'
  - 'packages/contracts-core/contracts/libs/*.sol'
  - 'packages/contracts-core/script/**.sol'
  - 'packages/contracts-core/test/**.sol'
  - 'services/scribe/grpc/client/*'
  - '**/graphql/server/graph/resolver/*'
  - '**/mocks/**.go'

generic lint fixer
  .yamllint.yml
Due: none

omnirpc doc fixes (#2637)
  .yamllint.yml
  agents/go.mod
  agents/go.sum
  committee/go.mod
  committee/go.sum
  contrib/promexporter/go.sum
  docs/bridge/docs/Services/Omnirpc.md
  services/cctp-relayer/go.mod
  services/cctp-relayer/go.sum
  services/explorer/go.mod
  services/explorer/go.sum
  services/omnirpc/README.md
  services/omnirpc/go.mod
  services/omnirpc/go.sum
  services/omnirpc/modules/confirmedtofinalized/finalizedproxy.go
  services/omnirpc/modules/harmonyproxy/harmonyproxy.go
  services/omnirpc/proxy/server.go
  services/omnirpc/swagger/collection.json
  services/omnirpc/swagger/gen.sh
  services/omnirpc/swagger/generate.go
  services/omnirpc/swagger/generator/main.go
  services/omnirpc/swagger/openapi.yaml
  services/rfq/go.mod
  services/rfq/go.sum
  services/scribe/go.mod
  services/scribe/go.sum
  services/stiprelayer/go.mod
  services/stiprelayer/go.sum
  sin-executor/go.mod
  sin-executor/go.sum
Due: agents, committee, sin-executor, cctp-relayer, rfq, explorer, omnirpc, scribe, stiprelayer

fix typo
  services/omnirpc/README.md
Due: omnirpc

fix typo (#2638)
  services/omnirpc/README.md
Due: omnirpc

Update bl
  packages/synapse-interface/public/blacklist.json
Due: none

change threshold
  committee/devnet/provisioner/provisioner.go
Due: committee

Feat: add logManualTransfers() helper upon submitter startup
  ethergo/submitter/config/config.go
  ethergo/submitter/submitter.go
Due: ethergo

Feat: set NoSend=true
  ethergo/submitter/submitter.go
Due: ethergo

lmao
  committee/devnet/provisioner/provisioner.go
Due: committee

based
  committee/devnet/provisioner/provisioner.go
Due: committee

based
  docker/committee-devnet/config/committee-config3.yml
  docker/committee-devnet/docker-compose.yml
Due: none

Feat: add logs
  ethergo/submitter/submitter.go
Due: ethergo

comment
  committee/devnet/provisioner/provisioner.go
Due: committee

Fix: use MarshalBinary()
  ethergo/submitter/submitter.go
Due: ethergo

add sender
  committee/devnet/README.md
  committee/devnet/cmd/commands.go
  committee/devnet/config/config.go
  committee/devnet/provisioner/provisioner.go
  committee/devnet/sender/sender.go
  committee/devnet/senderconfig.yml
Due: committee

readme
  committee/devnet/README.md
Due: committee

Add SPECTRAL token support
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
Due: packages

Add SPECTRAL token support (#2640)
  packages/widget/src/constants/bridgeMap.ts
  packages/widget/src/constants/bridgeable.ts
  packages/widget/src/types/index.d.ts
Due: packages

Read chain + module pause from local storage
  packages/widget/src/index.tsx
Due: packages

Publish
  packages/synapse-interface/CHANGELOG.md
  packages/synapse-interface/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: packages

Maintenance components rendering based off of fetched pause data
  packages/widget/src/components/Maintenance/EventCountdownProgressBar.tsx
  packages/widget/src/components/Maintenance/LinearAnimatedProgressBar.tsx
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Maintenance/MaintenanceWarningMessage.tsx
  packages/widget/src/components/Maintenance/useMaintenanceCountdownProgress.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/hooks/useIntervalTimer.ts
  packages/widget/src/index.tsx
  packages/widget/src/state/slices/bridge/reducer.ts
  packages/widget/src/utils/getSynapsePauseData.ts
  packages/widget/src/utils/isChainIncluded.ts
Due: packages

Pause Bridge button based on Maintenance status
  packages/widget/src/components/BridgeButton.tsx
  packages/widget/src/components/Widget.tsx
Due: packages

Simulate various pauses
  packages/synapse-interface/public/pauses/v1/paused-bridge-modules.json
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

Filter quotes based on paused modules
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/state/slices/bridgeQuote/hooks.ts
  packages/widget/src/utils/getSynapsePauseData.ts
Due: packages

Update
  packages/synapse-interface/public/pauses/v1/paused-bridge-modules.json
  packages/synapse-interface/public/pauses/v1/paused-chains.json
Due: none

Use user defined styling or defaults
  packages/widget/src/components/Maintenance/EventCountdownProgressBar.tsx
  packages/widget/src/components/Maintenance/Maintenance.tsx
  packages/widget/src/components/Maintenance/MaintenanceWarningMessage.tsx
  packages/widget/src/components/Widget.tsx
  packages/widget/src/utils/getSynapsePauseData.ts
Due: packages

Style Progress Bar
  packages/widget/src/components/Maintenance/EventCountdownProgressBar.tsx
Due: packages
